[2021-01-07 08:12] velias commented on #579
Closing as PR has been merged

[2021-01-07 08:12] #579 closed

[2021-01-07 13:07] t1 opened #587 "NoClassDefFoundError in DefaultDataFetcher"
When I don't have MP Context Propagation on the classpath, I get a `NoClassDefFoundError` from the `DefaultDataFetcher`, which has a hard dependency.

[2021-01-07 13:25] jmartisk commented on #587
Context Propagation is now a required dependency. We talked about this in https://github.com/smallrye/smallrye-graphql/issues/567 so I think this will not be fixed.

[2021-01-07 18:55] t1 commented on #581
I think that it sometimes may be more convenient to add the parameterized field directly to the Type. IMHO we should keep this feature request open.

[2021-01-08 06:13] t1 commented on #587
so this is a duplicate... closing

[2021-01-08 06:13] #587 closed

[2021-01-08 22:47] vargadan opened #588 "power-annotations Mixin example doesn't work"
Hello

I'm trying to get power-annotations working and figured that the provided Mixin example (which would be a killer feature by the way) fails with "annotation type not applicable to this kind of declaration" because @org.eclipse.microprofile.graphql.Id cannot be applied to classes.
[code]
However, based on the examples in the TCK I tried with:
[code]
Yet, this also fails:
Caused by: java.lang.

[2021-01-09 06:36] phillip-kruger commented on #588
@t1

[2021-01-12 06:48] t1 commented on #588
I'm going to take a look into this as soon as I can. I'm really glad for the first feedback, so I definitely will.

It would be a super-killer feature if all JEE+MP standards would require implementations to support it ;-)

[2021-01-12 12:08] t1 opened #590 "Batch: CompletionException can not be unpacked"
I have a batch resolver that throws an exception. The response then contains for every entry the same error (which is okay), but it's only a `java.util.concurrent.CompletionException` with error code `completion`, but I need access to the exception that caused the failure. It doesn't help to add the `CompletionException` to the `smallrye.graphql.unwrapExceptions` config.

[2021-01-12 12:16] phillip-kruger commented on #590
Are you fixing this ?

[2021-01-13 18:34] snuxoll opened #592 "Batched queries are always cached by underlying implementation"
graphql-java caches queries resolved by a BatchLoader by default, which caused me much confusion working on a prototype using smallrye until I started digging through the call stack when debugging to figure out why my queries were only getting execution once. Smallrye should either disable the caching entirely when creating the BatchLoader or make it configurable.

Some personal input: I think hav

[2021-01-13 20:23] snuxoll commented on #592
@phillip-kruger it caches the results of the query. I can write a minimal sample, but any query that takes a `@Source` annotated list reproduces this behavior - just set a breakpoint in your debugger, it will hit the first time and then won’t again until you manage to get the results evicted from graphql-java’s internal cache.

[2021-01-13 20:25] phillip-kruger commented on #592
Yea that does not sound right at all. Result caching should be done by the developer, typically with `@Cache` for example in Quarkus. I'll investigate. Thanks.

[2021-01-13 20:31] snuxoll commented on #592
https://github.com/smallrye/smallrye-graphql/blob/4484cc6de6634fab8466875b3171f8a671f927d9/server/implementation/src/main/java/io/smallrye/graphql/bootstrap/Bootstrap.java#L727

The issue is here I’m guessing, batches queries are the only place smallrye uses DataLoader’s and caching is enabled by default - calling setCaching(false) on the DataLoaderOptions should be sufficient.

[2021-01-13 21:04] snuxoll commented on #592
Actually, I'm totally wrong with where the problem lies. The DataLoader cache is doing exactly what we'd want it to do, if a source object was retrieved by multiple different parent queries the internal cache would prevent re-fetching of the same data within the request. Or at least, it would - but smallrye only constructs a single global GraphQL instance in the `@ApplicationScope`d ExecutionServi

[2021-01-14 05:56] phillip-kruger commented on #592
Hi @snuxoll - thatnks for the investigation and details !
You are welcome to fix and do a PR ? Else I will do this a.s.a.p.

[2021-01-14 17:30] snuxoll commented on #592
<img width="2605" alt="Screen Shot 2021-01-14 at 10 24 19 AM" src="https://user-images.githubusercontent.com/36403/104626226-dffae180-5652-11eb-82c0-6aab56ccc284.png">

Okay, well - that only got us part way there after doing some more debugging. I cherry-picked this commit onto the 1.0.20 tag and reproduced the issue still. Upon further inspection, it seems the hole goes deeper and the DataLoader

[2021-01-14 18:17] phillip-kruger commented on #592
Hi @snuxoll ! Thanks for the feedback, this is awesome. Ok, let's see what we can do there ....

[2021-01-14 18:47] phillip-kruger commented on #592
Again - you are welcome to propose a fix in a PR :)

[2021-01-14 23:30] snuxoll commented on #592
@phillip-kruger I'd be happy to take a stab at it, but given the ExecutionService is currently built around having the DataLoaderRegistry passed into it, and Bootstrap is responsible for configuring it there would need to be some rethinking of how and where these components connect to each other.

[2021-01-15 05:13] phillip-kruger commented on #592
@snuxoll - no worries I can also have a look. Maybe you can share the reproducer ?

[2021-01-15 19:49] snuxoll commented on #592
Here's a reproducable example: https://github.com/snuxoll/smallrye-graphql-cache-example

[2021-01-16 05:59] phillip-kruger commented on #592
Thanks @snuxoll - I'll have a look a.s.a.p.

[2021-01-20 08:41] phillip-kruger commented on #590
@t1 - do you have a reproducer, I want to look at fixing this

[2021-01-21 04:18] t1 commented on #590
I have it only nested in our application, but it would be something like this:

[code]

I think unwrapping the `CompletionException` should be okay for everybody: I can't think of any use case for seeing this technical detail. If someone objects, using the `smallrye.graphql.unwrapException` would be a fallback.

[2021-01-21 07:28] phillip-kruger commented on #590
@t1 - Thanks, yes we do unwrap when not batch, so this is a batch specific issue. I'll have a look
Thanks :)

[2021-01-21 07:53] #592 closed

[2021-01-21 16:57] t1 commented on #465
We've have exactly this issue in a project and talked about possible solutions. My current favorite is to use an annotation on another parameter, i.e.:

[code]

This would create a query like this:

[code]

The `@NestedParameter` takes an expression to locate the position of the parameter within the query.

What do you think?

[2021-01-22 04:41] t1 commented on #465
@erikhh:  I created a PR. Maybe you can try it out if it suits your use case?

[2021-01-22 04:57] t1 opened #611 "Typesafe Client: support for aliases"
I want to create a query with aliases, e.g.:

[code]

The API interface looks like this:

[code]

Open question: how should `HeroAndEnemyHQ` be annotated?

The path of nested parameters (#465) will have to use the alias instead of the field name.

[2021-01-24 14:57] mutasemhidmi commented on #286
Any update regarding this? i think it's a valid use case

[2021-01-25 03:44] phillip-kruger commented on #286
No update on this. You are welcome to provide a PR !!! :)

[2021-01-25 04:41] t1 commented on #286
I guess chances would increase, if you would provide a tangible suggestion how the syntax would work exactly.

[2021-01-25 11:20] #588 closed

[2021-01-26 08:34] phillip-kruger commented on #590
@t1 - I am battling to fix this. Have tried multiple approaches, but get stuck .... need to think about this a bit more....I am moving this to 1.0.22 (I need to do a release, and I am not going to be in time to get this in).

If you have any ideas, please let me know...

[2021-01-26 14:54] mutasemhidmi commented on #286
@t1 this is the official link for relay server side specification (https://relay.dev/docs/en/graphql-server-specification.html). The level of schema starts by connection -> edges -> node -> your (table row, collection document). The changes that need to be done is that you have a general type Node that has an id of type ID!, this type is usually base64 encoded and it should be used in all the ((ta

[2021-01-29 07:55] #465 closed

[2021-01-29 09:00] #590 closed

[2021-01-31 09:15] velias commented on #286
Connection and Edge part is available in my [generics example](https://github.com/velias/quarkus-qraphql-generics-example/tree/master/src/main/java/com/github/velias/quarkus_graphql_generics_example/pager). Node is not here but can be added easily

[2021-01-31 16:10] pipinet opened #622 "Batch load for graphql.relay.Connection"
see: https://github.com/quarkusio/quarkus/issues/14721

[2021-02-02 07:02] t1 opened #623 "NPE in Typesafe Client when there are no Extenstions in an error"
[code]

[2021-02-02 07:25] t1 opened #624 "Typesafe Client: use `@Name` on method"
When a method is named with `@Name`, use that name instead of the method name.

[2021-02-02 07:30] phillip-kruger commented on #624
Yes or the JsonB counterpart. So First check name, then JsonB then methodName.

[2021-02-02 14:43] pipinet commented on #585
@t1 like this.

[2021-02-03 15:00] daniel-chelcioiu opened #627 "Support for multiple queries in same request (Client)"
Is there a possibility to make multiple queries in same request ?
Example:
`{
    findHero(id: 1) {
         name
    }
    findVillain(id: 2) {
        name
    }
}`

In this case there are 2 queries that are made in the same http request. Is this possible with current client API ?

P.S. This is a great API, great work. :)

[2021-02-03 15:03] phillip-kruger commented on #627
@t1 ^^^

[2021-02-03 16:17] phillip-kruger opened #628 "Support custom directive"
see https://github.com/eclipse/microprofile-graphql/issues/344

[2021-02-03 16:40] t1 commented on #521
Maybe it would be sufficient to create a separate library like `smallrye-graphql-federation` that contains the required types and some [custom directives](https://github.com/eclipse/microprofile-graphql/issues/344)?

[2021-02-03 20:52] mutasemhidmi commented on #286
i tried adding generic types

@Query("allWorkOrders")
    public List<Edge<OrderDTO>> allOrders()

public class Edge<T> implements IEdge<T> {
    private T node;

    public T getNode() {
        return node;
    }

    public void setNode(T node) {
        this.node = node;
    }
}

public interface IEdge<T> {
    public T getNode();
}

and I'm getting this error when I call the API (Validation e

[2021-02-15 07:52] t1 opened #634 "Typesafe Client: don't reuse RestClient instance and close when closeable"
The `GraphQlClientBuilderImpl` uses a constant for `ClientBuilder.newClient()`, but that means registered filters will be reused for other clients.

And the MP Rest Client closes some things when the interface is closeable; we should do the same.

[2021-02-15 12:04] jmartisk commented on #627
With how the client is designed now (client is basically a proxy object where each method corresponds to a query) it's a bit hard for me to imagine how that would work - how we would "join" two queries - two method calls - together into one.
We could do this by supporting adding some special new methods to the relevant `@GraphQlClientApi` interface, but it's not clear what the return type should b

[2021-02-15 12:38] jmartisk commented on #627
After talking to @phillip-kruger it seems I missed how there is already some draft API in the spec repository and SmallRye doesn't support it yet, so I think I'll need to look into that

[2021-02-15 13:07] jmartisk opened #635 "Dynamic client implementation"
An implementation of this https://github.com/eclipse/microprofile-graphql/tree/19c08db335e969a4ae686baa3d204753a494aa5f/client , preferably using pure HTTP (no JAX-RS client dependency)
I assume that much of DynaQL (https://github.com/worldline/dynaql) can be reused

[2021-02-15 13:09] jmartisk commented on #627
I filed https://github.com/smallrye/smallrye-graphql/issues/635 - this should cover it once implemented.

[2021-02-15 17:47] t1 commented on #627
Just a raw thought: we now have nested params (#465); maybe an alternative could be to use a wrapper return type, i.e.

[code]

This already produces:

[code]

We could create a new annotation like `@Unwrap` on the method, to get rid of the `findHeroAndVillain()` field in the query. Would that be too much magic? Any better name for this annotation?

[2021-02-15 20:59] phillip-kruger opened #636 "Bean validation does not seem to work"
While playing with an API, I noticed that `@Email` does not seem to work.
Seems like top level works ok, eg:

[code]

But as soon as an POJO contain bean validation fields, validation is not applied.

Also maybe `javax.validation.ValidationException` should be on the default accept (show) error list even though it's a Runtime Exception

[2021-02-16 05:42] t1 commented on #636
IIRC you have to put `@Valid` on the POJO param, at least that's what you have to do in JAX-RS.

I'm very much in favor of showing the validation message. I'd even like to have the full details in the extensions, so a GUI client could properly display validation errors.

[2021-02-16 06:40] phillip-kruger commented on #636
Yes !! I forgot that. Great ! Thanks. It is actually working :) Sorry about the false alarm :) Closing....

[2021-02-16 06:40] #636 closed

[2021-02-19 10:17] patope opened #642 "Add getInstance as a way to do mapping."
JsonB is on static field on execution service. I'd like to use quarkus customized jsonb bean instance instead.

https://github.com/smallrye/smallrye-graphql/blob/master/server/implementation/src/main/java/io/smallrye/graphql/execution/ExecutionService.java#L55

[2021-02-19 10:33] phillip-kruger commented on #642
Hi @patope . We can look into how to make this plugable. Maybe you can provide more detail on your use case ? What are you trying to do ?

[2021-02-19 10:37] patope commented on #642
Hi! I'm trying to use java.util.Currency type on input type. By default jsonb cannot deserialize this type. I tried to define JsonbCustomizer in quarkus, but this does not seem to have any effect

[code]

[2021-02-19 10:55] phillip-kruger commented on #642
Can you share your GraphQLApi code as well ?

Maybe we can use `@ToScalar` since that is what seems to happen here ? You are trying to map between a String and a complex type. Right ?

See https://quarkus.io/blog/experimental_graphql/#transformation-and-mapping

[2021-02-19 11:11] patope commented on #642
Yes. Currency accepts ISO 4217 currency code as string. I want to map these back and forth.
[code]

[2021-02-19 11:12] patope commented on #642
Query example

[code]

[2021-02-19 11:42] phillip-kruger commented on #642
What happens if you `@ToScalar` on the Currency field ?

[2021-02-19 11:51] phillip-kruger commented on #642
OK, Currency has a `getInstance` method. With a small change, we can support that for `@ToScalar`. I'll add that to SmallRye.

You data class will then look like this:

[code]

[2021-02-19 11:52] phillip-kruger commented on #642
Will that work for you ?

[2021-02-19 12:12] patope commented on #642
@ToScalar(Scalar.String.class)
    public Currency currency;

gives
[code]

[2021-02-19 12:23] patope commented on #642
yes. Thanks!

[2021-02-22 19:31] phillip-kruger commented on #642
Hi @patope

So the fix was not as simple as initially thought, mostly because `java.util.Currency` is typically not indexed in Jandex and also do not have a default constructor. So once the above PR is merged (and released and available in Quarkus) you should be able to do something like this in your `Data` class:

[code]

Unfortunately you are going to need both annotations, but that does work. T

[2021-02-22 20:11] #642 closed

[2021-02-22 20:15] phillip-kruger commented on #585
Also see #622

[2021-02-23 09:01] patope commented on #642
@phillip-kruger This will work for me. Thanks!

[2021-02-23 09:03] phillip-kruger commented on #642
Great. Changes should make it into Quarkus 1.12.1.Final.

[2021-02-24 12:38] phillip-kruger opened #650 "Input naming should only append Input if using the className to name the type."
from https://github.com/eclipse/microprofile-graphql/issues/285

cc @redmitry

[2021-02-24 12:45] phillip-kruger commented on #650
We potentially need a test in the TCK for this.

[2021-02-24 13:32] #650 closed

[2021-02-24 18:32] skallio opened #654 "Issue with GraphQLClientApi Mutation"
I have a simple GraphQL server and a Kotlin client as follows:

[code]
The server works when using the graphql-ui with the mutation:
[code]
But my Kotlin client does not send the same mutation. This is what comes to the server log:

[code]
Why the name createPerson is there twice?

When debugging the client I also noticed that in io.smallrye.graphql.client.typesafe.impl.QueryBuilder

[code]

graph

[2021-02-25 06:42] phillip-kruger commented on #654
@t1 @jmartisk

[2021-02-25 07:05] t1 commented on #654
I remember that Kotlin handles annotations a little bit different from Java (e.g. [here](https://stackoverflow.com/questions/52079539/junit-5-test-with-a-field-annotated-as-registerextension-doesnt-work-in-kotl/52079540)). Maybe you need to add a `@JvmField` annotation somewhere or something like that. The strange thing is that the type turns out to be an empty string without throwing an exception

[2021-02-25 08:25] skallio commented on #654
Thanks. I couldn't figure out where to add `@JvmField` but I tried to convert my GraphQlClientApi interface to Java. I have exactly the same problem with the following Java interface. The query works but the mutation generates the same invalid graphql as above.
[code]

[2021-02-25 13:16] franden opened #656 "client: add support for microprofile-fault-tolerance"
It would be great if microprofile-fault-tolerance will be supported by smallrye-graphql-client like it is defined for Rest Client for MicroProfile.

We use smallrye-graphql-client to communicate from our backend with 3rd party service, which provides a GraphQL API. The 3rd party service may be used via A) slow but reliable service bus URL or B) fast but less reliable direkt connection.

Use cases:

[2021-02-25 13:52] t1 commented on #654
I've tried to reproduce it, even with Kotlin, but everything worked as expected. Could you provide a little demo showing only the client side problem? We don't need the service, as the query is logged before the call is actually done.

[2021-02-26 09:52] skallio commented on #654
Thank you. I was able to isolate the issue in a small example:
https://github.com/skallio/graphql-person-client

The issue seems to appear when using the @Input annotation in the input data class. See the two commits https://github.com/skallio/graphql-person-client/commit/a883d05199d19f52ad10f23f4160c43aece39f0b. The first one generates valid graphql, the second one does not.

[2021-02-26 15:02] t1 commented on #654
Okay, I see. So this is a bug. I will fix it. As a workaround, you can simply omit the `@Input`; it's not needed here. It's only required if you want to explicitly specify the input name.

[2021-02-26 17:13] t1 commented on #299
I think we should add an `instance` extension, too; probably an UUID. This would be logged on the server, so when the client reports an error, it's easy to find the exact request without relying on the timestamp or so. In rfc-7807, it's an URI, so it could be an URN like `urn:uuid:1234-1232534-...` or an URL directly into the logging system.

[2021-02-28 03:22] benlammel opened #661 "Enrich schema at runtime dynamically"
I was wondering if it is possible to enrich the schema at runtime dynamically.

Scenario:
multi-tenancy environment.
Tenant is identified by path param (uri) or value/variable in query.

Every tenant has the same basic "hard coded" schema artefacts but can create/model more types (therefore also query and mutation ops) dynamically, which are saved in a dedicated data storage.

So, the schema needs

[2021-02-28 06:16] t1 commented on #661
I guess adding a fully dynamic schema would be very difficult to build in, as smallrye-graphql binds to Java classes; so also the execution would need to be routed differently. This is a completely different concept.

Maybe it would be better to write something based directly on graphql-java or so.

OTOH it might be possible that your use-case could be served with GraphQL Federation, which we plan

[2021-02-28 13:26] benlammel commented on #661
thanks for your reply. I totally understand that this follows a different concept.
I'll definitely subscribe to the federation enhancement.

[2021-02-28 13:26] #661 closed

[2021-03-01 09:32] phillip-kruger commented on #661
You can get hold of the underlying graphql-java and try and do it there. Or if everything is dynamic, just use that.

[2021-03-01 09:40] #654 closed

[2021-03-01 10:18] #634 closed

[2021-03-01 17:42] giuseppeparello opened #663 "io.smallrye.graphql.api.Context is not updated with new queries"
Using inside a 1.12.0.RELEASE quarkus microservices:
 @Inject Context context;
and
DataFetchingEnvironment dfe = context.unwrap(DataFetchingEnvironment.class);

return always the first query and not the updated one in terms of
- dfe.getSelectionSet()
- context.getRequest()
 and so on.
Seems it has started from 1.0.19 and it is still present on 1.0.21

[2021-03-02 15:48] t1 opened #664 "Typesafe Client: clarify `assert` that a Collection is a List"

[2021-03-03 07:45] #664 closed

[2021-03-04 08:04] patope opened #666 "Regression: type Instant not found in schema"
After upgrading quarkus-1.12.1.Final. I'm getting this error...

[code]

[code]

[2021-03-04 08:13] phillip-kruger commented on #666
Thanks @patope , I'll have a look a.s.a.p

[2021-03-04 08:22] patope commented on #666
with quarkus 1.12.0. Graphql gives lot of warnings
[code]
IMO this is fine and warning is not necessary. Maybe debug or trace would be more suitable. All java.time.* can be String scalars.

[2021-03-04 08:32] phillip-kruger commented on #666
Those should actually be picked up by DateTime. I'll have a look a.s.a.p.

[2021-03-04 13:49] phillip-kruger commented on #663
Thanks. I will have a look to see what broke this.

[2021-03-05 06:57] t1 opened #667 "GraphiQL-UI with context-path"
The GraphiQL-UI doesn't work on, e.g., WildFly, because the application runs on a sub-path, e.g. `https://hostname/appname/graphql` but the `render.js` file defines the api path to be just `/graphql`.

If this path was defined to be relative to the actual path, it would work also on application servers.

[2021-03-05 07:37] phillip-kruger commented on #667
Thanks !
Are you doing a PR ?

[2021-03-05 07:40] t1 commented on #667
I'm not good at JavaScript ;-)

[2021-03-05 07:52] phillip-kruger commented on #667
Use this a learning opportunity ;)

[2021-03-05 08:22] jmartisk commented on #667
If you're using my feature pack in WildFly, this should not be an issue: https://github.com/wildfly-extras/wildfly-graphql-feature-pack/blob/1.1.0.Final/subsystem/src/main/java/org/wildfly/extension/microprofile/graphql/deployment/GraphiQLUIDeploymentProcessor.java#L113 - basically the deployment processor changes the `render.js` during deployment
This mechanism is somewhat brittle, so I assume th

[2021-03-08 12:00] janknobloch opened #672 "Question/Discussion: GraphQL Endpoint handling/parsing incoming HttpRequest headers"
Hi all,
im using a quarkus smallrye-graphql project and was wondering whats the best approach to parse header from the HTTPRequest (Post) incoming via the `@GraphQLEndpoint and  @Query `annotations respectively.

After some reading through different Issues in and out of smallrye, im uncertain on how to implement the needed functionality which is "simply" accessing send http request headers.

I fou

[2021-03-08 13:38] phillip-kruger commented on #672
This is a runtime issue, as runtimes can implement the transport layer themself and this is not mandated by the spec.

In Quarkus, the HTTP Transport is build on Vertx, so the easiest way to do this in Quarkus is to inject the Vertx RoutingContext:

[code]

Then you can look at the headers anywhere:

[code]

Let me know if this works for you.

[2021-03-08 13:44] janknobloch commented on #672
Thanks for pointing this out @phillip-kruger and also for the super quick reply.

Tested and looks good, sorry for bothering with a non specific graphql issue.

Ill close this, but maybe this helps other ppl around if they find this issue.

[2021-03-08 13:44] #672 closed

[2021-03-08 13:48] phillip-kruger commented on #672
No problem at all. Yes might be good to document this in the Quarkus GraphQL Guide.

I also updated my example (https://github.com/phillip-kruger/graphql-example) see https://github.com/phillip-kruger/graphql-example/blob/e4e4449bfe1b36691fe2861378091a7d1a9e015b/quarkus-example/src/main/java/com/github/phillipkruger/user/graphql/PersonGraphQLApi.java#L31

And now with the latest UI you can add hea

[2021-03-08 13:50] janknobloch commented on #672
very nice indeed. much love!

[2021-03-09 11:12] t1 commented on #663
We seem to have the same issue: to log all queries in a special format, we wrote a CDI interceptor with the Context injected. It looks like the context lags behind somehow. @phillip-kruger If you need more details, I could build a reproducer.

[2021-03-09 11:40] phillip-kruger commented on #663
That would help a lot ! Thanks @t1

[2021-03-12 18:00] t1 commented on #667
After googling a bit, I'd go with `window.location.href` and then make it relative. I assume that your ~~hack~~ solution won't be necessary any more ;-)

BTW: I'd love to go to the WF feature pack, but we have some way to go to get there and it's not the top priority. There also some issues that I didn't have the time to investigate enough to see what exactly is wrong. E.g. the zip you provide doe

[2021-03-13 09:03] jmartisk commented on #667
That gives you the location of the graphql-ui, not the location of the `/graphql` endpoint, which can potentially be different (Quarkus already has a configuration option to change it, I'm planning to add something like that for WildFly too)

There are three zips that appear in the `build/target` directory after building, see the README at https://github.com/wildfly-extras/wildfly-graphql-feature-

[2021-03-14 06:36] t1 commented on #667
I assumed that these are relative to each other, but if Quarkus has a configuration option, that may not be the case... hmmm... how does Quarkus do that, then, without patching the `render.js`?

I've opened https://github.com/wildfly-extras/wildfly-graphql-feature-pack/issues/49

[2021-03-14 07:13] t1 opened #679 "Unspecific error message when `beans.xml` is missing"
When I query a simple GraphQL war without a `beans.xml` on WildFly, I get an exception `SRGQL012000: Data Fetching Error: org.jboss.weld.exceptions.UnsatisfiedResolutionException: WELD-001334: Unsatisfied dependencies for type Boundary with qualifiers`.

It would be nicer to get an exception that indicates the cause of the problem or even better: to check this at deploy time.

[2021-03-14 08:00] t1 commented on #667
As a first step, I just wanted to prove that it's possible. What do you think?

[2021-03-14 10:35] #623 closed

[2021-03-15 09:13] jmartisk commented on #667
It seems Quarkus performs pretty much the same patching of render.js: https://github.com/quarkusio/quarkus/blob/1.12.2.Final/extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java#L498

[2021-03-15 09:25] phillip-kruger commented on #667
Yup, that is why I was suggesting we do that in SmallRye. Some java class (RenderJsCreator) that allows doing this.

[2021-03-15 11:03] t1 commented on #663
I can reproduce the problem in WildFly, when I make my `@GraphQLApi` also `@Stateless`: the instance of the `Context` being injected is effectively default-scoped, i.e. it depends on the lifetime of the bean it's injected into. EJBs are pooled, so they are reused for the next request, but still with the old `Context`; so all following requests see the same `Context` as the first request (under low

[2021-03-15 11:11] jmartisk commented on #667
That would be cool, I'm just not sure how to do it in a runtime-neutral way (that is without having to do a significant amount of wiring on the runtime side, which would defeat the purpose). The UI jar itself does not contain any Java classes, it's a set of static resources. But perhaps there is an easy way, I just don't see it right now.

[2021-03-15 11:13] t1 commented on #663
As a workaround, we use

[code]

[2021-03-15 12:47] jmartisk commented on #679
Good point, I suppose it should be possible to detect that a GraphQL deployment does not have `beans.xml`  - I tend to think the best would be to log a warning in this case, because without it, it's almost certain that GraphQL queries will not work.

[2021-03-16 08:07] shinji62 commented on #666
WE have the same issue there please :) @phillip-kruger

[2021-03-18 10:07] phillip-kruger commented on #666
Ok, I have a PR open for this. Just to explain what happened here.
`java.time.Instant` was never supported, but there was a fallback in place that treat all unknown's a String.
(that has been removed, as it can hide some issues)

This worked, even though this should really be a DateTime, so the PR does a proper fix by treating Instant as a DateTime.

Hope that will solve your issue.

[2021-03-18 10:12] #384 closed

[2021-03-18 10:28] #666 closed

[2021-03-18 12:44] jmartisk commented on #663
I think the problem is that  `GraphQLProducer.getContext()` which produces the `SmallRyeContext` produces it as `@Dependent`, so if the GraphQL endpoint bean has a longer lifespan than one HTTP request, then the context will be retrieved just once and then recycled for multiple requests.
One workaround is to use a request scoped `@GraphQLApi` endpoint, which effectively turns the `SmallRyeContext`

[2021-03-18 13:10] phillip-kruger commented on #663
Awesome thanks @jmartisk !

[2021-03-18 14:22] jmartisk commented on #663
I realized the solution from my previous comment is a nonsense, because we do need multiple contexts per HTTP request (each source field has its own), therefore a RequestScoped producer would help updating the context between requests, but not between source fields that are handled within one request.

@giuseppeparello, what CDI scope is your GraphQLApi? It seems that if it's Dependent (which is t

[2021-03-19 08:03] jmartisk commented on #663
So, in 1.0.18, it works as expected whatever the CDI scope of the `GraphQLApi` is, because the `SmallRyeContext` object is mutable and is updated every time before dispatching to application code. We then switched from a mutable object to an immutable object, and always set the ThreadLocal holding the context before dispatching to application code, but the problem is that the application obtains t

[2021-03-19 08:06] phillip-kruger commented on #663
Let do the proxy! Thanks @jmartisk

[2021-03-19 08:06] t1 commented on #663
I like the request scoped proxy decorator. This is exactly what we did to work around the issue, only out-of-the-box :-)

[2021-03-19 08:08] jmartisk commented on #663
Great, I'll try to implement that, I hope I didn't miss something and it will work ;)

[2021-03-19 08:11] t1 commented on #611
This is a subset of #627

[2021-03-19 08:20] t1 opened #693 "Typesafe Client: Use Jandex instead of Reflection"
And support `@JsonbProperty` in addition to `@Name` annotations.

This is a prerequisite of #316.

[2021-03-19 09:34] t1 commented on #679
I'd prefer the deployment to fail early if it won't work anyway. A warning is not strong enough indicator that something is broken.

[2021-03-19 09:53] #663 closed

[2021-03-19 09:54] #624 closed

[2021-03-19 15:30] t1 commented on #627
Fixed!

I found `@Multi` more descriptive than `@Unwrap`. Do you agree?

[2021-03-19 15:57] t1 commented on #611
No, it's not a subset, but it depends on #627.

[2021-03-19 16:06] t1 commented on #611
This is not so easy without introducing a new annotation `@Alias` or so. Should we always use the field name as the alias, when it's annotated as `@Name`? Or only if it's not unique? I'll put it on the agenda.

[2021-03-21 07:12] t1 commented on #521
The correct link to start from is https://www.apollographql.com/docs/federation/federation-spec/

The managed-federation link in the description is about the advanced federation gateway in the Apollo Studio product that manages the services with a registry instead of having to list them manually before startup of the gateway.

[2021-03-21 12:50] t1 commented on #360
Is this a duplicate of #650?

[2021-03-21 13:04] t1 commented on #521
I found that if we really want to support federation with an extension (i.e. a library you can include, not something built directly into the server implementation), we not only need custom directives (#628 for `@external`, `@key`, `@provides`, `@requires`, and `@extends`), we also need:

* Unions (#400 for `_Entity`); this even has to be dynamic, as the union is the list of all types with a `@key

[2021-03-21 23:05] ybroeker opened #700 "`static` fields shouldn't be added to Types & Inputs"
Currently, `static` fields are added to the schema on types and inputs, which means constants must be explicitly ignored.
Those fields should be ignored by default.

Especially for inputs, as these field cannot be used at runtime.

[2021-03-21 23:07] ybroeker opened #701 "`final` fields should be ignored in inputs"
Currently these are added to the schema but ignored at runtime.

[2021-03-21 23:19] ybroeker opened #702 "Getters aren't recognised correctly"
Currently, all methods that start with `get` and a following capital letter are recognised as getters, regardless of parameters. Something like, for example, (Map's) `getOrDefault(K key, V value)` is added to the schema as `orDefault`, but at runtime it is (correctly) ignored.
Such methods shouldn't be added to the schema.

[2021-03-21 23:25] ybroeker opened #703 "OptionalInt (and Long/Double) should be supported"
It would be nice if OptionalInt (and OptionalLong/OptionalDoulble) were also supported.

[2021-03-21 23:32] ybroeker commented on #702
Similarly for setters. `setX()` causes an exception while building the schema, `setX(Y y, Z z)` is added to the schema as `Y: y` but ignored at runtime.

[2021-03-21 23:55] ybroeker opened #704 "Support for Java 16 records"
Records would be super useful for Types (and maybe also inputs).

Currently, a (actually superfluous) explicit getter has to be added for each record component. It would be better if records were supported "out of the box".

Only the schema builder would have to be adapted, the Java version would not have to be adapted and could remain at 8.

----

An alternative (or an additional possibility) wou

[2021-03-22 00:08] ybroeker opened #705 "Support for @JsonbCreator (or similar mechanisms)"
Currently, a public field/setter must exist for each field of inputs.

It would be nice if `JsonbCreator` or a similar mechanism was supported. Instead of explicit setters, a constructor or a factory method would then suffice.

Also, until explicit support is available, it would allow to use records as inputs.

[2021-03-24 16:15] t1 commented on #521
I've started some experiments and pushed them [here](https://github.com/t1/graphql-federation-java-experiment). There are many prio A TODOs left, but it works as a PoC!

I'd love to hear your feedback.

[2021-03-25 09:57] bearbytes commented on #516
Now that Kotlin 1.4 is well supported in Quarkus, can we have another look at this?

Correct Nullability support is something that currently prevents me from using this library and instead opting for `graphql-kotlin`, which unfortunately breaks Quarkus' Hot Reload, so I would really like to update to a better supported library.

[2021-03-26 05:38] phillip-kruger commented on #700
Hi @ybroeker ! Welcome back :)

This is a valid point ! Are you looking to fix this ?

[2021-03-26 05:38] phillip-kruger commented on #701
Agreed ! PR ?

[2021-03-26 05:40] phillip-kruger commented on #703
I was under the impression that they are ?!? At least there are this : https://github.com/smallrye/smallrye-graphql/blob/910d920003c6a564478ddfcaf00fa747a97421e9/server/implementation/src/main/java/io/smallrye/graphql/scalar/number/IntegerScalar.java#L39

You you have a test case where this fails ?

[2021-03-26 05:41] phillip-kruger commented on #702
mmm, good point. Not sure how to fix this ? Do you have any ideas ?

[2021-03-26 05:42] phillip-kruger commented on #704
Agree. The alternative has been discussed before (I know SPQR works like that).

[2021-03-26 05:43] phillip-kruger commented on #705
public fields also work. But I agress JsonbCreator would be a good addition :) PR ?

[2021-03-26 05:50] #627 closed

[2021-03-26 13:16] t1 opened #709 "Build Schema at Build-Time"
Maybe this is just a crazy idea that means a complete rewrite, but wouldn't it be possible to build the full GraphQL Schema in, say, a Maven Plugin? I think this would reduce startup time and memory footprint.

[2021-03-26 18:13] phillip-kruger commented on #709
You mean on the server-side ? Or client ? Server side already has a maven plugin and in Quarkus most of the work is done on build time

[2021-03-27 05:24] t1 commented on #709
Sorry, I forgot completely about the build tools. Stupid me.

[2021-03-27 07:46] t1 commented on #709
Hmmm... but at least for a `war` it's not being added to the `war` nor is there a mechanism to load an existing schema file instead of scanning again, is there?

[2021-03-27 08:25] t1 commented on #628
@KSmigielski : I need this for #521. Have you already started? Otherwise I will start working on this now.

[2021-03-27 09:15] phillip-kruger commented on #709
Why do you want to add it to the war ? You might be able to add it to the war yourself as part of the build.

[2021-03-27 12:59] t1 commented on #709
I'd add it to the war only so that the scanning at startup was faster, but I understand that this is currently not possible.

[2021-03-27 13:14] phillip-kruger commented on #709
Is it slow at the moment ? Problem is that you need to tie the dataloaders to the schema, and that happens at startup.

[2021-03-27 18:32] t1 commented on #709
Yeah, the startup time is not optimal, but acceptable. I think we have more important things to work on 😄

[2021-03-27 18:32] #709 closed

[2021-03-29 09:47] janknobloch opened #713 "Duplicate selectedFields/ fields when using @Context?"
Hey there,

im using the quarkus-graphql extension and seeing duplicates in the fieldList (selectedFields) and hope here is the right place to post this issue as its not quarkus specific I guess.

Using the following setup on **quarkus 1.12.2**

[code]

sending a query:

[code]

I receive duplicate entries for all 3 fields queried for (example above of course 4 times each - just to highlight this

[2021-03-29 10:12] phillip-kruger commented on #713
@jmartisk ^^^^ - maybe this got introduced during our latest context fixes ?

[2021-03-29 10:41] jmartisk commented on #713
I'll try to investigate and let you know shortly

[2021-03-29 10:43] janknobloch commented on #713
I'll did a fallback to quarkus 1.11.2 where the issue is also present (for me) - maybe this helps.

[2021-03-29 13:18] jmartisk commented on #713
This looks related to the upgrade to graphql-java 16.0 and a weird behavior that it exhibits. It's related to this change: https://github.com/graphql-java/graphql-java/commit/afaa9aa1f321ef4aed7ef6ccac3e2efdd8413874#diff-368edec8757011bd7775450e7ad220541847811f6b6710db206d60a15ea6955e

Basically if there's a query like `{ allPeople { name }}`, then the `SelectionSet` basically contains the `name`

[2021-03-29 14:21] WhiteCat22 opened #714 "@Query annotations in @GraphQlClientApi cause errors when mixed with @Mutation annotations"
In my `@GraphQlClientApi` class, you don't have to annotate your `@Query methods`. I do have to annotate my `@Mutation` methods otherwise the client will attempt to query, which fails validation. , Great, `@Query` is the default.

However, when I want to explicitly annotate a mix of `@Query` and `@Mutation` methods, I get a `java.lang.IllegalStateException: client is closed` jaxrs failure when inv

[2021-03-29 15:39] phillip-kruger commented on #713
Yea that is weird. Maybe ask on the graphql-java issues ?

[2021-03-29 15:52] phillip-kruger commented on #521
Thanks @t1 ! I'll have a look a.s.a.p

[2021-03-30 07:32] jmartisk commented on #713
I'll try to make a simple isolated reproducer and talk to graphql-java guys

[2021-03-30 07:41] phillip-kruger commented on #713
Thanks !

[2021-03-30 09:20] jmartisk commented on #713
I filed https://github.com/graphql-java/graphql-java/issues/2275
I'll also see if I can come up with a fix, but working with Gradle projects is a nightmare to me

[2021-03-30 09:21] phillip-kruger commented on #713
Thanks @jmartisk !

[2021-03-30 11:56] t1 commented on #713
I couldn't agree more!

[2021-03-30 14:03] janknobloch commented on #713
thanks for taking care everyone!

[2021-03-30 22:06] ybroeker commented on #705
Currently @JsonbCreator is even already supported (by accident) in some cases.

I'll have a look at that :)

[2021-03-30 22:37] ybroeker commented on #703
Sorry, you are right! Maybe I had used an older version or something.

[2021-03-30 22:51] ybroeker commented on #703
Found an error: those Optionals doesn't work as input types. The schema is generated correctly, but an error is thrown at runtime

GrpahQL-API:
[code]

Query:
[code]

[code]

[2021-03-30 23:35] ybroeker commented on #702
Submitted an PR with #715 :)

[2021-03-31 05:34] #702 closed

[2021-03-31 06:16] t1 opened #717 "Application without any `@Query` fails"
Edge case: if there are no queries but only mutations in an applications, the schema validation fails:

`graphql.schema.validation.InvalidSchemaException: invalid schema: "Query" must define one or more fields.`

[2021-03-31 07:15] phillip-kruger commented on #717
This is correct spec behavior (and the error comes from graphql-java) see
https://spec.graphql.org/June2018/#sec-Root-Operation-Types

Closing :)

[2021-03-31 07:15] #717 closed

[2021-04-04 06:41] #611 closed

[2021-04-05 09:22] t1 opened #724 "Refactor client APIs"
I found some smaller issues about the dynamic vs. typesafe client APIs, I think we should talk about. We should consider to:

* Merge `Error` and `GraphQlClientError` into new `common.api` package.
* Move `core` package and `Request` & `Response` classes to `dynamic`.
* Add Javadoc to the dynamic API.
* Merge `DynamicGraphQLClientBuilder` into `ServiceUtils`
* Remove the `JaxRsCollectionUtils#toAr

[2021-04-05 09:24] t1 opened #725 "Rebase typesafe client on the dynamic client"
We talked about doing so, but I think we don't have an issue for it, yet.

[2021-04-06 07:43] Andro999b opened #727 "Double should be mapped as BigDecimal"
In current implementation double fields loose precision because of `.floatValue()` conversion in [FloatScalar](https://github.com/smallrye/smallrye-graphql/blob/b69fe8649f880147b5bb7619d0157f1aa204e0bc/server/implementation/src/main/java/io/smallrye/graphql/scalar/number/FloatScalar.java#L32)

As example 49.9902794 rounded to 49.99028.

Double should be mapped as BigDecimal to avoid precision lost

[2021-04-06 07:50] phillip-kruger commented on #727
Thanks :) First I will suggest we fix the rounding, else we need to change the spec.

[2021-04-06 07:57] jmartisk commented on #724
These are the MicroProfile APIs that are temporarily copied over from `org.eclipse.microprofile.graphql.client` to `io.smallrye.graphql.client`.
The reason I didn't put these classes into the `dynamic` package is to make a clear distinction which APIs are MicroProfile APIs and which are SmallRye specific. The `io.smallrye.graphql.client.dynamic` package is SmallRye-specific and will stay in SmallR

[2021-04-06 09:05] jmartisk commented on #725
Not sure how much reusable stuff there will be in the dynamic client, but I suppose we can at least
- unify error-related exceptions
- use `io.smallrye.graphql.client.core.Document` for building JSON requests in the typesafe client

and perhaps something more

[2021-04-06 11:06] ybroeker opened #728 "Memory leak in `SmallRyeBatchLoaderContextProvider.INSTANCES`"
With each request, objects are stored in the `SmallRyeBatchLoaderContextProvider.INSTANCES`, but never deleted.

Depending on the number of batch operations and available memory, this leads more or less quickly to extremely slow requests (and almost 100% GC) and at some point to an OutOfMemoryError.

[2021-04-06 12:33] #728 closed

[2021-04-06 12:55] phillip-kruger opened #733 "Release 1.2.0.Alpha1"

[2021-04-06 12:55] #733 closed

[2021-04-07 07:01] #705 closed

[2021-04-07 08:54] t1 commented on #628
We don't have full support, yet; just type directives. We at least need also field directives. I haven't considered the other possible locations and if they make sense in MP GraphQL. Reopening.

[2021-04-08 04:40] t1 commented on #704
I just had a second thought about this: is `@Query` the right annotation for this? Why not also `@Mutation`? Or shouldn't those two be reserved for the root `Query`/`Mutation` types? We could add a new `@Field` annotation. I think this could be more clear for users.

[2021-04-08 08:28] jmartisk commented on #679
I have an idea how we can do this, basically we can collect all owning classes of all GraphQL operations and verify that each such class is injectable. This can be done during bootstrap.

In Quarkus, beans.xml is not necessary in the application, but we can still verify that the owning classes are injectable (they might be `@Vetoed` for example).

I'll send a PR in a bit

[2021-04-08 10:46] #679 closed

[2021-04-09 06:21] jmartisk commented on #635
resolved via https://github.com/smallrye/smallrye-graphql/pull/649

[2021-04-09 06:21] #635 closed

[2021-04-09 08:08] okothhc opened #740 "graphql schema creator throws java.lang.NullPointerException when Query return type has a List<T> or an array"
When graphql query has a return type that has a list or an array object in it, a null pointer exception is raised in io.smallrye.graphql.schema.creator.ReferenceCreator.getReference(ReferenceCreator.java:275)

**Sample code:**
@GraphQLAPI
class CoreResource {

@query("listxyz")
@description("Lists the xyz")
fun listXyz(@name("code") code: String) :
CompletionStage<ServerResponse<List>>
= xyzServic

[2021-04-09 08:20] phillip-kruger commented on #740
Thanks @okothhc ! @velias do you want to have a look ?

[2021-04-12 05:21] t1 commented on #342
Closed via #741

[2021-04-12 05:21] #342 closed

[2021-04-14 11:02] jmartisk opened #743 "Named injectable client instances"
I imagine having an injectable client like
[code]

Where the client configuration (URL and other settings) would be configured by whatever configuration mechanisms (MP Config + `application.properties` for Quarkus, the management model (or just MP Config) for WildFly,...)

This definitely makes sense for the dynamic client, I'm not completely sure about the typesafe client, but maybe too (the thin

[2021-04-14 11:04] jmartisk commented on #743
I'm planning to start a prototype working with WildFly this week and then we will see :)

[2021-04-15 06:25] phillip-kruger commented on #743
Nice! Thanks @jmartisk !

[2021-04-15 07:09] jmartisk commented on #743
I didn't realize that pure MP Config doesn't have ConfigGroups like Quarkus does. And they would be very useful for creating the configuration model for clients, where you can have multiple named clients, and each of them contains a set of configuration values.

Of course we can use ConfigGroups for this in Quarkus, but most of the logic will then have to be directly in Quarkus, not SmallRye, unfo

[2021-04-15 07:27] jmartisk commented on #743
Or maybe the `NamedClientConfiguration` class is not really needed (would unnecessarily complicate it) and we can convert the configured values straight into a client by using existing methods of the client builder classes.

[2021-04-15 11:40] dicolasi opened #744 "Make optional parameters nullable"
It would be great to have an annotation for nullable/optional parameters. Here an example:

 @Query("getYieldByPostcode")
    public Uni<YieldStats> getYield(@Name("fullPostcode") @NonNull String postcode,
                                    @Name("bedrooms")  int bedrooms,
                                    @Name("houseType") String houseType){
        return yieldService.getByFullPostCode(postc

[2021-04-15 11:49] phillip-kruger commented on #744
Thanks @dicolasi .

This case is when you have an Integer (Object) rather than a primitive, and it can be null. So it would be good to allow `@Nullable` on Object primitives.

[2021-04-16 03:41] t1 commented on #744
Maybe I misunderstand this, but what would be passed as `null` for a primitive type? 0? -1? And it's irritating to have an `Optional` to *be* null, isn't it?

OTOH maybe it makes sense add a config option to invert the default, i.e. everything is `NonNull` by default. Then we'd need a `Nullable` for those fields that actually should be nullable. Only `Optional`s should remain always nullable.

[2021-04-16 04:10] t1 opened #745 "Typesafe Generator: allow `@Multiple` queries/mutations within a single request"
see #627 and #339

[2021-04-16 04:13] t1 opened #746 "Typesafe Generator: support aliases"
See #339

The typesafe client supports aliases (see #611/#722). Now we could add them to the generator.

[2021-04-16 04:15] t1 commented on #339
I extracted the discussion about aliases (that's what the labels are called officially, see #611/#722) to #746.

This issue is about loading queries/mutations from files instead of using the text in an annotation (this is what this issue was about originally, I guess).

There are definitely other ideas worth investigating. @gastaldi : do you use the generator already? I prefer to work on practical

[2021-04-16 06:31] phillip-kruger commented on #744
Yes Optional<Integer> or OptionalInt should also work. @dicolasi that might be a clean solution than checking the -1 on the int value.

[2021-04-16 10:59] jmartisk commented on #743
Just for the record, in the end we decided to have a configuration strategy very similar to MP Rest Client (see https://github.com/eclipse/microprofile-rest-client/blob/microprofile-rest-client-1.1/spec/src/main/asciidoc/cdi.asciidoc#support-for-microprofile-config)

So, properties like
[code]

[2021-04-16 12:48] gastaldi commented on #339
@t1 hey! no, I am not using the generator.

[2021-04-20 05:21] pipinet commented on #622
@phillip-kruger  what is the timeline for this please? thank you.

[2021-04-20 05:44] phillip-kruger commented on #622
Hi @pipinet - no one is working on this at the moment. You are welcome to provide a PR :)

[2021-04-20 22:59] netdragonboberb commented on #727
@phillip-kruger You can't fix the rounding. It's an inherent well-known limitation with floating point processors. You either have to use fuzzy comparisons or decimal. Usually it's no big deal, but for money, etc, it's a deal-breaker.

[2021-04-21 03:48] phillip-kruger commented on #727
I was thinking to not use `.floatValue()` and use another mapping under the covers to map floats and doubles. So in GraphQL it will still be a float, but when you use Double in Java it should not map it to float, but rather a double. I'll look at this a.s.a.p

[2021-04-21 10:01] jmartisk opened #750 "Unify configuration of clients"
Currently, the typesafe client's URL can be configured (unless you're doing it with annotations) using
`CLIENT_NAME/mp-graphql/url`

The dynamic client is configured using
`smallrye.graphql.client.CLIENT_NAME/url`

I suppose this should be unified somehow

[2021-04-21 10:11] jmartisk commented on #750
My opinion before opening this to discussion
- I rather prefer `smallrye.graphql` prefix (or `mp.graphql` if we want to make it seamlessly migrate to the spec later?)
- If there's a prefix like that, it seems redundant to add the `/mp-graphql` suffix
- Even though the sets of valid properties for dynamic and typesafe clients will possibly be different, I still think we can unify the config - meani

[2021-04-21 10:59] t1 commented on #750
Just my 2 cent: the typesafe config options where aligned with the config options for the MP Rest Client.
I completely agree that they should be unified between typesafe and dynamic. Even more so as we plan to rebase the typesafe ontop of the dynamic client. And of course we plan to move both into the spec.

[2021-04-21 11:12] jmartisk commented on #743
done via https://github.com/smallrye/smallrye-graphql/pull/749

[2021-04-21 11:12] #743 closed

[2021-04-21 11:31] jmartisk opened #751 "Clarify the role and name of the 'client/all' module after recent changes"
Right now, the `smallrye-graphql-client-all` module brings in the typesafe client, along with RESTEasy client used under the hood. Depending just on `smallrye-graphql-client-implementation-jaxrs` does not suffice to get *all* the dependencies, because RESTEasy client is not included. The reason for that is that we want to support plugging in different JAX-RS client implementations, like Jersey.

O

[2021-04-21 15:47] Andro999b commented on #727
I think you should consider to switch float to double instead. Because GraphQL Float is corresponding to JS Number that size is 8bytes same as Java double.

[2021-04-21 16:06] phillip-kruger commented on #727
That sounds like a plan.

[2021-04-22 07:01] phillip-kruger commented on #751
Maybe a 4th option: Remove all module ? @t1 ?

[2021-04-22 13:36] t1 opened #752 "Allow defining of default transformation via config, maybe per (Java) type"
[code]

returns (in smallrye-graphql-servlet 1.1.2)

[code]

In 1.1.0 it returned the correct format including the time zone `Z`.

[2021-04-22 14:22] phillip-kruger commented on #752
Instant was never supported and worked because of toString. This is the change: https://github.com/smallrye/smallrye-graphql/pull/691

[2021-04-22 14:22] phillip-kruger commented on #752
Closing as this is not a bug. This is how instant now works.

[2021-04-22 14:54] t1 opened #753 "`List<@NonNull String>` should be `[String!]` not `[String!]!`"
When I add a `@NonNull` to the element type of a list, the resulting list still should be nullable.

[code]

But it actually becomes:

[code]

[2021-04-22 14:58] t1 commented on #752
But this is _wrong_! ;-) An instant should be parseable by `Instant.parse`, shouldn't it?

[2021-04-22 15:20] phillip-kruger commented on #752
It maps to a DateTime in GraphQL, so no, not really.

[2021-04-22 15:29] phillip-kruger commented on #752
As per normal DateTime, you can try to format (using @DateFormat) to the output you want, that will allow parsing from instant

[2021-04-22 15:42] t1 commented on #752
I didn't find a `DateTime` in the GraphQL spec; only in the section about [Serialization Format](https://spec.graphql.org/draft/#sec-Serialization-Format), it says that 'custom scalars representing a Date, Time, ... may be represented in whichever relevant format a given serialization format may support.' So we are left to our own concepts.

I know that time is a terribly complex issue. In Java it

[2021-04-22 15:43] t1 commented on #752
BTW: annotating the `@DateFormat` for every `Instant` is way to cumbersome.

[2021-04-22 16:00] t1 commented on #751
The `all` module is very handy, when you don't have a runtime that already brings all the dependencies, e.g. for testing. So I'd rather not remove it.

I think maybe we should postpone the decision until the typesafe client is rebased onto the dynamic client. If this runs with Vert.x, that's okay for me. E.g. in WildFly there's already a `smallrye-mutiny-vertx` module, so that should be used, I gu

[2021-04-23 04:55] wiradikusuma opened #754 "Support for java.util.Map?"
Using Quarkus and Hibernate Types, I have the following model:

	@Entity
	@TypeDef(name = JSON, typeClass = JsonType.class)
	public class Banner extends PanacheEntity {
                ...
		@Type(type = JSON)
		@Column(columnDefinition = JSON)
		public Map<String, Media> variants = new HashMap<>();
                ...
	}

That specific field (`variants`) will throw an exception when the app is ra

[2021-04-23 05:28] phillip-kruger commented on #752
DateTime is defined in the MP Spec. (Does not exist in GraphQL spec). Maybe we then need a way to, via config, define the global default DateFormat in for Dates ?

[2021-04-23 05:31] phillip-kruger commented on #754
Maps are not supported in GraphQL (see https://github.com/graphql/graphql-spec/issues/101). Ignore should work, although it will then ignore that field in GraphQL, meaning it will not be in the Schema or the output/input.

[2021-04-23 07:47] jmartisk commented on #751
If we changed the typesafe client to run with Vert.x rather than JAX-RS Client, then we wouldn't need the `all` module anymore, everything would be provided by `implementation-vertx`.
That is, unless we decide to keep the old JAX-RS variant too, in which case the JAX-RS variant could still be supplemented by a module that provides the actual JAX-RS client impl.

[2021-04-23 08:27] t1 commented on #752
That could help. Maybe even a separate one for the different Java Time types?

[2021-04-23 08:31] t1 commented on #754
GraphQL _can't_ support maps, because they don't have a schema!!! The alternative would be a list of key-value pairs, but you should stop and think if you can't define a fixed set of keys and add it as an object. This makes things easier for the client and gives the service more power to see what clients actually use.

[2021-04-23 11:06] phillip-kruger commented on #752
Cool. Let's add that to the TODO list :)

[2021-04-23 12:51] wiradikusuma commented on #754
Ah got it. I read from https://download.eclipse.org/microprofile/microprofile-graphql-1.0.3/microprofile-graphql.html that "Implementations may allow additional types (such as java.util.Map)..." but from your explanation, it makes sense not to support it.

[2021-04-23 12:51] #754 closed

[2021-04-23 13:17] phillip-kruger commented on #754
Yea, at some point we can try and support map if the keys and values are typed, i.e. not object. Then under the covers we build a key value pair object and add those to a list. But it's not a high priority

[2021-04-23 16:37] t1 opened #755 "Typesafe Client in Quarkus with `@Inject`"
In the [Supersonic Subatomic GraphQL](https://quarkus.io/blog/supersonic-subatomic-graphql/) quickstart, there's this snipptet:

[code]

But `@Inject` doesn't work in Quarkus, does it? It works on Weld, but I have no idea about if/how this works in arc.

[2021-04-23 16:49] phillip-kruger commented on #755
It will work in Quarkus once we create the extension. @jmartisk is working on that...

[2021-04-23 16:55] t1 commented on #755
Thanks! So I'm closing this, right?

[2021-04-23 16:55] #755 closed

[2021-04-23 17:54] t1 commented on #755
I didn't find a ticket for this that I could watch. Is there one?

[2021-04-23 18:18] phillip-kruger commented on #755
You mean on Quarkus ?

[2021-04-23 19:13] t1 commented on #755
Yes

[2021-04-23 19:38] phillip-kruger commented on #755
Yes there is none, @jmartisk maybe you can create one ?

[2021-04-24 15:51] t1 commented on #751
If we only have one implementation, shouldn't we name it just `implementation`? The `-vertx` suffix would be irrelevant.

I think we have three scenarios:
1. A JEE container with built-in support for the client as well as Vert.x ⇒ the `war` only has a `provided` dependency on the `api`; the `api`, as well as the `implementation`, are implicitly added at runtime.
2. A JEE container with build-in su

[2021-04-26 06:10] jmartisk commented on #751
The point of having separate `implementation-*` is that we might have multiple implementations in the future, which might not even be based on HTTP.
If we switch the typesafe client to using Vert.x and merge the `implementation` and `implementation-vertx` modules into just `implementation`, we run into a danger of having to split it again in the future...
I would say separating the "common" functi

[2021-04-26 06:25] jmartisk commented on #755
I'm a bit busy with doing the very same thing for WildFly at the same time, but yeah :)
I filed https://github.com/quarkusio/quarkus/issues/16792

[2021-04-26 06:35] jmartisk commented on #755
It would also be good to finalize the discussion on https://github.com/smallrye/smallrye-graphql/issues/751 so we won't have to change the WF and Quarkus integration layers later.

[2021-04-26 18:16] thomas-ferchau commented on #490
@phillip-kruger: I would really appreciate support for subscriptions!

We would like to provide a reactive interface to push events to a Smartphone App. We are currently evaluating Smallrye GraphQL for doing that.

Is there currently any workaround to create an asynchronous GraphQL server (e.g. _subscriptions_ or _live queries_) in Smallrye GraphQL / Quarkus?

The blog entry [Experimental GraphQL]

[2021-04-26 18:21] phillip-kruger commented on #490
I am busy with the implementation and it should be available soon. You should be able to just build it in graphql-java as well, as the library is available

[2021-04-28 12:12] thomas-ferchau commented on #490
@phillip-kruger, thank you, that sounds like good news - looking forward to it :-)

Meanwhile I adapted an example from graphql-java and created a simple subscription servlet that is unrelated to the rest of the GraphQL implementation.

[2021-04-28 12:22] phillip-kruger commented on #490
Awesome !

[2021-04-29 05:52] jmartisk opened #760 "Adjust client documentation"
Add documentation for the dynamic client and properly adjust existing docs to accommodate two types of clients

[2021-04-29 06:23] #750 closed

[2021-05-04 14:10] janknobloch opened #770 "performance issue using nested elements in query"
Hi all,

im facing serious performance drops using a nested query for a tree like structure using quarkus 1.13.2 and its graph-ql extension:

when using:

[code]
im able to reach about 200 req/s via k6s load testing, whereas:

using the exact same query but removing the nested query part and replacing it with a single key:value pair as follows:

navigation : objectMapperOfyourChoice.writeValueAsSt

[2021-05-04 14:16] phillip-kruger commented on #770
Hi @janknobloch . Can you share your code ? Or a reproducer ? Are you using `@Source` ? And if so, are you using batch ?

[2021-05-04 14:27] janknobloch commented on #770
hey @phillip-kruger, thanks for your fast reply.

hope to share a reproducer for the issue by the weekend at the latest.

in the meantime, a little more information.

Im not using @Source, at least not that im aware of.
Im using @Context to remove some elements not existent in a concrete query (but this should be independent from the issue as the speed drop only occurs when using the query stated)

[2021-05-04 14:32] phillip-kruger commented on #770
Hi @janknobloch .
Thanks a reproducer would help. Are you getting data from a database ?

[2021-05-04 14:41] janknobloch commented on #770
Yep, but not directly. Im holding all data needed for the queries inside an in-memory cache using caffeine, do some minimal transformations on them and return them via graphql.

What bugs me is that a JSON string response even for the full navigation object while using an object mapper on the way, seems to be so much faster than than letting graphql "reduce the depth / transform" of the object and

[2021-05-04 14:43] phillip-kruger commented on #770
Thanks. I see there is another fix done in graphql-java, that should be part of 17.0, maybe that fixes it. We will update to 17.0 as soon as it release.

[2021-05-04 14:52] phillip-kruger commented on #770
We can actually confirm above once you have a reproducer. We can do a build of graphql-java local and include that to see if 17.0 will fix that.

[2021-05-04 15:54] janknobloch commented on #770
@phillip-kruger
faster than expected:

https://github.com/janknobloch/graphql-performance-reproducer

wrote a small readme.md - only dependencies you should have despite of quarkus to reproduce this is k6:

https://k6.io/docs/getting-started/installation/

My results are attached:

Navigation via graphql query:
<img width="1214" alt="navigation-results" src="https://user-images.githubusercontent.c

[2021-05-04 19:55] piotrblasiak opened #771 "Private getters are exposed unless @Ignore"
Private fields are not, but getter - even static ones, are exposed. @Ignore fixes it.

[2021-05-04 20:02] phillip-kruger commented on #771
This might already be fixed in main, see #719

Just needs to be released

[2021-05-04 20:09] piotrblasiak opened #772 "Stop leaking exception information in errors"
It seems like the following extensions are added to errors by default:

[code]

I think this should be considered information leakage and improper error handling. See OWASP: https://owasp.org/www-community/Improper_Error_Handling

I think the @ErrorCode annotation is useful, because it lets GraphQL clients show actionable errors, but I think it is worth arguing that only very specific exceptions s

[2021-05-04 20:14] piotrblasiak opened #773 "Make it possible to add custom extensions to errors"
It would be great to be able to add extensions to errors. Some useful extensions that I use in other graphql apis:

reference - generated by the error handler on every time the error is logged and shown to the end-user they can send to the app support and get help.
userFriendlyMessage - "Your account has been disabled." or other end-user oriented messages.

[2021-05-04 20:15] piotrblasiak commented on #771
Looks like it. Ok thanks and good work!

[2021-05-05 03:14] t1 commented on #773
Thanks for the input.

[RFC-7807](https://tools.ietf.org/html/rfc7807) "Problem Details for HTTP APIs" defines a similar field, but calls it `instance`. They suggest this to be a URI, of course, as it's for REST, but it can actually be useful to directly have a URL you can 'click on' to see the logs (if you have the privileges to see them).

We've been discussing this briefly in #299.

There's alr

[2021-05-05 03:25] t1 commented on #772
There's sometimes a difficult balance between security and usability.

Maybe we should not generate the `exception` nor the `code` extensions for exceptions from the `java.lang` package? Other packages? This should probably be a config option.

Or we could generate a `code` with a generic value like `internal-server-error` or so?

[2021-05-05 06:30] jmartisk commented on #760
this was resolved by https://github.com/smallrye/smallrye-graphql/pull/769 (more docs for dynamic clients incoming soon)

[2021-05-05 06:30] #760 closed

[2021-05-05 06:37] piotrblasiak commented on #772
In my opinion, the default config should follow the graphql specification and not include any extensions at all.
I agree that theres a difficult balance between security and usability, but the default should be security - at least in production mode. You could include all those extensions in dev mode if you really want but that would also make people wonder what happened with them in production if

[2021-05-05 06:44] piotrblasiak commented on #773
I agree that this is a duplicate and we can move the discussion to #299.

[2021-05-05 06:44] #773 closed

[2021-05-05 06:53] piotrblasiak commented on #299
I think graphql-java has the most flexible, if not the most developer friendly approach. There you register a DataFetcherExceptionHandler and override getExtensions in the thrown GraphQLError. This makes it possible to add 3  important use cases for exception extensions:

1) (Static) per class - like the @ErrorCode already does
2) Instance - additional details that do not fit into the message fiel

[2021-05-05 06:59] t1 commented on #772
I fully second that security goes first. Could you describe in more detail, what you consider a better alternative?

[2021-05-05 07:07] piotrblasiak commented on #772
I think implementing #299 (being able to add extensions yourself), and removing all default error codes and other error extensions would be my preferred alternative. No extensions should be added by the graphql implementation by default :)

[2021-05-05 08:19] phillip-kruger commented on #772
I agree that we should not show the error details in the extensions by default. I suggest we add a config to switch this feature on (like it is currently) and off, and making the default off. w.d.y.t ?

[2021-05-05 08:22] piotrblasiak commented on #772
Yes. I think that would be nice - as there might be some people relying on that functionality.

[2021-05-05 08:26] phillip-kruger commented on #772
Yea, so for those, it will be a breaking change (in the sense that they will have to add a config) but I think that is the correct default. I'll make a change a.s.a.p

[2021-05-05 08:28] piotrblasiak commented on #772
Another thing that I think is potentially dangerous is that the exception message is always exposed as the error message. Consider if the database would be down, and the exception would contain authentication information - that would then be leaked to the client.

[2021-05-05 08:37] phillip-kruger commented on #772
That can be controlled. By default, for RuntimeExceptions, it will show a generic server error message, and for Checked Exception, it will show the exception message. But that is configurable. See https://download.eclipse.org/microprofile/microprofile-graphql-1.0.4-RC1/microprofile-graphql-spec-1.0.4-RC1.html#_server_errors

Note that the black/white list naming has changed and will be available i

[2021-05-05 08:59] piotrblasiak commented on #772
Ok, is there some standard convention that I am not aware of that says that checked exceptions should always be safe to show to the end-user? For example, I just got this:

[code]

That error message is neither secure nor helpful to the end-user.

But perhaps this is a discussion to be had in the MP group?

[2021-05-05 09:07] phillip-kruger commented on #772
You can hide it if you prefer. Also note that you can use bean validation, that might give you a better message on validation

[2021-05-05 09:28] phillip-kruger commented on #770
So, looking at the code, the json will always be quicker than the navigation. When returning a Object from a graphql query, every field is querable, and thus being called per field when we build the response.

You can test against the latest graphql-java by adding this to your pom (overriding the one from smallrye)

[code]

However I am not sure this will solve your issue.
Let me know.

[2021-05-05 10:22] janknobloch commented on #770
Just tested, sadly the same behaviour.

While it makes sense of course that the querying of fields takes longer to process, 280 req/s vs 980 req/s Is basically a 70% performance drop using nested objects. Considering that the graphql spec was specifically designed to reduce over-fetching and reducing network traffic I somehow feel this totally contradicts its purpose.?

I haven't looked in the det

[2021-05-05 10:47] piotrblasiak commented on #772
@phillip-kruger ok, how would you do that in quarkus?

I tried setting the 2 application.properties that I could think of:

[code]

And I still got the leaky error message above.

[2021-05-05 11:41] phillip-kruger commented on #770
Every object are create by calling DataFetchers that fetch the data. In the case of a pojo, every field is called and added to the response, so in this case using `Source` and batch might help. But it will always be slower that just returning the json. That is the tradeoff, query-able  and slower, or not query-able and faster.

[2021-05-05 11:51] phillip-kruger commented on #772
There is no quarkus property for this (we can maybe add that).
The property will work the same as the on as described in the spec.

So the `mp.graphql.showErrorMessage` property takes a list of Exceptions (full package and class name) that usually are hidden but you want it shown (So a RuntimeException)

The `mp.graphql.hideErrorMessage` does the opposite to Checked Exceptions.

[2021-05-05 11:58] piotrblasiak commented on #772
Oh ok. So there is no way to hide all exception messages besides those that I whitelist?
Basically, I don't trust any exceptions to expose their message.

[2021-05-05 12:01] phillip-kruger commented on #772
Well, checked exception is usually a fairly specific Exception that you throw, and are the only ones that show the message. You can try to add java.lang.Exception, I can not remember if this will include all subtypes. @t1 might remember.

[2021-05-05 12:09] piotrblasiak commented on #772
How about errors like this?

[code]

Not trying to be a pain in the ass, but I hope you see my point - plenty of internal error messages reaching the client and even if these are not dangerous to show there is no way to know if this is user friendly to show to the end-user, or if we should show some generic error message instead.

[2021-05-05 12:20] phillip-kruger commented on #772
That looks like errors from graphql-java ? We can maybe discuss to add those (validation) error to the hide list by default. But that will have to happen on spec (MicroProfile) level

[2021-05-05 12:21] phillip-kruger commented on #772
Also, try adding Bean validation to those methods. That might help...

[2021-05-05 12:22] janknobloch commented on #770
Actually a bit more testing shows that is linked to the depth - for whats it worth.

querying only the first child elements keeps performance high (1500 req/s), already adding the second child reduces performance by 50 %. ( 700 req/s) -> so it looks its linear dropping down performance by depth.

I'll read into Source and Batch (whereas Batch seems to be deprecated).

Thanks for your feedback.

[2021-05-05 12:23] phillip-kruger commented on #772
Can you share the full response of your example above ? What is the details in the extension ?

[2021-05-05 12:25] phillip-kruger commented on #770
I am talking about this batch : https://quarkus.io/blog/experimental_graphql/#batch

[2021-05-05 12:29] piotrblasiak commented on #772
I think me not having bean validation yet in this case helped to show a potential problem - that unexpected error messages are being sent :)

Here is the full response:

[code]

It is likely that graphql-java is returning all sorts of error messages. I had to do this in my other code to make sure only the messages I trust are being sent:

[code]

[2021-05-05 12:37] phillip-kruger commented on #772
^^^ Was trying to help you with a workaround

This Error comes from graphql-java, so we would need a clean way to control these, and that does not exist at the moment.
Some Errors are not tied to Exceptions, so we can not control them with the logic above.

We would need to look into how we can make this extendable .... Thanks :)

Maybe open a separate issue for this. (graphql-java errors) as this

[2021-05-05 12:41] piotrblasiak commented on #772
Ah yeah thanks - I appreciate the workaround 🙏

Isn't this a proper thread for this issue? I think the issue for extension switching is discussed in #299

[2021-05-05 12:46] phillip-kruger commented on #772
I based it on: https://github.com/smallrye/smallrye-graphql/issues/772#issuecomment-832509614

I think we have multiple issues,
1) the ability to turn of the exception details we add to extensions. (this issue)
2) the ability to contribute (key-value) to the extensions (#299)
3) the ability to control graphql-java errors (new issue)

[2021-05-05 12:55] piotrblasiak opened #776 "Feature: control graphql-java errors"
Currently (quarkus 1.13.2) graphql-java validation errors are sent without the ability to turn them off:

[code]

#772 and #299 are both relevant in this discussion, as it seems to me there should be possible for the developer to exactly specify what messages are sent on errors. I personally don't trust any exception messages not to contain any compromising or useless information to the end-user.

[2021-05-05 16:25] t1 commented on #776
I can't see why this could be an issue. There's a schema, and either the client or the server don't adhere to it. Validating the schema can't possibly leak anything, can it?

BTW: I understand that some people like to hide the schema, but as long as the field names are not obfuscated as well, I don't see this to be very useful: you can easily guess that e.g. the super hero type will have a name fi

[2021-05-05 16:35] janknobloch commented on #770
So I played around a bit according to your recommendations,
using @Source in conjunction with async requests for all child elements I could double the performance up to 620 req/s.

I couldn't see how batches could help me out as my object is already in-memory stored as a tree object.

Still far of from the 1500 req/s but its something.. ;-)

I could not quite find the right entry point in trying t

[2021-05-05 17:26] piotrblasiak commented on #776
In this case, you are right in that it doesn't leak anything as it simply reacts to fields that are being requested.
But, look at this other message I got:

[code]

I´ve developed the belief that you can't trust exception messages to be sent to the client, as many developers assume their exception messages will stay in the logs. In the message above the class name of the inner workings of my code

[2021-05-05 20:02] phillip-kruger commented on #770
Batch might work, as there will be less method calls. Depending on the size of children, this can make a big difference.

[2021-05-06 04:05] t1 commented on #776
This is not about beginners: the average developer regularly runs into problems with using an API. Directly giving the feedback in the response is extremely helpful. Clients generally don't have access to the logs, so they'll need to contact the developers of the service to check what they where doing wrong. They will instead try to find out what was wrong by reiterating the schema or other docs,

[2021-05-06 06:16] piotrblasiak commented on #776
Well, both those errors I posted I would consider Internal server error because there's nothing the client developer can do about them. It's a little besides the point but worth pointing out as I would say that is leaking useless information.
Anyway, I think there's plenty of arguments for all the different ways to set this up and I buy into your arguments but I don't trust all the libraries invol

[2021-05-06 06:37] t1 commented on #776
I'm perfectly fine with having the option to 'lock it down for extreme security'. I just wouldn't like this to be the default for everyone. Security first, yes, but not Extreme Security first at the cost of usability. And we're only talking about the graphql-java validation errors here: we may come to a different default for the more general case.

[2021-05-06 06:58] t1 commented on #772
This convention is from the Jakarta EE tradition. Checked exceptions are considered to be application exceptions a.k.a. business exceptions, in contrast to technical exceptions. There is one famous exception to this rule: IOExceptions. But I hardly see checked exceptions being used any more... it's just too troublesome to pass them through several layers and they are generally not usable in functi

[2021-05-06 09:28] janknobloch commented on #770
Hey @phillip-kruger  thanks for sticking with me.. ;-)

If you referring to use Source / Batch and returning a list of Childs as a batch like so:

[code]

thats exactly what I did to increase up to 620 req/s. Is this what you envisioned?

Interesting fact is also that quarkus-graphql 1.5.0 had double the performance than 1.13.2.

Also I still think about if it wouldn't be possible to increase perf

[2021-05-06 12:34] phillip-kruger opened #778 "Feature: allow disabling of Context"
This could be interesting for Quarkus, where we can scan if Context is used, and if not, disable it and gain performance

[2021-05-06 12:41] sacnoth opened #779 "ClassCastException when using Temporal datatype on complex return object with asynchronous result processing"
I'd like to asynchronously return a Temporal attribute from an object that was queried in an GraphQL service, but anytime I execute a query to retrieve the value I get a ClassCastException and the query result will not get formatted as expected.

GraphQL service:
[code]

Query:
[code]

Exception:
[code]

Output:
[code]

Expected output:
[code]

POM:
[code]

[2021-05-06 13:01] phillip-kruger commented on #779
Hi @sacnoth , can you share a reproducer I can look at ?

[2021-05-06 13:22] sacnoth commented on #779
Do you mean the project I used to reproduce the error? Yes, I can share it:
[SmallRye-GraphQL-CompletableFutureTemporalBug.zip](https://github.com/smallrye/smallrye-graphql/files/6434748/SmallRye-GraphQL-CompletableFutureTemporalBug.zip)

You can launch this easily in the Quarkus dev-mode: `mvn compile quarkus:dev` and access the local dev environment at: http://localhost:8080/q/graphql-ui/ to exe

[2021-05-06 13:25] phillip-kruger commented on #779
Thanks :) I'll have a look a.s.a.p

[2021-05-06 14:35] janknobloch commented on #770
So found some time to dig in the codebase and build a local snapshot of 1.0.x and it seems that the FieldDataFetcher -> fieldHelper.transformResponse(); is degrading performance massively. (280 req/s -> 900 req/s).

As I have interpreted the class comments correctly this transformation is only needed on non default getter/setter methods e.g. `Source` enrichments?

Removing the transformation step

[2021-05-06 14:37] phillip-kruger commented on #490
Initial support added in #777

[2021-05-06 14:37] #490 closed

[2021-05-06 14:54] phillip-kruger commented on #779
Ok, so here the problem.

The response object needs to be a POJO (i.e Java Bean, getter/setter) and does not support CompletionStage on fields in the POJO. Mostly because the DataFetcher would not know how to fetch that. You can however get what you want by using a `Source` field like this:

[code]

[2021-05-06 14:55] phillip-kruger commented on #779
Let me know if this works for you and if we can close this.

[2021-05-06 15:21] phillip-kruger commented on #770
Hi Jan, above is very good information, we can skip the transformation totally if there is nothing to transform, that should be an easy change. Another change that might speed this up is disabling the context if there is no context. I will make changes for both of these then we check again if that is ok with you ?

Also, wrt batch, please try this : (note the List on the input)

[code]

This shoul

[2021-05-06 16:27] janknobloch commented on #770
Hey Phillip,
thanks coming back to this.

wrt batching I tried your suggestion and it indeed improved performance up to 800 req/s - which is quite something.

Looking forward to have your suggestions transparent for users without the need of using the aforementioned `Source` "trick".

Feel free to drop me a message any time if there is something new to explore for me. :-)

Also, sadly I wasn't abl

[2021-05-06 16:32] sacnoth commented on #779
Yes, your provided solution with the @Source field would work. Thanks for your quick response!

It just seemed odd to me, that it would only fail on Temporal types, as other datatypes (Integer, BigDecimal, String, ...) worked flawlessly, as demonstrated here:

[code]

Query:
[code]

Result:
[code]

Reproducer: [WorkingCompletionStageOnObject.zip](https://github.com/smallrye/smallrye-graphql/files/

[2021-05-06 17:13] phillip-kruger commented on #779
We can always make them work, but that is currently outside of the spec. I think the problem is the `DateFormat`. Try doing a `NumberFormat` on your number example. That should also fail

[2021-05-06 17:20] sacnoth commented on #779
Yes, that will fail as well. I will close this ticket as the behavior I'm using is unsupported.

[2021-05-06 17:20] #779 closed

[2021-05-07 06:22] piotrblasiak commented on #772
Yes I think that could make sense.

[2021-05-07 14:20] phillip-kruger commented on #713
Fixed

[2021-05-07 14:20] #713 closed

[2021-05-07 17:03] phillip-kruger commented on #770
@janknobloch - I added the first of some PR to try and optimize this. Once all is in and it's in Quarkus, would be great if you can test again. W.r.t you question on PropertyDataFetcher and why we need our own one, we allow transformation on fields, that needs to be done before we return the output or process the input. (See the spec) The PR will cache the transformer so it should help a bit

[2021-05-07 17:07] phillip-kruger commented on #770
No it's needed on all fields (properties and methods, recursively when in a  List)

[2021-05-07 19:15] janknobloch commented on #770
Sure let me know @phillip-kruger !

stopping recursion whenever possible already looks good - hence all objects in a list - are per query/depth equal there may be even more potential to optimize this. I hope I also find some time to play around with it.

Definitely drop another message here when it’s in 1.20 / or Quarkus. Looking forward to test and present my results.

Have a great weekend !

[2021-05-07 19:31] ybroeker commented on #770
Just tried a few things:

1.0.26 is about 300req/s and 1.0.x with @phillip-kruger's changes integrated speeds it up to 850req/s.

A big bottleneck is currently the conversion of the result to JSON. Currently it is Object -> String -> JsonValue.
The step from Object to String with Jsonb and then the parsing afterwards is relatively time-consuming and actually superfluous.
Doing the conversion "by h

[2021-05-07 20:03] janknobloch commented on #770
Very nice indeed @ybroeker - cool that those minor optimizations lead to such a big impact!

Thanks for also looking into this!

[2021-05-08 05:09] phillip-kruger commented on #770
Very cool @ybroeker !! I have not looked at your prototype yet, but how about a PR?

[2021-05-09 09:30] t1 commented on #776
I think that the same reasoning is valid for BeanValidation errors: they are logically a part of the schema, so there's nothing to be leaked.

[2021-05-10 07:59] phillip-kruger commented on #771
Closing as this is fix. Will be in 1.2.0

[2021-05-10 07:59] #771 closed

[2021-05-11 13:08] phillip-kruger opened #787 "Release 1.2.0.Beta1"

[2021-05-11 13:08] #787 closed, assigned to nobody

[2021-05-12 10:39] computerlove opened #790 "Exposing SmallRyeContext.documentSupplier"
Is there any reasons `documentSupplier` is not exposed through the leaky abstraction?
We are doing some custom logging of the incoming query that needs the parsed query.

Is there any reasons why the already parsed Document, or its supplier, should not be available through `SmallRyeContext.unwrap(Document/Supplier)`?

[2021-05-12 10:59] phillip-kruger commented on #790
No real reason. We can definitely add that.

[2021-05-12 11:06] computerlove commented on #790
That would be great :)
Should I make a PR?

Would the best approach be supporting `unwrap(Document.class)`?
`unwrap(Document.class)` feels a little bit wrong because of type erasure and `Supplier` could be anything.

[2021-05-12 11:13] phillip-kruger commented on #790
Yea Let's add Document to the classes we support ....

[2021-05-12 11:14] phillip-kruger commented on #790
PR very welcome !

[2021-05-12 14:18] phillip-kruger commented on #772
I think there is still a valid case to make that even for Checked exceptions, we should not (by default) add the the stuff we do in extensions. The use should opt-in for this. I made a PR that will hide all our extensions by default, with the option to opt-in per field.

[2021-05-12 14:23] #772 closed

[2021-05-12 18:44] #488 closed

[2021-05-12 18:46] phillip-kruger commented on #304
Also need to look at https://github.com/enisdenjo/graphql-ws/blob/master/PROTOCOL.md for Subscriptions.

[2021-05-14 03:14] t1 commented on #724
I dearly hope that the typesafe client api will become part of the spec, too!

[2021-05-14 03:52] t1 commented on #459
I think this warning has gone since the last update to the actions scripts

[2021-05-14 03:52] #459 closed

[2021-05-14 04:08] t1 opened #796 "invert dependencies of client TCK"
The `smallrye-graphql-client-tck` has `runtime` dependencies on `smallrye-graphql-client` and `smallrye-graphql-client-implementation-jaxrs`, i.e. the implementation. To run the TCK one has to start it directly.

To become a real TCK suitable for a spec, this has to be the other way around. The implementation must depend on and run the TCK. According to [this comment](https://github.com/junit-team

[2021-05-14 11:29] jmartisk commented on #796
I assume you mean we basically need to split the TCK into two modules
- One (let's call it "core") with the actual tests, that can be moved over into the spec as is
- One "runner" module which depends on the "core", adds the runtime dependencies, but has no actual tests, and is configured to run the tests from core?

[2021-05-14 13:41] t1 commented on #796
No. The current client `tck` maven module has a dependency on the `implementation` (and actually the `implementation-jaxrs`). If there were other implementations, this would not work. Instead, all implementations need to have a dependency on the `tck` to run the tests against their implementation. The other specs use testng, but there was a recent addition to JUnit 5.8.0-M1 that allows to define t

[2021-05-17 09:54] jmartisk commented on #796
Ah, that you mean.
I am generally not a fan of including a TCK dependency right into an implementation module - even though it has the `test` scope, it still can mess up the module's dependency tree quite a bit (and it's unpredictable because you generally don't directly control the dependencies of the TCK). So maybe I'd say that each of the implementation modules (`vertx`, `jaxrs`) should have it

[2021-05-17 19:48] t1 commented on #796
Okay, maybe that's another option. But this would still be a prerequisite, wouldn't it?

[2021-05-18 08:21] computerlove commented on #790
PR #800 pushed.
Not really sure if the access to the supplier needs to be thread safe, but it's not that complex.
Any ideas for other tests that should be added?

[2021-05-18 08:48] jmartisk commented on #796
Either you move the dependency from the `tck` module to `implementation-*` modules (your original suggestion), or you remove it from the `tck` module and add the new "runner" modules (perhaps named `client/tck-runner-jaxrs` and `client/tck-runner-vertx` or so), which I think is better. We will have to choose one or the other.
I guess @phillip-kruger should decide :)

[2021-05-18 09:15] t1 commented on #796
The difficult part is to allow implementations or tck-runners to run the tck. This is done here. A second step might introduce the runners. This is trivial, as you only have to move the dependency and the `DynamicTckSuite`/`TypesafeTckSuite`. I suggest we merge this now, and if anybody thinks that having separate runners is necessary, that's a second PR. What do you think?

[2021-05-18 10:25] #790 closed

[2021-05-18 17:28] hogmuzzle opened #803 "SDL Directives"
Is there any support for SDL Directives?

[2021-05-19 03:53] t1 commented on #803
There's already support for custom directives on types and we're working on field directives and more. See #628.

[2021-05-19 03:53] #803 closed

[2021-05-19 08:54] velias commented on #740
Sorry for late reply, I was on other tasks. Can I ask what exactly are `CompletionStage`, `ServerResponse` and `SubscriberPayload`, which package they come from, are they classes or interfaces? I want to create reproducer in test, I found `java.util.concurrent.CompletionStage` interface, but not sure what exactly is `ServerResponse` and `SubscriberPayload` to make test correct.

[2021-05-19 09:06] velias commented on #740
OK, I tried to chain one generic interfaces then List into it and then some object, and looks like I got same error `InterfaceWithOneGenericsParam<List<TestObject>>`.
When I replace `List` with my generic interface then everything looks good, so problem is probably related to presence of `List` there in the deeper chain. `List` at the top level is OK, same problem is also when I use GenericObject

[2021-05-19 12:47] jmartisk opened #806 "Allow using string-based queries in the dynamic client"
Ability to pass a string instead of DSL objects

[2021-05-21 11:42] computerlove commented on #753
When building the model the information about annotations on the argument and its parameters are merged.
ArgumentCreator:
[code]

So the book keeping needs to be changed to not merge all annotations on the argument and its parameters.
I make an attempt at fixing it.

[2021-05-24 07:34] velias commented on #753
This relates to bug #740 also, as that bug is about Lists nested deeper in the generics structure, and it is related to how is model for GraphQL schema built for collections. At least we have to make sure we do not bring big conflicts when patching this and that bugs.

[2021-05-24 07:39] velias commented on #740
I found exact place of the problem, but patch will be a bit more complex, as current code for building GraphQL schema expects Collections and arrays at top level only, they are not reflected in any way in `Reference` objects. So we probably need to extend `Reference` object somehow to keep info about nested collections/arrays, and then generate correct scheme (with correct Wrappers) for them.
It i

[2021-05-24 12:16] velias commented on #740
Problematic code:
`io.smallrye.graphql.schema.creator.ReferenceCreator.collectParametrizedTypes(ClassInfo, List<? extends Type>, Direction, Reference)` causes NPE because it calls `getReference()` with `null` as `methodType` param. This can be patched easily, no more NPE, but generated GraphQL schema is not correct because of:
* `io.smallrye.graphql.schema.creator.ReferenceCreator.getReference(Dir

[2021-05-24 12:37] phillip-kruger commented on #740
Hi @velias - not sure if I follow the issue properly here. Can you talk me thought it using the model diagram (https://github.com/smallrye/smallrye-graphql/tree/main/common/schema-model) ?

[2021-05-24 13:20] velias commented on #740
I'll try, but I'm not sure if I know that structure completely, and it looks a bit outdated as I do not see `Wrapper` in that schema ;-):
We have this generics structure `InterfaceWithOneGenericsParam<List<TestObject>>` returned from `Operation`.
One `Field` in the `InterfaceWithOneGenericsParam` `Type` is generic and is type `List<TestObject>` in java thanks to that deeper generics definition.
Bu

[2021-05-24 13:32] phillip-kruger commented on #740
Ok cool thanks. Let me update the diagram to include Wrapper. As far as I know Wrapper has a Wrapper, so we should be able to model this.

[2021-05-24 14:48] velias commented on #740
Cool. But my general point is that info about Collections and arrays is not currently reflected in `Reference` object, for the top level the `Wrappers` are directly derived from jandex types. But this doesn't work for deeper generics structures now. So I'm thinking how to propagate necessary information to the code where `Wrapper` is really created for `Field`.

[2021-05-24 15:05] phillip-kruger commented on #740
Ok, it's been I while since I looked at this, but I though Collections, Optional, Async stuff (ComplerableFuture etc) and other generics (?? not sure) are all "wrappers". Operations and Arguments are Fields, so it should also works for "top level". (If I understand you correctly). I remember I wanted to move the generic stuff out of model and into impl, and use the wrapper concept, but have not go

[2021-05-24 17:57] phillip-kruger commented on #304
Also look at Apolo's `Sec-WebSocket-Protocol` /cc @ethan-gallant

[2021-05-25 06:33] computerlove commented on #753
Ok, I will wait for your work on #740.

[2021-05-25 09:49] t1 commented on #628
I think we can close this when #810 has been merged. If locations other than type and field become necessary in the future, we can open a new issue.

[2021-05-25 13:21] phillip-kruger opened #811 "Implement all "Serving over WebSockets" use cases"
From #304

- a separate issue to make sure we implement the "spec" : https://github.com/enisdenjo/graphql-ws/blob/master/PROTOCOL.md
- and also look at Apollo's Sec-WebSocket-Protocol

[2021-05-25 14:15] #304 closed

[2021-05-25 14:32] #628 closed

[2021-05-26 16:57] #796 closed

[2021-05-27 03:00] t1 commented on #521
As mentioned in the meeting yesterday, there is one major issue open: a type used as a `@FederatedSource` argument is not automatically added to the schema, so as a workaround I have to define something like `@Query public Film dummyFilm() { return null; }`.

[2021-05-27 03:09] t1 commented on #521
It could be possible that #312 could help to fix this last priority A todo.

[2021-05-27 07:00] phillip-kruger commented on #521
Can we maybe discuss here (again) why can we not use `@Source` ?

[2021-05-27 08:40] t1 commented on #521
You mean instead of `@FederatedSource`? I actually haven't thought about that before. It could work and fix the problem with registering the type. But we'd have to replace the local resolver logic. I'm not sure how to do that.

[2021-05-27 08:46] phillip-kruger commented on #521
Yea, so the class needs an `@External` right ? So we should be able to figure it out, but it might need some changes in SR impl module

[2021-05-28 08:06] #727 closed

[2021-05-31 08:06] t1 commented on #436
@jmartisk : this issue is obsolete, now, isn't it?

[2021-05-31 08:25] hantsy opened #821 "Provide more fluent APIs in ErrorOr"
Discussed in https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Exception.20handling.20in.20GraphQL/near/240804862

Hope to add some methods like `Optional.elseXXX` to handle the result in a *stream* like approach.

eg.

[code]

[code]

[2021-05-31 08:53] jmartisk commented on #436
I'd say we want to add support for using Vert.x HTTP client under the typesafe client library (instead of JAX-RS client), perhaps we should just rephrase this as such?

[2021-05-31 09:05] t1 commented on #436
Okay. But rebasing the Typesafe client on the Dynamic client (#725) would fix that, too, wouldn't it? My current assumption is that that's the way to go.

[2021-05-31 09:08] t1 commented on #821
There's a list of TODOs in the class already:

[code]

@hantsy : would those be sufficient for your use-case?

[2021-05-31 10:12] jmartisk commented on #436
I think that is meant mainly for reusing some "core" stuff by the typesafe client, which can be done separately; so I'd personally prefer splitting it into two (if we actually do it in one PR in the end, that's fine)

The goal of #725 will be reusing some core stuff like the `Document` class, and #436 would be for creating a new variant of the typesafe client that uses Vert.x, while keeping the or

[2021-05-31 10:18] t1 commented on #436
I'm more optimistic about a full rebase, i.e. making JAX-RS or a direct use of the Vert.x APIs obsolete. But it's okay for me to keep this issue open until we are sure how this actually turns out in the code.

[2021-05-31 10:20] phillip-kruger commented on #436
Agree, the TypeSafe client should delegate all communication to the dynamic client

[2021-05-31 11:39] hantsy commented on #821
@t1  Noticed it(I think this is `Optional` APIs.).  It is great.

[2021-05-31 11:52] jmartisk commented on #436
So we will drop the `client/implementation-jaxrs` module completely and only use vertx? (Sounds like less maintenance, which is good) And in that case I'd agree we can close this issue and do everything via #725

[2021-05-31 12:00] phillip-kruger commented on #436
Yes I think that is the way to go.

[2021-05-31 12:54] jmartisk commented on #436
Ok I'll close this then :)

[2021-05-31 12:54] #436 closed

[2021-05-31 16:11] t1 commented on #821
@hantsy: Yes, some methods where from `Optional`, but some didn't actually make any sense or would have been rather obscure. I prefer to wait for real use-cases. I just created a PR. Does that cover everything you need?

[2021-06-01 07:38] jmartisk opened #825 "GraphQLApi containing only subscriptions does not work"
You need at least one `@Query` or `@Mutation`, otherwise you will get
[code]

[2021-06-01 07:43] jmartisk opened #826 "When a subscription fails, the last successful item is duplicated"
It seems that if  subscription fails after emitting some items (the Multi throws an exception - meaning the whole multi, not just a source field), then the last successful item is duplicated in the message that conveys the error to the user. For example, a multi that produces persons with increasing numbers in the name, and fails to produce person5:

[code]

See that person4 is present in the last

[2021-06-01 07:50] phillip-kruger commented on #704
I think we can close this one. If I am wrong please re-open

[2021-06-01 07:50] #704 closed

[2021-06-01 07:52] phillip-kruger commented on #825
See #717

This is correct spec behavior (and the error comes from graphql-java) see
https://spec.graphql.org/June2018/#sec-Root-Operation-Types

[2021-06-01 08:10] jmartisk commented on #825
Argh!
Somewhat annoying, but ok then. I will have to add dummy queries in a lot of testing code.

[2021-06-01 08:10] #825 closed

[2021-06-01 08:15] phillip-kruger commented on #825
Yea. It sucks

[2021-06-02 11:57] jmartisk commented on #826
The problem (or part of it) seems to be that the `MultiDataFetcher` shares a single instance of `DataFetcherResult.Builder` for all its produced items, so when the processing of one item stores the resulting data (https://github.com/smallrye/smallrye-graphql/blob/1.2.3/server/implementation/src/main/java/io/smallrye/graphql/execution/datafetcher/MultiDataFetcher.java#L50), the processing of the fo

[2021-06-02 20:46] phillip-kruger commented on #753
This seems to be fixed in the latest Jandex. I'll close here once we upgraded to use that (I am working on that)

[2021-06-03 03:31] t1 opened #830 "BeanValidation Directives"
Expose the BeanValidation annotations as GraphQL custom directives, e.g.:

[code]

[code]

As the BeanValidation annotations are not under our control, we could use mixins (#316).

In addition to being documentation for client developers, e.g., a web app may use the directives to render the correct input type and validate it while the user is typing. I don't know if something like this is already

[2021-06-03 03:42] t1 opened #831 "Integrate with Jakarta Security (`@RolesAllowed`, etc.)"
E.g. a `@RolesAllowed("admin")` can prevent a client from actually using a query, mutation, subscription, or field. Then it shouldn't be in the schema, and trying to use it should create an error response as if it's not there.

[2021-06-03 11:44] jmartisk opened #834 "Rename @NamedClient to @GraphQLClient"

[2021-06-04 07:10] phillip-kruger opened #839 "Clients should support `@DateFormat` and `@NumberFormat`"
Currently you can change the property name of a field when using JsonB annotations, but not when using the built-in GraphQL `@Name`.

I *think* this works in the TypeSafe client. This issue is to add support for `@Name` (and for that matter also other annotations like `@DateFormat` and `@NumberFormat` and `@ToScalar`)

[2021-06-04 07:15] #834 closed

[2021-06-04 08:11] jmartisk commented on #839
You mean these annotations should be taken into account when parsing objects using `io.smallrye.graphql.client.Response.getObject()` and `getList()` right? Yeah, that doesn't work right now

[2021-06-04 08:14] phillip-kruger commented on #839
Exactly ! This would be good to do before the rebase of TypeSafe as I can imagine TypeSafe can use this ?

[2021-06-04 08:31] jmartisk commented on #839
I haven't really played with it, but from looking at the tests, typesafe client does take these annotations into account. And that logic resides in the shared `implementation` module, so we could probably make the dynamic client use that somehow. Not sure if it will be easy, but it should be doable.

[2021-06-04 08:32] phillip-kruger commented on #839
Using Jandex you might not even need a dependency...

[2021-06-04 08:50] phillip-kruger commented on #831
This would mean we need "Dynamic" schemas, not just one. So we need to create a schema per role ... something like that. It also means the schema resource needs to become authorized (or at least some of them). We have spoken about this before. I am not sure it's worth the effort. Looking a JAX-RS, you can not do it there...

[2021-06-04 08:51] phillip-kruger commented on #831
B.t.w during Runtime, this is supported. Here we only talk about the schema.

[2021-06-04 08:53] phillip-kruger commented on #806
Also support code blocks.

[2021-06-04 16:49] t1 commented on #831
Yes, this is only about the schema. Maybe we can filter the schema? My first idea had been to use directives to document the roles required, but filtering is just so much better.

And the fact that MP OpenApi doesn't support it doesn't mean there's no need for it ;-)

[2021-06-04 16:53] t1 commented on #839
The typesafe client uses reflection. I'm not sure how this works in Quarkus, but it does.

[2021-06-04 17:50] t1 commented on #714
I can't reproduce this! Maybe a newer version helps?

[2021-06-07 07:26] jmartisk commented on #839
Hm yeah that reminds me of a little problem that we're gonna face here. With the typesafe client, we know up front which classes are used for this, and so the extension can automatically register them for reflection. With the dynamic client, it's more difficult to know which classes the client will attempt to parse.
But perhaps we could 'guess' by registering all classes where we find any of these

[2021-06-07 16:14] phillip-kruger opened #842 "NPE when method contains a Map response"
Map are not supported, but we need to handle that better, at the moment you just get a NPE because Map is not in the index.

Throw a better exception

[2021-06-08 10:03] phillip-kruger opened #844 "Add a way to adapt to and from object"
Add support for  `JsonbTypeAdaptor`, including info to also create the schema. This can be useful for Map (see #842) and potentially other Generics ? Also consider a custom TypeAdaptor (for GraphQL only)

[2021-06-08 10:05] #842 closed

[2021-06-08 10:23] phillip-kruger commented on #839
I changed the title, as Name is now fixed. We now need to look at the format annotation.

[2021-06-08 12:07] phillip-kruger opened #846 "Add support for Extended scalars with `@ToScalar`"
https://github.com/graphql-java/graphql-java-extended-scalars

[2021-06-09 06:35] #806 closed

[2021-06-09 10:13] talbiislam96 opened #850 "GraphQLUI Data Fetching Error: java.lang.NullPointerException"
Trying to test my GraphQL API on GraphQlUI , I get a fetching data error every time I run the query.
 this is the api:

[code]

The service

[code]

The api returns an object that contains key-value pairs since maps are not supported yet in graphQl.

Here's the object that the api is supposed to return

[code]

The Query :

[code]
Current behavior :

[code]
Lastly, this is the error that I get as

[2021-06-09 10:20] phillip-kruger commented on #850
It seems like currentContextRequest is `null`. Where does that come from ?

[2021-06-15 04:08] t1 commented on #714
If anybody can reproduce this, please give us a hint and reopen the issue.

[2021-06-15 04:08] #714 closed

[2021-06-15 11:30] jmartisk opened #854 "Unify security (and headers in general) config of typesafe and dynamic clients"
currently the dynamic client's security is configured by `CLIENT_NAME/mp-graphql/HEADER_NAME=HEADER_VALUE` (set `HEADER_NAME` to `Authorization`, for example)

while typesafe offers more fine-grained `CLIENT_NAME/mp-graphql/username` and `CLIENT_NAME/mp-graphql/password` for BASIC auth and `CLIENT_NAME/mp-graphql/bearer` if Bearer is used (and the auth type must be specified in an annotation, IIUC

[2021-06-15 11:33] phillip-kruger commented on #854
How is this done in RESTClient ?

[2021-06-15 11:44] jmartisk commented on #854
It seems that REST client has a `ClientHeaderParam` annotation that can either contain a particular value, or refer to a system property:
[code]

but I don't see a way to add a header without annotations at all.
Also REST client doesn't seem to have a notion of different auth types, it just expects you to provide the raw Authorization header. Which I think it a good thing  - basically  there's no

[2021-06-15 11:51] phillip-kruger commented on #854
Ok, I think we should then define our own via config, but potentially add something similar to the RESTClient solution as well ?

[2021-06-15 12:00] jmartisk commented on #854
Agreed. It will just be quite convoluted, because I suppose we want to keep the `*/mp-graphql/*` properties alongside (quite different) `quarkus.*` properties in Quarkus (and have a 1:1 mapping between them), keep support for annotations in the typesafe client, while offering the equivalent using purely config properties, and the same config properties should apply to the dynamic client too.

Add

[2021-06-15 13:31] sacnoth opened #855 "Returning a SortedSet will return unsorted values"
From an `@GraphQLApi` endpoint I want to return a `SortedSet` of comparable data.
(Reason for choosing a `SortedSet` over a `List`: Wanting to prevent duplicates in the result, but still having an order in the result)

Unfortunately the originally sorted set will end up being unsorted once it's queried via GraphQL.

[code]

Query:
[code]

Expected result:
[code]

Actual result:
[code]

As far as I

[2021-06-15 14:17] WhiteCat22 commented on #714
When I free up I'll attempt to update and see if it still fails. If it still does, I'll push my project to github so you can grab it.

[2021-06-17 08:46] phillip-kruger opened #859 "Reactive: Add support for Flow"

[2021-06-17 09:48] phillip-kruger opened #860 "Add support for Jackson"
Example `com.fasterxml.jackson.annotation.JsonIgnore`

[2021-06-17 11:01] jmartisk commented on #860
How, if we're using JSON-B all over the place? :)

[2021-06-17 11:32] phillip-kruger commented on #860
Just use the annotations as markers for certain things. Like ignore. We don't even need a dependency on Jackson

[2021-06-17 11:33] t1 commented on #860
Hmmmm... I understand that Jackson plans to support JSON-B. I think the prio of this is not very high.

[2021-06-17 12:26] #850 closed

[2021-06-18 06:27] jmartisk commented on #854
A suggestion how to do this.

I assume we want to have a set of Quarkus-specific properties, but keep the old `*/mp-graphql/*` properties understood by SmallRye directly, these can be used by WildFly too (and any other runtime).
For Quarkus, they will be usable too, but the `quarkus.*` properties will be preferred, because they will be integrated with the standard Quarkus mechanisms. They will be

[2021-06-19 05:39] t1 commented on #854
Sounds good. What exactly do you mean with 'some minor stuff'? I know that there's a lot of things built into `@AuthorizationHeader`, e.g. the special handling of `*`, but we need it to access the credentials store we have in use (which we currently can't change).

[2021-06-19 12:39] phillip-kruger commented on #854
Sounds good to me. Did we not decide on a more generic header annotation ? To be able to add any header property ?

[2021-06-20 10:18] t1 commented on #854
The generic `Header` annotation can be used also for the `Authorization` header. But if I only have a config source with the username/password in plain text, I need some logic to do the base64 etc. We had an extension mechanism in the beginning, but that was a little bit too much magic, so we replaced it with the current mechanism. Maybe we should go back to that?

[2021-06-20 13:39] hogmuzzle opened #861 "VertxDynamicGraphQLClient"
Can you add support for custom WebOptions in VertxDynamicGraphQLClient

[2021-06-22 06:28] #861 closed

[2021-06-22 12:50] t1 opened #866 "Bugfix: `@DateFormat` on query or resolver result types"
A query like this:

[code]

... fails with: `SRGQL014000: Unable to transform data: java.time.temporal.UnsupportedTemporalTypeException: Unsupported field: OffsetSeconds`

[2021-06-22 13:44] t1 commented on #866
that's correct, actually.

[2021-06-22 13:44] #866 closed

[2021-06-22 13:50] t1 commented on #752
I just found out that there's only a test for `LocalDate` in the TCK, not for the other date types mentioned in the MP spec: `(Local)DateTime`, `OffsetDateTime`, `ZonedDateTime`, `(Local)Time`, and `OffsetTime`.

`Instant` isn't mentioned in the MP spec, so I still consider it to be a bug to return a format without a fixed time zone `Z`! Even worse: annotating a direct query response type with `@D

[2021-06-23 07:01] phillip-kruger opened #867 "How to do Inline fragments in TypeSafe client"
see https://graphql.org/learn/queries/#inline-fragments

Now sure if we can do this yet ?

@t1 ?

/cc @xstefank

[2021-06-23 09:21] LeoKeogh opened #868 "Add graphql variables logging (like smallrye.graphql.logPayload)"
Hello,

When `smallrye.graphql.logPayload=true` smallrye only logs the query/mutation part of the payload.

Could it also log the variables when present?

Thanks,
Leo Keogh.

[2021-06-23 09:31] phillip-kruger commented on #868
Good idea. Maybe we can keep then separate ? So we introduce `smallrye.graphql.logVariables` ?
w.d.y.t ?

[2021-06-23 09:37] t1 commented on #868
I'm very much in favor of keeping that separate, as the variables often contain personal data.

[2021-06-23 09:37] LeoKeogh commented on #868
Yes, that would be good

[2021-06-23 09:45] phillip-kruger commented on #868
@LeoKeogh are you keen to do a PR ?

[2021-06-23 09:54] LeoKeogh commented on #868
@phillip-kruger sorry, no, I don't currently have the time

[2021-06-23 10:05] t1 commented on #867
I understand why Fragments are being used for, but I don't see how this would apply to the typesafe client. Do you have some code in mind to explain it?

[2021-06-23 10:11] phillip-kruger commented on #867
For example, using the GitHub API:

[code]

So Node has no fields, you have to select fields on a specific concrete implementation

[2021-06-23 10:12] phillip-kruger commented on #867
https://docs.github.com/en/graphql/overview/explorer

[2021-06-23 10:13] t1 commented on #867
Yeah, I meant Java code ;-) What's the use-case in the Java code using the typesafe client?

[2021-06-23 10:15] phillip-kruger commented on #867
You mean in this case you should just use the Dynamic client ? I don't think that is ok. We should be able to model this

[2021-06-23 10:24] t1 commented on #867
No, when you request the node with the typesafe client, you'd directly request a `PullRequest`; while wrapping it with the edges is still necessary. I'm not sure how to map the if-this-type-then-these-fields-if-that-type-then-those-fields logic to Java. Maybe we'd need some sort of generic `Fragment` types with 2,3,4,...,n type parameters, e.g. `Fragment2<Issue, PullRequest>`.

[2021-06-23 10:29] phillip-kruger commented on #867
I was thinking to just allow a `@On` or `@From` annotation, that you can add to a `PullRequest` so

[code]

or allow an interface (in this case `Node`) that can be annotated with `@On` or something

[2021-06-23 10:35] phillip-kruger commented on #867
[code]

[2021-06-23 10:48] t1 commented on #867
Hmmm... we could check every return type to see if it has subtypes/implementations. If so, we could request `__typename` and all the possible fragments. Probably the hardest part will be to map the returned JSON to the specific types. JSON-B doesn't do that OOTB.

[2021-06-23 11:03] phillip-kruger commented on #867
That is when you use the interface right ? The annotation on the class can still work ?

[2021-06-23 12:33] xstefank commented on #867
so after discussing it with @jmartisk it seems that even the dynamic client isn't able to do fragments.

[2021-06-23 12:36] phillip-kruger commented on #867
What ?!? Even if passing in a String ?

[2021-06-23 12:36] xstefank opened #869 "Add utility for Document.from(String query)"
Some users might prefer to write queries themselves (like JPQL) but I am just starting with GraphQL so I might have wrong expectations. Currently, I was able to do this:

[code]

So maybe a utility method like this:
[code]

would be a little better to read. Just an idea, feel free to dismiss.

[2021-06-23 12:59] xstefank commented on #867
@phillip-kruger no, passing a String works. Sorry, I meant embedded directly in the API.

[2021-06-23 13:12] janknobloch commented on #770
looks like this is fixed since 1.2.0 - however 1.2.x has not been pushed to the quarkus extension yet, if i'm not mistaken?
Any plan to push this fix (1.2.x++) through to benchmark within quarkus? @phillip-kruger ? ;-)

[2021-06-23 13:16] t1 commented on #770
@janknobloch Have you tried the 2.0.0.RC? IIRC that one is updated.

[2021-06-23 13:22] phillip-kruger commented on #770
You can actually try 2.0.0.Final (just remove the universe as the platform is not released yet)

[2021-06-23 13:24] phillip-kruger commented on #867
OK cool.

[2021-06-23 13:31] jmartisk commented on #869
Why do you need this when you can do `dynamicClient.execute(String query)`?
There is the
`private Request buildRequest(String query, Map<String, Object> variables, String operationName)`
method in `VertxDynamicGraphQLClient` that turns a string query into a request, but I made it private, as I don't expect anybody using it

[2021-06-23 13:34] jmartisk opened #871 "Fragment support for the dynamic client"

[2021-06-23 13:35] jmartisk commented on #867
Yeah, the DSL doesn't have that yet. I reported https://github.com/smallrye/smallrye-graphql/issues/871 so we don't forget about it

[2021-06-23 13:38] xstefank commented on #869
@jmartisk I don't see that in quarkus-smallrye-graphql-client 2.0.0.CR3. Closing then.

[2021-06-23 13:38] #869 closed

[2021-06-23 13:49] jmartisk commented on #869
Oh right, sorry I didn't mention it. You need the just-released 2.0.0.Final.

[2021-06-23 14:00] janknobloch commented on #770
@t1 thanks for the hint! :-) - I tested with 2.0.0.CR3

Happy to report my reproducer jumped from aprox. 600 req/s to 1200 req/s ;-)

Thanks @phillip-kruger  and @ybroeker for pushing this in, looking forward running on Quarkus 2.0.0 final soon.

[2021-06-23 14:00] #770 closed

[2021-06-24 10:56] jmartisk opened #873 "Reduce or eliminate runtime reflection in typesafe client"
Right now, the typesafe client reflectively looks at annotations before **every request** (https://github.com/smallrye/smallrye-graphql/blob/1.2.5/client/implementation-jaxrs/src/main/java/io/smallrye/graphql/client/typesafe/jaxrs/JaxRsTypesafeGraphQLClientProxy.java#L56)  to determine HTTP headers, etc.
We could reduce runtime reflection by looking at the annotation index during build (boot) and

[2021-06-26 11:27] pipinet opened #874 "No class info found for parametrizedParentType name [java.util.HashSet], when build"
[code]
[code]

[code]

[2021-06-26 15:27] t1 opened #875 "GraphQL Tracing on Quarkus doesn't work properly"
I'm not sure if this issue should be opened here or in Quarkus.

I wrote a simple Quarkus 2.0.0.Final [demo app](https://github.com/t1/graphql-jpa) that accesses a PostgreSQL db and exposes it as REST as well as GraphQL endpoints. Jaeger nicely reports all my REST requests as separate traces with one or two spans (depending on whether the requests needs to hit the db or gets the data from the 2nd

[2021-06-27 08:18] pipinet opened #876 "Optional<Set<String>> not work"
![image](https://user-images.githubusercontent.com/6096680/123537675-49832e00-d763-11eb-8d0b-750a1397a977.png)
![image](https://user-images.githubusercontent.com/6096680/123537692-57d14a00-d763-11eb-8f69-e4d3a2bb07a7.png)

[2021-06-28 05:10] t1 opened #877 "`smallrye.graphql.errorExtensionFields` doesn't work properly on Quarkus 2.0.0.Final"
I configure `quarkus.smallrye-graphql.error-extension-fields` (the Quarkus equivalent of `smallrye.graphql.errorExtensionFields`) to be `code,exception,classification,description,validationErrorType,queryPath` (no spaces!), but it only recognizes the first entry. I found out that the other values get a leading space character so the comparison doesn't work. I tried to debug it, but I just don't un

[2021-06-28 06:55] phillip-kruger commented on #877
This rings a bell... see https://github.com/quarkusio/quarkus/issues/17712
Do you have a reproducer ?

[2021-06-28 08:03] t1 commented on #877
I found this in https://github.com/t1/graphql-jpa. I use yaml there, but saw the same behavior with a plain properties file, too. Must be something else, then.

[2021-06-28 08:04] phillip-kruger commented on #877
Thanks @t1, I'll have a look a.s.a.p

[2021-06-29 15:33] Felk opened #881 "[Feature Request] respect `@Name` and `@Description` annotations on enum values"
graphql-java allows you to pass custom names and descriptions to individual enum values:
[code]
But smallrye-graphql currently ignores the `@Name`- or `@Description`-annotation's contents for enum values:
[code]
I haven't tested any other annotations or dug into the code, so it's possible that no microprofile-graphql annotations whatsoever get processed for enum values

[2021-06-29 15:37] phillip-kruger commented on #881
Good suggestion ! Thanks. We can look at this a.s.a.p, or alternatively you can provide a PR :)

[2021-06-29 15:45] Felk commented on #881
I'll take a look later today or the upcoming days and try. If I fail or don't feel comfortable implementing it I'll let you know

[2021-06-29 20:17] Felk commented on #881
I went ahead and implemented it for @Description` in https://github.com/smallrye/smallrye-graphql/pull/883, which was pretty straightforward because the description is a non-functional part.

Implementing `@Name` is not so trivial, because that would also require significant changes to the parsing and such, since doing `Enum.valueOf` is no longer enough. graphql-java might already do a lot here, s

[2021-06-30 07:19] phillip-kruger opened #885 "Multipart Spec"
Look at https://github.com/jaydenseric/graphql-multipart-request-spec

[2021-06-30 07:58] phillip-kruger commented on #881
Thanks @Felk - let's keep this open for the `@Name` part

[2021-07-01 06:12] #752 closed

[2021-07-01 06:44] Andro999b commented on #877
Dont know if it related. But in 2.0.0.Final smallrey-graphql stops return 401 for `io.quarkus.security.UnauthorizedException`  or any quarkus security exceptions.

[2021-07-01 07:09] phillip-kruger commented on #877
@Andro999b that is not good. Do you have a reproducer ?

[2021-07-01 07:55] Andro999b opened #890 "Quarkus 2.0.0.Final security erros does not map to correct status code"
In Quarkus 2.0.0.Final security exception s like `io.quarkus.security.UnauthorizedException` or `io.quarkus.security.ForbiddenException` does not map to 401 and 403 status codes.  It works fine in 1.13.6.Final version.
Please take a look this reproducer for more details: https://drive.google.com/file/d/1iGiXcR0WeDKA2EOaMvQmtG2Yop7c2uhh/view?usp=sharing

[2021-07-01 07:56] Andro999b commented on #877
@phillip-kruger i have created an issue with sample reproducer attached https://github.com/smallrye/smallrye-graphql/issues/890

[2021-07-01 08:00] phillip-kruger commented on #890
Thanks ! I'll have a look.

[2021-07-01 08:22] phillip-kruger commented on #890
Ig I take your reproducer and change the version to 1.13.6 (and .7) it still fails. I think this always worked liked this. Can you confirm ?

[2021-07-01 08:32] phillip-kruger commented on #890
Also look at https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md#status-codes

I think 200 is correct (given that the response contain the error). We can debate this again, or maybe make this configurable.

[2021-07-01 08:40] Andro999b commented on #890
@phillip-kruger yes you are right. Behavior still same. So i am closing this

[2021-07-01 08:40] #890 closed

[2021-07-01 15:07] t1 commented on #877
So the status code issue is unrelated.

[2021-07-01 15:11] t1 commented on #752
I don't need this issue any more, but IIRC @phillip-kruger wanted to keep it open in case someone wants to configure date formats globally. Maybe we should mark such issues as `Ideas-for-the-future` or so?

[2021-07-02 06:23] sgift opened #893 "Using an enum in a set throws SchemaBuilderException"
Hi,

I tried to use a Set containing an Enum, but Quarkus/Smallrye reacted with an error message:

[code]

The code looks like this (I've also attached the files from my sample project for easier debugging):

[code]

If I instead use a Set\<String\> Quarkus starts as expected.

Version: Quarkus 2.0.0.Final / smallrye-graphql: 2.0.0.Final

[example.zip](https://github.com/smallrye/smallrye-graphql/

[2021-07-02 06:40] phillip-kruger commented on #893
Thanks. I'll have a look a.s.a.p

[2021-07-02 07:18] sgift commented on #400
I wanted to ask if something is planned for this issue. I have a related problem to the one t1 mentioned in the last comment: I have a base class which can hold various optional data in addition to some common data. I've introduced an empty interface for the optional data and three classes implementing it in the hope that smallrye-graphql would build an union type for them, but instead only get th

[2021-07-02 07:22] phillip-kruger commented on #400
We want to support this yes. We also accept PRs :)

[2021-07-02 09:37] computerlove commented on #811
Have there been any thoughs on how this best is done?

For both client and server, should it be possible to specify the subprotocol?
[code]
Making all communication happen over websocket. (https://github.com/enisdenjo/graphql-ws/blob/master/PROTOCOL.md)

[code]
Making query and mutation use http POST, and subscriptions websockets with protocol graphql-ws.
And
[code]

Similarly when specifying a cl

[2021-07-02 09:40] phillip-kruger commented on #811
Hi @computerlove . No thought has yet gone into this. You suggestion sounds good at first glance. To make implementation easier I would suggest a new annotation (`@Protocol`) as `@GraphQLApi` is in MicroProfile and harder to change and release.

[2021-07-02 13:42] phillip-kruger commented on #893
mmm, ok, so I did not use your example directly (I don't have kotlin setup), but I created a similar example in java (in the TCK) and it seems to work fine. see https://github.com/smallrye/smallrye-graphql/pull/894

![image](https://user-images.githubusercontent.com/6836179/124283241-f8e94780-db4b-11eb-98fe-5235e2c7d150.png)

So this is either a Quarkus issue, or a Kotlin issue.

Closing here. Ple

[2021-07-02 14:58] t1 commented on #811
I think the most natural thing would be to en/disable the different protocols only for the whole service simply by just adding the dependencies you want, i.e. `smallrye-graphql-servlet` and/or `smallrye-graphql-websocket`. Is it really necessary to have some services exposed as http and others as ws?

[2021-07-02 15:18] phillip-kruger commented on #811
There is no -websocket jar and Quarkus does not use the servlet. But agree that we can only allow this globally, and then use config to set this maybe ?

[2021-07-02 16:15] t1 commented on #811
I just assumed that there would be a `-websocket.jar` if `ws` was supported. For Quarkus we could also have two separate extensions for `http` and `ws`.

If we'd instead go for a single dependency and a single extension, a global config is actually a good idea. I'm not sure how all the artifact ids should then be named. `-servlet` doesn't make a lot of sense any more, if it also contains the webso

[2021-07-02 16:24] t1 opened #895 "Allow typesafe client without CDI"
#884 broke the possibility to use the typesafe client without a CDI container, e.g. in JUnit tests. In this case, the `GraphQLClientsConfiguration` will have to be filled and made available as some sort of singleton.

[2021-07-02 16:25] phillip-kruger commented on #811
Yea, servlet should probably be named http with the subscription support implemented in SSE, and the we can do a seperate websocket jar. Something like that

[2021-07-05 14:53] phillip-kruger commented on #877
@t1 this is fix in Quarkus main. Closing here. Please reopen if quarkus 2.0.1 does not solve this for you

[2021-07-05 14:53] #877 closed

[2021-07-07 07:45] jmartisk commented on #875
I didn't write the `TracingService` so I'm not quite sure what's going on, but as far as I remember we used to have a span for each data fetcher separately. Maybe there's some issue with losing the span context over time (because we're using more asynchronous/reactive stuff than before?), so we can't properly create child spans or something...

[2021-07-07 07:47] jmartisk commented on #875
I can look into it but need to finish some stuff on clients first, so probably not this week

[2021-07-08 10:30] jmartisk opened #903 "Improve/unify error messages when client URL is missing"
For the typesafe client, if URL is not defined anywhere (neither in the configuration, nor passed to the builder dynamically), we get a very ugly exception
[code]

For the dynamic client, we get a slightly better message, in case of a named client:
[code]
But: Firstly, this is wrong, it should be `CLIENT_NAME/mp-graphql/url`.
Secondly, perhaps we could somehow detect that we're running in Quarkus

[2021-07-08 16:40] wpater opened #904 "Change type of scalar from `DateTime` to `Time`"
I am trying to use GitLab GraphQL API and there is [timelogs](https://docs.gitlab.com/ee/api/graphql/reference/index.html#grouptimelogs) which have argument for filtering - for example `endDate` which require [`Time` type](https://docs.gitlab.com/ee/api/graphql/reference/index.html#time).

I have prepared an interface to retrieve those timelogs:
[code]

Query fails on the validation because `Local

[2021-07-08 17:14] phillip-kruger commented on #904
@t1 @jmartisk

[2021-07-09 03:59] t1 commented on #904
If I understand this correctly, the GitLab API defines a type `Time`, which is a scalar containing an ISO date-time, e.g. `2021-03-09T14:58:50+00:00`. The typesafe client maps the Java `LocalDateTime` type (as well as `ZonedDateTime` and `OffsetDateTime`) to a GraphQL type named `DateTime`, which the GitLab API doesn't accept.

First of all: I think this is a bug in the GitLab API. This is not a `

[2021-07-09 11:42] t1 commented on #875
This is about MP Tracing, not the [GraphQL tracing extension](https://github.com/apollographql/apollo-tracing), right?

[2021-07-09 12:01] jmartisk commented on #875
Right, this is MP OpenTracing with Jaeger. We don't support any other tracing for GraphQL.

[2021-07-10 05:22] t1 opened #906 "Handle errors with a `null` error `message`"
The typesafe client throws a `java.lang.ClassCastException: class javax.json.JsonValueImpl cannot be cast to class javax.json.JsonString` if the response is something like:

[code]

Reason: the `ResultBuilder` simply returns `jsonObject.getString("message");` which fails on a `JsonValue.NULL`.

[2021-07-10 13:52] #906 closed

[2021-07-11 04:58] t1 opened #908 "`@Multiple` for resolver methods"
Currently, a resolver method can only add a single field to a target type. We could reuse the `@Multiple` annotation from the typesafe client to allow resolver methods to add multiple fields when it's cheap to get them all at once.

E.g.:

[code]

... results in a schema like:

[code]

[2021-07-11 14:49] doublefx opened #909 "@Subscription, onNext() has no subscribers"
Hi,

I was trying Quarkus 2.0.1.Final with quarkus-smallrye-graphql and the new io.smallrye.graphql.api.Subscription annotation:

[code]

I'm getting:

![image](https://user-images.githubusercontent.com/1222171/125199498-5e30ed00-e25e-11eb-9343-8650fc9e1257.png)

My HeroResponse is logged but the onNext() does not have any subbcribers:

![image](https://user-images.githubusercontent.com/1222171/12

[2021-07-11 14:59] phillip-kruger commented on #909
This is ready, so should be working, can you share a reproducer ?

[2021-07-11 15:16] doublefx commented on #909
Sure: https://github.com/doublefx/smallrye-graphql-issues-909-reproducer.git

[2021-07-11 15:32] doublefx commented on #909
@phillip-kruger I just had the idea to make the BroadcastProcessor static and it has been working like a charm.

Maybe https://quarkus.io/guides/smallrye-graphql#subscriptions can be updated.

[2021-07-11 15:37] t1 commented on #909
Maybe it would be sufficient to make the `HeroAPI` application scoped instead of making the `BroadcastProcessor` static?

[2021-07-11 15:39] doublefx commented on #909
:-) clearly my bad, sorry, closing...

[2021-07-11 15:39] #909 closed

[2021-07-11 16:03] phillip-kruger commented on #909
Yes I think Application Scope is the way to go

[2021-07-11 16:05] phillip-kruger commented on #909
Although, GraphQLAPI should be application scope by default, so this might be an issue

[2021-07-12 13:44] wpater commented on #904
Yes, this is working. I will create issue in GitLab. Thank you for your help.

[2021-07-12 13:44] #904 closed

[2021-07-12 14:57] Felk opened #911 "add custom scalar"
I am having trouble getting a custom scalar to work properly. Since there does not appear to be first-class support for custom scalars in neither microprofile-graphql nor in smallrye-graphql I attempted to register a custom scalar using the underlying graphql-java library using the same name as the respective java class.
[code]
The custom scalar is very simple:
[code]

If I now try to use the cust

[2021-07-12 16:12] t1 commented on #911
I suppose this is related to https://github.com/eclipse/microprofile-graphql/issues/94

[2021-07-12 17:51] phillip-kruger commented on #911
I guess, at this point, you would also need to update the `myEchoQuery`, your interceptor added the type, but did not update the query. As @t1 mentioned, we want to add a easy way to do this, but we have not yet gotten around to do it.

[2021-07-13 07:07] phillip-kruger commented on #876
Hi @pipinet . Do you have a small reproducer  ?

[2021-07-13 07:08] phillip-kruger commented on #874
Hi @pipinet - do you have a small reproducer ?

[2021-07-13 07:12] phillip-kruger commented on #908
I am not sure about this. This does not feel right. But I am not sure why. @jmartisk w.d.y.t ?

[2021-07-13 08:03] jmartisk commented on #908
I think that adding multiple fields should be possible, but shouldn't this work even without the annotation? Why should we require it?
Even if we decide that we need an annotation, I would not reuse something that has `client` in its package name.

[2021-07-13 08:28] #903 closed

[2021-07-13 08:55] t1 commented on #908
Without the `@Multiple` annotation (which would have to move to the common api), the schema would be:

[code]

I want the fields to be _inlined_, so to speak.

[2021-07-13 08:56] phillip-kruger commented on #908
Maybe a `@Flattern` annotation ?

[2021-07-13 09:16] t1 commented on #908
I'm fine with a new name, but as the semantic is exactly the same in the typesafe client, we should then rename that, too.

[2021-07-13 09:47] jmartisk commented on #908
Oh I see. JPA has something similar, but you need two annotations
- `@Embeddable` on the class that you "include" into an entity
- `@Embedded` where you perform the embedding, that would be the same place where we have `@Source`

I don't think we need two annotations, that's a bit too complex.

I'm not sure I like `@Flatten` because it could be viewed as somehow flattening the included class, whil

[2021-07-13 10:52] parsharma commented on #868
@phillip-kruger could I give it a try?
Thanks,
Parul Sharma

[2021-07-13 10:56] phillip-kruger commented on #868
Hi @parsharma please go for it ! Thanks :)

[2021-07-13 12:40] parsharma commented on #868
Thanks, @phillip-kruger. How I can test my changes, could you please let me know?

[2021-07-13 13:56] phillip-kruger commented on #868
This one is a bit tricky to test in a test case, as it just prints in the logfile. You can do a manual test by setting the property that will control this in the `runner` app, then start the runner and test a query in the graphql-ui.

see https://github.com/smallrye/smallrye-graphql/tree/main/server/runner

The runner deploy the whole TCK app (from MicroProfile) and the tests we add in SmallRye as

[2021-07-15 11:47] #868 closed

[2021-07-15 11:52] phillip-kruger commented on #307
THis is now done.

[2021-07-15 11:52] #307 closed

[2021-07-15 11:53] #62 closed

[2021-07-16 12:42] jmartisk commented on #875
Got something ready to improve the tracing (plus a lot of ideas how to improve further, but I'm not yet sure how to do that). I want to add some test coverage first, so I will probably send a PR within a few days

[2021-07-19 09:56] phillip-kruger opened #918 "Uni and IO Thread"
At the moment Uni return execute on the Worker thread, we need to enhance this to execute on the IO Thread

[2021-07-20 08:07] jmartisk opened #919 "Dynamic client does not parse errors from the server correctly"

[2021-07-20 09:29] jmartisk commented on #919
Also it would be useful to have a way to present non-standard error fields (anything besides message, path, locations and extensions). For example, the Github GraphQL API returnes a field `type`.

[2021-07-20 09:57] #875 closed

[2021-07-20 09:59] #919 closed

[2021-07-20 10:03] jmartisk opened #921 "Investigate using instrumentation capabilities of graphql-java for tracing"
... instead of our own kind-of-instrumentation approach that we're using now.

[2021-07-20 10:05] #751 closed

[2021-07-20 13:21] ybroeker opened #922 "`@NonNull Optional<...>` should throw an error"
Currently, `Optional<?>` fields annotated with `@NonNull` are marked as non-null in the schema.

It would be better if such conflicting types ("optional but not null") would throw an exception during schema creation to prevent errors.

[2021-07-20 13:52] ybroeker opened #923 "`@NonNull` at class/package level"
It would be nice, if `@NonNull` (or an alternative annotation) could be used at class or package-level to mark all fields as non null.

Most of our classes look like this:

[code]

which could look like this if `@NonNull` on classes would be possible, where anything except `someOptionalField` would be non-null:

[code]

----

I don't know if `@NonNull` is the best approach for this, maybe a new an

[2021-07-20 14:31] t1 commented on #921
This is about GraphQL/Apollo tracing, not about MP OpenTracing/Jaeger. Maybe we need both.

[2021-07-21 11:20] parsharma commented on #519
Hi @t1,
Are you working on this issue? Could I give it a try?

Thanks

[2021-07-21 12:06] parsharma commented on #297
Hi @phillip-kruger,
Are you working on this issue?

Thanks

[2021-07-21 12:26] phillip-kruger commented on #297
No I am not. But I am working on https://github.com/smallrye/smallrye-graphql/issues/844 that overlap a bit

[2021-07-21 13:27] parsharma commented on #297
Okay, that means no changes are required here.

[2021-07-21 13:29] parsharma commented on #435
@phillip-kruger are you working on this?

Thanks

[2021-07-21 13:32] phillip-kruger commented on #435
No, but I am not to sure how to proceed here. Maybe @radcortez can help with how smallrye projects should proceed.

[2021-07-21 16:05] t1 commented on #519
No, I don't... just go ahead!

[2021-07-22 09:06] radcortez commented on #435
I was working on the SR Config prototype but had to move for other stuff. I'll need to pick that up again.

[2021-07-22 10:08] parsharma commented on #519
Thanks, Could you please give me some more details about it?

[2021-07-23 06:46] phillip-kruger commented on #519
So a.f.a.i.k, at the moment, to add exceptions on the hide or show list, you need the full package class name(s).
This feature will allow you to use wildcards. Possibly we should just support regex and use pattern matching ? @t1 - does that some this up ?

[2021-07-23 07:30] t1 commented on #519
I hadn't considered regex. It's definitively more powerful and could come in handy, but it could also lead to confusion, e.g. that `foo.*` also matches classes in a package `foobar`. Do you see regex often in config strings? We also could start simple and add some form of expressions only when we really need it; something like `foo.${regex:.*}`. What do you think?

[2021-07-23 07:36] phillip-kruger commented on #519
I am easy, agree we can add regex later. @parsharma - Is this enough so you can work on this ?

[2021-07-25 09:18] beikov opened #926 "Java interface should only be mapped to GraphQL interface if `@Interface` is annotated"
Hi,

I tried to work further on the Blaze-Persistence integration with MP GraphQL but I hit another roadblock because I get the following error:

[code]

That is because I have a query that returns the type 'SomeInterface' which is a Java interface. But why would SmallRye GraphQL even care what kind of class this is for the GraphQL schema? IMO a Java interface should be modeled as GraphQL object t

[2021-07-25 09:23] beikov opened #927 "Serializable are ignored for types"
I have a model similar to the following:

[code]

But when I try to start a Quarkus application with such a model, I get the following error: `type Serializable not found in schema`

When I mark the `something` field as `transient`, the field disappears completely from the type definition i.e. the getter is ignored.

[2021-07-25 09:28] beikov commented on #312
I would like to point out that in the Spring world, the DGS framework is currently the leading declarative solution for GraphQL which is very advanced. DGS offers support for federation and dynamic types by allowing to provide custom `TypeDefinitionRegistry`: https://netflix.github.io/dgs/advanced/dynamic-schemas/

[2021-07-26 09:42] phillip-kruger commented on #927
Hi @beikov - thanks for this. We check the type in the field (first), then the method. This should be possible to check the type in the method in case the type is Serializable. I'll look at this a.s.a.p

[2021-07-26 09:44] phillip-kruger commented on #926
I think it makes more sense to map interfaces to interfaces. Have you tried adding `@Type` to your interface ?

[2021-07-26 10:07] beikov commented on #926
I did try that, but it didn't help. I don't think the concept of Java interfaces maps perfectly onto GraphQL interfaces, that's why I would prefer explicitness, but I would be fine if annotating `@Type` would produce the expected outcome.

[2021-07-26 10:09] phillip-kruger commented on #926
I think adding `@Type` to an interface is the way to go. But I do recall that that is still a TODO in code. I'll have a look a.s.a.p

[2021-07-26 14:14] Felk opened #930 "bad performance and high memory usage when returning large array of nested objects"
I encountered a performance issue when returning a large array of nested objects as response to a GraphQL query and was wondering whether it would be considered an actual performance issue or out of scope. This is a minimal GraphQL API to reproduce the issue, using a generated project with smallrye-graphql and lombok from `code.quarkus.io`:

[code]

I am querying the endpoint using curl:

[code]
I

[2021-07-27 12:28] phillip-kruger opened #933 "Runner is not using config from TCK"
The Runner project ignores the properties from TCK

[2021-07-28 07:25] #871 closed

[2021-07-28 08:18] jmartisk commented on #854
I'm thinking whether this can be closed now, and I think that yes.
I performed the property unification across typesafe/dynamic, added the global `GraphQLClientConfig` object and kept the  typesafe-client-specific annotations as they were, so they can still be used.
The next step should be to scan the annotations just once at boot and append the discovered information into the global configuration

[2021-07-28 08:18] #854 closed

[2021-07-28 10:23] mistreckless commented on #521
What is current status for the federation support? Can I use it with quarkus in expiremental/alfa status on my own risk? There are still no federation quarkus extension [#15386]( https://github.com/quarkusio/quarkus/issues/15386 ).

[2021-07-28 13:44] t1 commented on #521
It currently works as an alpha in JEE containers, but not in Quarkus. We're still working on the Quarkus Extension, but there was not much progress lately. Do you want to support?

[2021-07-30 06:48] #839 closed

[2021-07-30 11:04] phillip-kruger commented on #930
Hi @Felk - Thanks for this. From the screenshot above it seems like this is more a graphql-java problem ? Maybe you can confirm by creating a graphql-java only reproducer ? If we can confirm it, we can log a issue at their repo.

[2021-07-31 11:57] shmulik-klein commented on #521
@t1 I would really like to help with the Quarkus extension, where can I start from?

[2021-07-31 12:35] t1 commented on #521
Maybe @phillip-kruger can give you a hint?

[2021-08-01 14:30] pipinet commented on #876
@phillip-kruger My fault.
The correct usage should be  Set<String> with out @Notnull

[2021-08-01 14:30] #876 closed

[2021-08-01 14:33] pipinet opened #938 "graphql error handler support"
https://github.com/quarkusio/quarkus/issues/14719

[2021-08-02 13:07] #519 closed

[2021-08-02 14:29] #926 closed

[2021-08-02 14:35] kulame opened #940 "how can i define a graphql interface by a java object?"
i try to define a simple graphql interface like this.

[code]

i found no solution when i try to use samllrye-gaphql .

[2021-08-02 14:41] phillip-kruger commented on #940
A java interface will map to a graphql interface.

[2021-08-02 14:58] kulame commented on #940
i define a java interface
[code]

the exception is
[code]

[2021-08-02 15:38] phillip-kruger commented on #940
I think we are only looking for methods in an interface...

[2021-08-02 15:43] phillip-kruger commented on #940
So try
[code]

[2021-08-02 15:57] kulame commented on #940
I appreciate your help.

[2021-08-02 15:59] phillip-kruger commented on #940
No problem. Did that work for you ? If so we can close this I think ?

[2021-08-02 16:07] phillip-kruger commented on #855
Thanks for this. Looking at it now.

[2021-08-02 16:27] kulame commented on #940
hmm  i also have a question.
the graphql code is
'''graphql
union Entity = Address | User | Group | ServiceAccount | App | ProductVariant | Product | ProductType | Collection | Category | ProductImage
[code]
i try to run this code by smallrye-graphql.  it's the same problem on it.
[code]
how can i use a java object to write the enum?

[2021-08-02 17:43] #927 closed

[2021-08-02 19:13] phillip-kruger commented on #933
This is fixed

[2021-08-02 19:13] #933 closed

[2021-08-02 20:31] Felk commented on #930
Sorry for the late reply. You're probably right, I will take a look, but won't be able to get to it before the end of the week or next week.

[2021-08-03 00:31] kulame commented on #940
has any plans to support union?

[2021-08-03 01:46] kulame opened #944 "Are smallrye plans to support schema first?"
import a java-auto-gen tools to generate code by schema file

[2021-08-03 04:37] t1 commented on #940
Field on an interface, are implicitly `static`, i.e. they are just constants.

We have an completely experimental `smallrye-graphql-client-generator`, but this is about `graphql-java-codegen`, right?

IIUC, you want the `EntityTO` interface to define an `id` field. So, as Phillip said, you need to make it declare the getter and setter for `id`. I don't know how to do that with `graphql-java-codege

[2021-08-03 04:41] kulame commented on #940
hi @t1

I need a function to generate code on the server side.

it like this.
https://docs.nestjs.com/graphql/quick-start#schema-first

[2021-08-03 05:21] t1 commented on #944
I think the code-first and the schema-first approach don't have a lot in common (other than using the same underlying libs, `graphql-java` in this case). So there is hardly any benefit from unifying the libraries. If you want to go schema-first, just use one of those libs. If you want to go code-first, MP GraphQL is a good choice. I don't know why you would want to mix them.

[2021-08-03 05:34] t1 commented on #940
There's a boundless discussion about whether code-first or schema-first is better. MP GraphQL is explicitly designed as a code-first framework, and this is what I prefer. Technology vendors have an agenda to position the schema into the core of your work, but I experienced many cases where schemas looked ideal but where cumbersome to use in actual code. And I think the domain-logic is better expre

[2021-08-03 06:11] beikov commented on #927
It's nice that you support this now, but don't you think it might be better to just let the getter type have a precedence over the field type in case it is more concrete?

[2021-08-03 06:22] phillip-kruger commented on #927
We could do that yes. We support public fields, so there is not always a method, hence the field first approach, but we can code around that. I'll have a look. Thanks :)

[2021-08-03 07:04] kulame commented on #940
I understand it, bu it will be hard without automatic code generation funciton if a legacy system needs to reimplement the code based on graphql.

[2021-08-03 07:05] kulame commented on #940
and how can i implement union by smallrye-graphql?

[2021-08-03 07:19] phillip-kruger commented on #855
This still works for me. (Waiting to see of CI passes all tests)
Only change is I had to make the private class public. See https://github.com/smallrye/smallrye-graphql/pull/945

@sacnoth - can you share more details on your environment, as this seems to be specific to your environment.

[2021-08-03 07:22] phillip-kruger commented on #855
![image](https://user-images.githubusercontent.com/6836179/127974630-dce4c194-7b99-471a-b78e-a9aad86b3ffe.png)

[2021-08-03 07:24] #855 closed

[2021-08-03 07:25] phillip-kruger commented on #855
All CI tests passes. Closing the issue, but you can reopen if you can share more info that allows us to recreate the problem

[2021-08-03 07:38] phillip-kruger commented on #844
Also look at `JsonSerialize` from Jackson

[2021-08-03 08:45] t1 opened #946 "Typesafe Client: JsonException when a GraphQL error has a path that is actually `null`"
[code]

There was an error in `foo/bar/baz` that resulted in `foo/bar` being `null`.

⇒ The typesafe client fails with `javax.json.JsonException: The reference value in a JSON Pointer must be a JSON Object or a JSON Array, was 'NULL'` in `ResultBuilder` line 74 when trying to apply an `ErrorOr`.

Expected: don't apply the `ErrorOr`

[2021-08-03 08:52] sacnoth commented on #855
I just redownloaded my reproducer that was attached to the ticket.

The reproducer can still reproduce the issue, but is using an older version of smallrye graphql (that was up to date when creating the issue).

With the current version of smallrye graphql I can, in fact, no longer recreate the issue.

I guess it was fixed somewhere along the way. Thank you for your time :)

[2021-08-03 09:01] phillip-kruger commented on #855
Great !! Thanks for confirming.

[2021-08-03 13:49] phillip-kruger opened #948 "Upgrade to graphql-java 17"
see https://github.com/graphql-java/graphql-java/discussions/2500

[2021-08-03 13:49] #860 closed

[2021-08-03 14:56] wiradikusuma commented on #860
Please consider adding Jackson's `@JsonView` as well, although I'm not sure how does GraphQL support "views"? Different endpoints?

[2021-08-03 15:00] phillip-kruger commented on #860
Hi @wiradikusuma - I am not sure what `@JsonView` is, or how support would look like. Maybe you can explain a bit more ? If possible refer back to something similar (if exist) in JsonP or JsonB

[2021-08-03 15:27] wiradikusuma commented on #860
Sure.

Context: I use Quarkus, and it uses RESTEasy, a JAX-RS implementation.

Let's say I have 2 REST API endpoints that return the same `MyModel` but have different `@JsonView` annotation:

[code]

When I call `GET /public`, it will return `{"username": "..."}` and when I call `GET /admin`, it will return `{"username": "...", "secret": "..."}`. Basically, I can create a "fat" model and selective

[2021-08-03 16:41] phillip-kruger commented on #860
Mmm, interesting. We currently support `RolesAllowed`, but only on top level. Let me sleep on this a bit :) I also think this would be  good discussion in the next MicroProfile GraphQL meeting.

Thanks. For now, it's not supported, except with using a combination of `RolesAllowed` and `Source` fields.

[2021-08-03 16:41] t1 commented on #860
I'd rather use `@RolesAllowed` etc. to limit access to some fields/methods. As an advanced feature, users should see only the fields they can access... on input as well as on output.

[2021-08-03 16:41] t1 commented on #860
tomorrow! ;-)

[2021-08-03 16:42] phillip-kruger commented on #860
Nice ! Let's discuss it.

[2021-08-03 17:08] wiradikusuma commented on #860
I use `@RolesAllowed` as well for my REST APIs, but as @phillip-kruger said, it's too high-level (method level)

[code]

It also means creating multiple DTOs. Maybe it's not best practice, but it's certainly _convenient_ to have 1 DTO instead of multiple versions of it. Lo and behold, my monstrous DTO:

[code]

[2021-08-03 17:43] pipinet opened #949 "Graphql ExecutionInput locale is null"
https://github.com/quarkusio/quarkus/issues/19207

[2021-08-03 17:59] phillip-kruger commented on #521
I'll be honest - I am not sure. I am not sure if this would be a new extension, or build into the current one. I think the current one. So maybe start by playing around with that ?

[2021-08-04 08:40] shmulik-klein commented on #521
Thanks @phillip-kruger.

@t1 @phillip-kruger Just to make sure that I understand it correctly - `quarkus-smallrye-graphql` Quarkus extension, generates the graphql schema at build time (deployment), so it can't work with `smallrye-graphql-federation-runtime` as the later observes to the schema creation and adds to it the entities required to make it a federated schema? - meaning, you can only use

[2021-08-04 11:29] #948 closed

[2021-08-04 11:33] phillip-kruger commented on #944
No plans at the moment.

[2021-08-04 11:33] #944 closed

[2021-08-04 11:35] phillip-kruger commented on #940
@kulame - Let;s move this to Discussions: https://github.com/smallrye/smallrye-graphql/discussions

Closing here.

[2021-08-04 11:35] #940 closed

[2021-08-04 11:50] #946 closed

[2021-08-05 11:22] verboomp opened #955 "one wildfly 2 war files with GraphQL Context throws NullPointerException"
I have a Wildfly 23 running with the GraphQL feature pack from https://github.com/wildfly-extras/wildfly-graphql-feature-pack. On this Wildfly I have installed 2 war files with a GraphQL Service similar to this:

@GraphQLApi
@RequestScoped
public class GraphQLResource {

	@Inject
	private Context context;

        @Query("users")
	@Description("Get a list with users")
	public List<UserDtoValue> us

[2021-08-05 11:33] jmartisk commented on #955
Hi, thanks for reporting this. We try to make sure that multiple WARs can be deployed at the same time, but there have been some issues with it, so this may be another one. I'll try to reproduce this and get back to you

[2021-08-05 12:47] jmartisk commented on #955
Right so the problem is, as usual, in a static field: https://github.com/smallrye/smallrye-graphql/blob/1.3.1/server/implementation/src/main/java/io/smallrye/graphql/execution/context/SmallRyeContext.java#L48

This field is (unintentionally) shared between the two (or more) deployed applications, and therefore at least one of them necessarily sees a 'wrong' value. This will need to be turned into

[2021-08-05 12:52] shmulik-klein commented on #521
Another small question (+@t1), is it possible to use `smallrye-graphql` + `smallrye-graphql-federation-runtime` dependencies on quarkus to get graphql federation support? I tried to do so with `undertow` + `smallrye-graphql-servlet`, but failed. I tried to do so to better understand the bootstrapping logic.

[2021-08-05 13:02] phillip-kruger commented on #521
@shmulik-klein @t1 - I think we said that we should merge the federation stuff (in SmallRye) into the smallrye-implementation. That means we need to move the annotation discovery to the common/modelbuilder module. That way, quarkus should just work

[2021-08-05 13:45] shmulik-klein commented on #521
My intuition was to combine the extension, but this sounds better. I'll look into that.

[2021-08-06 05:55] t1 commented on #521
Please note that the main thing missing is tests. They'd have to live in the SmallRye TCK.

We also talked about using the `@Source` annotation instead of the `@FederatedSource`, which might let us get rid of the requirement to declare federated types as a query result in order to use them as a federated source.

[2021-08-06 07:41] verboomp commented on #955
hi,

great work and very fast.

Thank you in advance.

[2021-08-06 08:15] #955 closed

[2021-08-06 08:17] jmartisk commented on #955
So this should be fixed in WF feature pack 1.4.1 - I'll release that soon after SmallRye GraphQL 1.3.2 is out. Enjoy!

[2021-08-06 08:25] t1 commented on #860
We actually just got exactly this requirement: nested `@RolesAllowed`. Is that a new ticket or should we rename this one?

[2021-08-06 08:33] phillip-kruger commented on #860
Please create a new one

[2021-08-06 09:10] hogmuzzle opened #957 "Wrong Json Parsing"
The logic in io.smallrye.graphql.client.typesafe.impl.json.buildValue is wrong.
if(jsonFieldValue) is null you check if the field in java model is primitive or NotNull annotated but it has no meaning. According to a graphql scheema a field must be not null if **queried**
which is a server-side responsibility. A client can query for a field or not.

[2021-08-06 09:22] t1 opened #958 "Nested `@RolesAllowed`"
We already can control access to queries and resolvers simply with standard `@RolesAllowed` et.al. annotations. As discussed in #860, there are situations where the fields of some POJO need access control; i.e. a `User` class having fields for the name, etc., and a `lastLoginTimestamp`, which only a user in the `admin` role is allowed to read and a `system` allowed to write. The `@RolesAllowed` an

[2021-08-06 09:28] t1 opened #959 "Use `@RolesAllowed` etc. to limit schema"
The schema is limited to the fields a user actually has access to, e.g. only users authenticated as a member of the `admin` role can see a query annotated as `@RolesAllowed("admin")`. This works also for nested fields (see #958).

[2021-08-06 09:31] t1 opened #960 "Show the `@RolesAllowed` as directives in the schema"
If a user has access to a field (see #958 and #959), the schema also contains a corresponding directive indicating the roles that are allowed to see that field. E.g. a field annotated as `@RolesAllowed("admin")` has a directive `@rolesAllowed("admin")`.

[2021-08-06 09:44] t1 commented on #957
The typesafe client builds a query with all fields declared in the client POJOs. And it assumes the type of a field to be non-null if it's annotated to be so or it's primitive. The service can have a different idea of the nullability of a field and still return `null`. In such a situation, it's better to get a specific exception with a helpful message instead of a generic NPE when setting the prim

[2021-08-07 04:24] t1 opened #962 "unsupportedOperationException on Quarkus startup with custom directive with params"
As reported by @nuratsree in [discussions](https://github.com/smallrye/smallrye-graphql/discussions/880#discussioncomment-1010456), starting Quarkus fails if there's a custom directive with arguments. It works fine in WildFly.

I have created a reproducer project [here](https://github.com/smallrye/smallrye-graphql/issues/962).

[2021-08-07 04:42] t1 commented on #962
@phillip-kruger: I don't understand what's happening, as the `UnsupportedOperationException` happens in the `buildExecutionService` build step of the `SmallRyeGraphQLProcessor`, but there's no `add` call in that method! Has to be something in the Quarkus Extension magic.

[2021-08-07 04:49] phillip-kruger commented on #962
I'll have a look a.s.a.p

[2021-08-07 04:54] t1 commented on #521
@shmulik-klein: It would be cool if you could share your progress as early and as often as possible in a PR, as I need this, too.

[2021-08-07 06:18] t1 commented on #867
If I understand this correctly, Fragments only make sense when you have Unions (or at least Interfaces), right?

[2021-08-07 22:16] shmulik-klein opened #963 "maven-plugin fails to execute since MavenConfig can't be loaded by the service loader"
Seems like the recent change for config (261310802b7062f1ecbd86fc51d3ea2a512a09d8) broke the maven plugin, since the service provider `io.smallrye.graphql.mavenplugin.GenerateSchemaMojo.MavenConfig` can't be loaded.

The following exception is thrown:

[code]

The reason for that is that a service provider can't be defined as an inner class - [ServiceLoader JavaDoc ](https://docs.oracle.com/en/jav

[2021-08-08 06:24] t1 commented on #940
Oh, and SmallRye GraphQL doesn't yet support Union types. See #400

[2021-08-08 07:18] t1 commented on #938
This is actually what we also need in our project: we have `@RolesAllowed` annotations on our code and want to map the resulting `EjbAccessException` to our custom `UserNotPermittedToException` (while doing some reflection magic to find the method that failed).

Our current workaround is with a CDI interceptor on the boundary class that catches the exception from thte service class and throws our

[2021-08-08 09:13] shmulik-klein commented on #521
@t1 I had to overcome the following issue #963 to be able to run the maven plugin and to better understand the `schema-builder` flow.
I understand that the schema builder generates a `io.smallrye.graphql.schema.model.Schema`, while the `Federation`'s code acts on `graphql.schema.GraphQLSchema.Builder`. In order to integrate it into `common/schema-builder` should I refactor `Federation` to act on `

[2021-08-08 09:15] shmulik-klein commented on #963
Please note, without confirming it, I believe that the Gradle plugin also suffers from the same issue.

[2021-08-08 09:50] t1 commented on #521
I haven't thought about this earlier. The existing federation module was planned as a "plugin", so it does everything at runtime. When integrating it into the core module, there are some static parts (_service and _entities) and some dynamic parts that depend on the other types used (_Entity).

I think we need a config option to enable it.

Creating a PR is helpful to have code to discuss about, e

[2021-08-09 06:14] jmartisk commented on #867
They can also be used to prevent having to repeat a large chunk of fields several times, like in the example here
https://graphql.org/learn/queries/#fragments
but this is chiefly a problem when writing queries by hand, not so much when building queries programmatically

[2021-08-09 06:55] jmartisk opened #966 "Test coverage for Maven/Gradle plugins"
Unfortunately, we currently have zero automated test coverage for them, so they can break pretty easily

[2021-08-09 09:43] #963 closed

[2021-08-09 11:02] t1 opened #967 "Run typesafe client without CDI"
I have a test that uses the typesafe client api.

[code]

To configure the endpoint, I use a System Property `test.ClientTest$Api/mp-graphql/url`, but when I run it, it fails:

[code]

This worked with 1.2.5

[2021-08-09 11:12] t1 commented on #967
I analyzed the problem: as the test runs without a CDI container, the `VertxTypesafeGraphQLClientBuilder#build` method fails when it tries to access `CDI.current()`. The resulting `IllegalStateException` is ignored, and as the `endpoint` is still `null`, it fails with the message above.

[2021-08-09 11:16] t1 commented on #967
Wouldn't it be possible to build the config with a `ConfigMapping` instead of CDI?

[2021-08-09 12:26] computerlove opened #968 "Query returning Multi<O> fails"
When a `@Query`-method returns `Multi<O>`, the returned Multi is not handled/unpacked correctly, resulting in
[code]
With query
[code]
Changing method to `Uni<List<O>>` returns the expected result.

Stepping through the code a bootup I see that `DataFetcherFactory.get(operation)`  does return a `MultiDataFetcher`, but neither `onItem()` or `onFailure()` is called.

Is reproducible on Quarkus 2.1.1

[2021-08-09 13:15] jmartisk commented on #967
If we switch the `GraphQLClientsConfiguration` class away from CDI, as it is now an application-scoped bean; how will we make sure we have one instance of it per application (in multi-deployment environments)? Should we store its instances in a map that is keyed by the application's context class loader? (any better idea how to emulate an application-scoped bean without CDI?)
And instead of inject

[2021-08-09 18:40] phillip-kruger commented on #968
Hi @computerlove . Multi is not supported for `Query`. I am not sure that it should ? At the moment it's supported for `@Subscription`

[2021-08-10 03:31] t1 commented on #967
Maybe I'm naïve, but isn't this a problem that SR Config should be able to solve?

[2021-08-10 06:06] jmartisk commented on #967
SR Config can solve different raw configuration properties for applications, but not storing the "processed" config that we do in `GraphQLClientConfiguration` object where we want to store everything - for the future, I'm also planning to merge stuff parsed from annotations into it (so that we don't have to do a ton of reflection on every request at runtime for re-parsing the annotations)

[2021-08-10 06:16] jmartisk commented on #967
Another reason for using a dedicated class instead of just reading raw config properties is that Quarkus has its own specific configuration object (https://github.com/quarkusio/quarkus/blob/2.1.1.Final/extensions/smallrye-graphql-client/runtime/src/main/java/io/quarkus/smallrye/graphql/client/runtime/GraphQLClientConfig.java) that gets transformed into a `GraphQLClientConfiguration`, so that Small

[2021-08-10 06:38] computerlove commented on #968
Ok, wasn't sure whether it should be supported.
Closing issue.

[2021-08-10 06:38] #968 closed

[2021-08-10 08:06] t1 commented on #967
Okay, but the current dependency on CDI is not ideal either, is it? We found a workaround for our current JUnit use-case: we configure the `endpoint` instead of the prefix, which is okay for the tests we have now, but we won't be able to configure headers in this way... or other config options that may come in the future.

[2021-08-10 13:08] jmartisk commented on #967
Yeah requiring CDI is probably unnecessary. We've been using the approach that I described in several other places already - instead of an application scoped bean, you store instances in a static map keyed by the TCCL. There's one more caveat to it, you can't use TCCL as the key in Quarkus if you populate the map at build time, because in native mode, the TCCL instance will be different at runtime

[2021-08-10 13:29] t1 opened #970 "typesafe client: NPE when a Header-method returns null"
It should not send the header instead

[2021-08-10 14:37] robp94 commented on #704
The support for records is only for the server types, inputs and on the client side they seem not to be supported. Could this be added?

[2021-08-11 04:06] t1 commented on #967
We can live with the workaround for now, so this is not top priority.

I have the feeling that this should be solved by MP Config instead of repeating the same approach in several places, don't you think?

[2021-08-11 04:15] t1 commented on #704
Yeah, that makes sense. Could you open a new issue?

[2021-08-11 07:09] robp94 opened #971 "Extend support for records"
The support for records is only for the server types #704, inputs and on the client side they seem not to be supported.

[2021-08-11 09:01] hogmuzzle commented on #957
I agree when a service returns null for a non-null field in this situation to get a specific exception is ok. I get a schema.graphql file and generate Java POJOs for my client. This POJOs have the whole schema but I can query for specific fields and in this case the non-null check of the fields never queried throws exceptions I do not need. The check has to be in this way. If a jsonobject  has a f

[2021-08-11 11:51] t1 commented on #957
Hmmmm.... if a schema declares a field to be non-null it has to be non-null in _all_ cases. I'd say this is a problem of the schema.

How do you generate the client?

[2021-08-13 05:32] t1 commented on #967
I'm just triggered to do my philosophic thinking here. Without digging deeper to see how far we can get and create a PR, I'm just talking ;-) Don't take my thoughts too seriously.

I'm not arguing against using CDI when it's available. CDI is great and we should use it! Couldn't even the `SmallRyeContext` be `@RequestScoped` and inject the `Schema` which would be `@ApplicationScoped`? Can't we dir

[2021-08-15 10:34] pipinet commented on #949
@jponge @t1

[2021-08-15 15:33] hogmuzzle opened #976 "VertxDynamicGraphQLClient"
In RequestImpl

private JsonObject _formatJsonVariables() {
        JsonObjectBuilder varBuilder = Json.createObjectBuilder();

        variables.forEach((k, v) -> {
            // Other types to process here
            if (v instanceof String) {
                varBuilder.add(k, (String) v);
            } else if (v instanceof Integer) {
                varBuilder.add(k, (Integer) v);

[2021-08-15 16:04] hogmuzzle commented on #976
I changed to

private JsonObject _formatJsonVariables() {
        JsonObjectBuilder varBuilder = Json.createObjectBuilder();

        variables.forEach((k, v) -> {
            // Other types to process here
            if (v instanceof String) {
                varBuilder.add(k, (String) v);
            } else if (v instanceof Integer) {
                varBuilder.add(k, (Integer) v);

[2021-08-16 03:57] t1 commented on #976
It would be cool if you could create a PR for this! If you are not sure about how to do that, just ask.

[2021-08-16 10:18] robp94 opened #977 "ValidationGroup support for Null and NotNull"
Is there a way to use validation groups like this? Described in the quarkus guide for rest endpoints https://quarkus.io/guides/validation#validation-groups-for-rest-endpoint-or-service-method-validation
[code]
Currently, I always get a validation error, even so I deactivate the automatic validation. The Schema for this results in:
[code]

[2021-08-16 10:22] phillip-kruger commented on #977
I do not think groups is supported. We can look into adding support. @jmartisk ? w.d.y.t ?

[2021-08-20 06:15] jmartisk commented on #976
+1 for a PR. Just a few comments:

- Maybe we should also allow the user to pass a `JsonValue` directly if they prefer? so,
[code]

- Adding a small test into `io.smallrye.graphql.tests.client.dynamic.DynamicClientTest` would be cool too! Similar to `testQueryWithVars`, just a bit more complex)

[2021-08-20 06:46] jmartisk commented on #977
The problem I see is that this basically makes the set of constraints dynamic, while our schema is static. How would we be able to generate a single schema if the field is null in some cases, but non-null in other cases?

[2021-08-20 07:12] jmartisk commented on #977
We would have to scan the application to find out that, for example, one class contains a nullable field when used as part of one query, but non-nullable when used with some other query (if we are able to reliably determine this at build-time at all), and therefore we would need two different GraphQL types for that class. That sounds like too much of a mess for relatively little benefit IMO.

[2021-08-21 05:29] t1 opened #993 "Sample GraphQL code in Quarkus starter"
The MicroProfile starter generates some GraphQL server code, while the Quarkus starter doesn't. And it should include a test using the typesafe client. Maybe it would be possible to reduce the GraphQL client dependency to test scope, if it's not explicitly selected.

[2021-08-23 07:59] AnakinPt opened #994 "Graphql with authentication"
I need to connect to a service requiring authentication.
First time I connect to it, I must use the User and password to connect and I'm fine to connect. But, in the service answer, they add a cookie, jwt, to the response that I must use in the following requests.

I would like to have a way to read these cookies from the response so I can act on this.

I create the client this way:
[code]

and I

[2021-08-23 08:15] phillip-kruger commented on #994
@jmartisk

[2021-08-23 09:22] hogmuzzle commented on #976
How can I create a PR? I cloned the repo and made modifications to code and tests but when I try to push my changes to a new branch I get an 403 error.

[2021-08-23 09:37] phillip-kruger commented on #976
You can make modifications in your own fork, and then open a PR from there.

[2021-08-23 17:35] AnakinPt commented on #994
I used a big hammer for my tests and seems to work, but I only applied it for the code I really need.

In class VertxDynamicGraphQLClient I rewrote the private method executeSync to this:
[code]

And I created a new class MyResponseImpl like this:
[code]

This was just an hack, but seems to serve my goal. I don't know if we can apply a similar solution for all methods.

[2021-08-24 07:28] robp94 commented on #977
Maybe it would be enough to only add support for the null/non-null case. So if there is null and non-null, it would result in a nullable graphql type. And the user needs to validate later.

[2021-08-24 07:44] t1 commented on #976
The documentation in GitHub is actually very good. Maybe [this](https://docs.github.com/en/github/collaborating-with-pull-requests/working-with-forks/configuring-a-remote-for-a-fork) page is what you need.

[2021-08-24 11:05] t1 commented on #977
We have to clearly distinguish between GraphQL (`@NonNull`) and BeanValidation (`@NotNull`). Adding conditional (i.e. with `groups`) BeanValidation annotations to the GraphQL schema doesn't make too much sense, I guess, as it would explode the schema. OTOH, actually validating BeanValidation annotations already works: if you annotate the parameter of, e.g., a query method as `@Valid`, it gets vali

[2021-08-25 09:40] AnakinPt commented on #994
I just opened a PR with the change I propose.

[2021-08-29 06:40] t1 opened #1005 "Typesafe Client: exception while reading array path index"
It throws, e.g., `GraphQlClientException: invalid java.lang.Object value for test.graphql.OrderIT$Api#order.items[0].product.path[2]: 0`

[2021-08-30 08:17] #1005 closed

[2021-08-30 09:15] jmartisk commented on #976
done in #996

[2021-08-30 09:15] #976 closed

[2021-08-30 09:16] hogmuzzle commented on #957
I do not agree. In GQL a field should not be null if a server declares it as non-null but from a client side this field has any meaning if it was queried which is not compulsory in GQL. Of course I can make several POJO for different use cases but this approach is inconvenient. I use io.github.kobylynskyi codegen plugin.

[2021-08-30 11:07] jmartisk opened #1009 "Client: Improve ErrorImpl.toString()"
Specifically the `path` field is appended directly using its own `toString`, but it's actually an array, so in the result, we see something like `path=[Ljava.lang.Object;@4592254b` rather than the actual readable path

[2021-08-31 09:44] #1009 closed

[2021-09-01 09:23] #994 closed

[2021-09-01 14:44] robp94 opened #1013 "Cant use interface as input"
When I use an interface as an input, I get an exception:

[code]
[code-with-quarkus-graphql.zip](https://github.com/smallrye/smallrye-graphql/files/7092006/code-with-quarkus-graphql.zip)
#939

[2021-09-01 14:51] phillip-kruger commented on #1013
Thanks @robp94 . I'll have a look a.s.a.p

[2021-09-03 07:24] jmartisk opened #1016 "Client builders unnecessarily create new Vert.x instances"
Builder creates a new instance when it can just use one already existing. This manifests in the log as
[code]

[2021-09-03 08:30] #1016 closed

[2021-09-06 06:03] #967 closed

[2021-09-07 18:26] phillip-kruger commented on #1013
@robp94 - I did not forget about this... just been busy, I'll get to it soon.

[2021-09-07 19:41] nenros opened #1024 "Support kotlin coroutines"
Hi!
Using quarkus I've tried to create resource using code like this:
[code]

but I get error about:
[code]

As I checked main problem is probably here:
https://github.com/smallrye/smallrye-graphql/blob/4845dc96733c373bd6c921acdb867abec8d837d8/common/schema-builder/src/main/java/io/smallrye/graphql/schema/Classes.java#L147
as it is not added as async type. Of course it is probably little bit more

[2021-09-08 07:07] robp94 commented on #1013
No problem, take your time.

[2021-09-09 12:44] mswiderski opened #1026 "Add support for public fields instead of getters"
When using beans that are returned from GraphQL services that use only public fields instead of java bean approach (getters/setters) then there is a DataFetchException returned for every path that targets beans without getters and setters.

Would be really good to have support for beans with public fields as this becomes more and more common.

Unless I missed some sort of configuration that enable

[2021-09-09 13:06] phillip-kruger commented on #1026
Are these also panache entities ? If so, there was a bug w.r.t that, that is now fixed (https://github.com/quarkusio/quarkus/pull/19883). If not, then there is a issue, as we do support public fields.

[2021-09-09 13:09] mswiderski commented on #1026
yes, indeed it is panache entity. so I guess it's good to be closed as 2.3 of quarkus will come with the fix. thanks @phillip-kruger

[2021-09-09 13:10] phillip-kruger commented on #1026
Great ! Closing here then

[2021-09-09 13:10] #1026 closed

[2021-09-09 13:14] phillip-kruger commented on #1026
For your interest: When a panache bean builds, all fields are changed to protected, and getters/setters are added. So the issue was that GraphQL build a model, that wants to execute using the field, but then on runtime the fields are not accessible. So the fix was to update the Jandex index with the modified panache entities, before building the GraphQL mode.

[2021-09-10 06:30] jmartisk commented on #895
Fixed by https://github.com/smallrye/smallrye-graphql/pull/1015

[2021-09-10 06:30] #895 closed

[2021-09-10 10:15] jmartisk commented on #1013
It seems the same issue arises when you try to use a Java 14 record as input.
But I'm not sure how to resolve this, because records are immutable and they can't have a no-arg constructor that does not fully initialize the instance.... Or am I getting something wrong?

[2021-09-10 11:24] jmartisk commented on #971
I'm going to look at this

[2021-09-10 11:28] jmartisk commented on #1013
For records, we'll need a way to locate the suitable constructor with all fields as arguments, and build an instance using that (rather than use a no-arg constructor and then set each field one by one). I'm trying to do this for the client side now (when typesafe client consumes something that is a record, eg. it is output from the server side), - that actually falls rather under https://github.co

[2021-09-10 12:40] jmartisk opened #1029 "Tool for generating dynamic client code from GraphQL queries"
Perhaps it would be useful to have a script that consumes a GraphQL query and transforms that into a Java snippet for using dynamic client. Writing queries for the dynamic client  can get quite cumbersome, this could alleviate some of the pain.

[2021-09-10 12:46] t1 commented on #1029
There is an experimental generator for the typesafe client.

[2021-09-10 12:55] jmartisk commented on #1029
Yeah, just with this one I'd probably go really lightweight - it's supposed to generate just snippets, not self-contained Java classes, so it could be a script written in Python or something.

[2021-09-10 13:26] t1 commented on #957
I took a brief look at `graphql-java-codegen` and I don't understand how you use it to generate a SmallRye Typesafe Client code, nor even why you do so. Is it possible to share your code or maybe a reproducer?

[2021-09-13 07:00] jmartisk opened #1030 "Maven build can not be run on more threads"
If I run a parallel Maven build of a version that's not yet present in the local Maven repo, the build fails with
[code]

It turns out that the `server/runner` module uses `smallrye-graphql-servlet` and `smallrye-graphql-tck` artifacts through `maven-dependency-plugin`, but does not declare them as regular dependencies, thus it can happen that during a parallel build, the `runner` module starts bu

[2021-09-13 07:28] #1030 closed

[2021-09-15 06:23] jmartisk opened #1043 "Uninformative NPE when attempting to unmarshal an object from response if the response doesn't actually contain it"

[2021-09-16 11:24] #971 closed

[2021-09-16 11:41] phillip-kruger commented on #1013
@jmartisk - your records fix would not have solved this, right ? Or would it ?

[2021-09-16 12:15] jmartisk commented on #1013
No.
This certainly needs more thinking and clarification.

- How should we extract fields from an interface, if Java interfaces don't have fields? If the interface contains things that look like getters and setters, then we might use them as fields of the resulting GraphQL type. If there are other methods that don't look like a getter+setter pair, just ignore them?

- The GraphQL library will need

[2021-09-16 12:23] phillip-kruger commented on #1013
We can maybe find an implementation in the code ? And if it exist, use that, else throw an error ?

[2021-09-16 12:35] jmartisk commented on #1013
What if there are multiple suitable implementations, we won't know which one to pick. Throw an error too?

If we require only one implementation of the interface to exist in the code, then that's somewhat against the intended usage of interfaces in Java. And people will get surprised that the application doesn't work just because they have two implementations of an interface.

[2021-09-16 12:41] robp94 commented on #1013
I would like to use interfaces like this:
[code]

 https://graphql.org/learn/schema/#interfaces they would be not dynamic, and all types would be known at build type.

[2021-09-16 12:50] phillip-kruger commented on #1013
@jmartisk or pick the first one we find ?

[2021-09-16 12:54] jmartisk commented on #1013
So if you have an operation like `@Mutation void createCharacter(Character character)`
your Java code would contain `interface Character`, `class Human implements Character` and `class Droid implements Character`
and somebody executes that mutation, how will the library know whether it should unmarshal it into a `Droid` or a `Human`?

Does the GraphQL spec allow interfaces as inputs at all? How sh

[2021-09-16 12:57] phillip-kruger commented on #1013
Well, Input (and output) should be plain java object (or interfaces in this case) and should not contain logic. So it should not matter if you create Human or Droid, as your code only care about the interface. Right ? But agree, maybe we should check the spec...

[2021-09-16 13:02] robp94 commented on #1013
Hm seems like it actually is not supported, or at least that's what you find at stackoverflow. Would be good if they would write it on their site.
They plan something similar to union types for inputs. https://github.com/graphql/graphql-spec/pull/733.

[2021-09-20 07:56] #1043 closed

[2021-09-20 12:48] alvaroarenas opened #1050 "Null fields should be ignored"
Hi there,
TL;DR; How can I get SmallRye client to ignore fields when they are null?

I am using the same mutation to create and update an object. When updating an individual field I want to keep the rest unchanged. In that case, the unchanged fields are null. How can I get SmallRye client to omit the null fields in the mutation query?   The client doesn't seem to obey any annotations in the POJO l

[2021-09-21 06:22] jmartisk commented on #1050
Hey,

I think this is something that kinda affects the server side as well, because if we just leave out a `null` field from the request; then on the server side, after unmarshalling the object, the Java field will be `null` anyway in both cases, so IIUC the server side will have it a bit harder to tell whether the request contained a null field  (which probably means "set this to null"), or didn'

[2021-09-21 06:58] alvaroarenas commented on #1050
Hi,

thx for the answer. Well for starters I infer from your response that this functionality is not there. So, I can continue happily my path towards 2 methods with different POJOs.

I thought that annotating the field with something like `@JsonbProperty(nillable = false)` would do the trick. Or adding a specific annotation like you mention. Maybe we wait for @phillip-kruger 's comment.

[2021-09-21 07:23] jmartisk commented on #1050
Oh, you may be actually right with `@JsonbProperty`, at first I thought that the `nillable` argument's semantics means it's for validation purposes (rather than serialization), but the JavaDoc says that it turns `null` serialization on/off. In which case we wouldn't need another annotation, just make sure that this one works.

[2021-09-21 09:37] phillip-kruger commented on #1050
@alvaroarenas -  Can you paste the example code here (for both create and update) ?

[2021-09-23 10:11] jmartisk commented on #1050
One more observation:
`nillable` also seems to default to `false`, which means null values should  NOT be included by default, whereas our client code currently DOES include nulls by default.
It seems that "don't include nulls" should be the correct default, but if we switch to this, it will potentially be a breaking change to some users.

[2021-09-25 01:54] christianThor opened #1065 "Handling `"null"` `path` on error"
I am using `smallrye-graphql-client-1.3.2`. I have a simple Query. When it errors out due to a validation error on the graphql server, I get the following exception:

[code]

It looks like this happens when the code in `ResultBuilder.java` expects that the `path` property on the JSON object is an array, but in reality it is `"null"`.

Here is a screenshot that might be helpful..
<img width="983" a

[2021-09-27 06:19] jmartisk commented on #1065
Hi, thanks for reporting. This indeed looks like a bug and we should expect a `null` path. I'll prepare a fix

[2021-09-27 06:24] #1050 closed

[2021-09-27 10:30] #1065 closed

[2021-09-28 18:17] phillip-kruger commented on #918
Also see https://github.com/quarkusio/quarkus/issues/19879

When using a reactive db and a source field, you get `java.lang.IllegalStateException: HR000068: This method should exclusively be invoked from a Vert.x EventLoop thread; currently running on thread 'executor-thread-0'
`

The main query runs on the `worker-thread ` while the source method runs on the `eventloop`

[2021-09-29 06:47] jmartisk opened #1067 "Name annotation should have precedence over JsonbProperty"
Also add missing support for JacksonProperty in the client code

see https://github.com/smallrye/smallrye-graphql/pull/1063/files#r717196018

[2021-09-30 13:50] nelsongraca commented on #893
This happens with Kotlin Sets for example, this does not seem to be a Quarkus problem, but a smallrye graphql problem, not sure what's the official stance on Kotlin support.

[2021-09-30 14:15] nelsongraca commented on #893
Here is a small reproducer, just run `./mvnw quarkus:dev`
[poc.zip](https://github.com/smallrye/smallrye-graphql/files/7260146/poc.zip)

[2021-10-01 11:42] #1067 closed

[2021-10-05 10:46] vamshikrishnamraju opened #1079 "Support for jersey"
Hi,

Currently we are using Jersey and I don't see any support for jersey in the current libraries. Is there a roadmap for this ?

Thanks

[2021-10-05 10:51] jmartisk commented on #1079
What exactly do you mean by supporting Jersey? Jersey is a JAX-RS implementation, we don't depend on JAX-RS.
The typesafe client library used to depend on a JAX-RS Client implementation, but that's not true anymore - it uses Vert.x Web client now.

[2021-10-05 11:01] vamshikrishnamraju commented on #1079
In our project we use jersey/jaxrs and I am not able to register the servlets of smallrye graphql. So I was wondering whether there is any other implementation to microprofile graphql which supports jaxrs.

[2021-10-05 11:06] phillip-kruger commented on #1079
There is no need for JAX-RS on the server if you want to use GraphQL. But, if you really want to you can hook this up yourself. Basically create a new JAX-RS Endpoint that accepts POST requests on /graphql and then use smallrye-graphql to execute the result. So have a look at the servlet module in here, and convert that to jaxrs. If you are using Wildfly, OpenLiberty or Quarkus, you can just inclu

[2021-10-05 11:06] #1079 closed

[2021-10-05 11:08] jmartisk commented on #1079
Yeah, you might want to either "copy" the servlets and transform into JAX-RS endpoints (it shouldn't be super difficult)... or maybe add a servlet container into your project and use the servlets directly?

[2021-10-05 11:47] vamshikrishnamraju commented on #1079
I tried that but the listener and servlet classes are dependent on other applicationscoped classes because if which I am getting NPE

[2021-10-05 12:08] jmartisk commented on #1079
Then your CDI environment is probably not set up properly to discover the beans?! Switching to JAX-RS instead of servlets wouldn't help, you would still need CDI as well.
The `ExecutionService` class is not a CDI bean by itself, but is produced by https://github.com/smallrye/smallrye-graphql/blob/1.3.4/server/implementation-cdi/src/main/java/io/smallrye/graphql/cdi/producer/GraphQLProducer.java -

[2021-10-06 09:33] jmartisk opened #1082 "Improve error when response.getObject can't be used because the response actually contains a list"
Currently this yields a `ClassCastException: class org.glassfish.json.JsonArrayBuilderImpl$JsonArrayImpl cannot be cast to class javax.json.JsonObject (org.glassfish.json.JsonArrayBuilderImpl$JsonArrayImpl and javax.json.JsonObject are in unnamed module of loader 'app')`

... plus, of course, the same for the inverse case (`getList` when there's an object in the response)

[2021-10-06 11:20] jmartisk opened #1083 "Allow parsing scalar values using `Response.getObject()` and `getList()`"
Right now these methods only allow parsing objects from application's model classes

For example, for a response
[code]

then calling `Response.getObject(String.class, "myquery")` should return the string "OK"

[2021-10-06 14:54] gerstnerb opened #1085 "Add support for using one value in NestedParameters in multiple paths"
I want to call multiple queries over a single http request which all use the same id parameter.

Multiple annotated class on client side:
[code]

Provided GraphQl Queries on server side:
[code]

But as readPhoneNumbers and readEmailAddresses queries have the same parameter names we can't attach multiple NestedParameter annotations for each query to one parameter:

[code]

[2021-10-07 05:47] t1 commented on #1085
I think it would be simplest and best to change the `@NestedParameter#value()` from `String` to `String[]`, which is a backwards compatible change.

[2021-10-12 06:25] #1083 closed, assigned to jmartisk

[2021-10-12 14:49] phillip-kruger commented on #1013
https://download.eclipse.org/microprofile/microprofile-graphql-1.1.0/microprofile-graphql-spec-1.1.0.html#_limitations
I think we can close this ?

[2021-10-13 06:22] #1013 closed

[2021-10-14 08:02] zandaleph commented on #278
Is this plugin published?  I tried following the instructions in the README and the plugin wasn't found, ultimately trying to resolve my problem led to this still-open issue.  I don't see any release logic in the github actions, so it's hard to tell if the release logic got built somewhere else.

[2021-10-14 08:10] jmartisk opened #1095 "Define a strategy for client exceptions"
Right now, we have `GraphQLClientException`, which is used for pretty much everything unexpected that happens in the client. That includes unparseable response, unexpected response contents, wrong configuration on client side, application-level errors contained in response....
This is definitely wrong and we need to define a strategy to bring some order into this.

I would suggest:
- use `GraphQLC

[2021-10-15 04:55] t1 opened #1099 "Too many open files exception via VertxTypesafeGraphQLClientBuilder"
When I run larger test suites (also the typesafe client TCK) that use the `VertxTypesafeGraphQLClientBuilder` in InttelliJ on a Mac, I eventually get a `java.io.IOException: Too many open files`. It happens from within [this call to `Vertx.vertx()`](https://github.com/smallrye/smallrye-graphql/blob/bc8415788e7e8c693e678aebbdf7b8df520e6b69/client/implementation-vertx/src/main/java/io/smallrye/graph

[2021-10-15 04:59] t1 commented on #1099
Just a side note: my IDE hinted me that the `Vertx` field in the `VertxTypesafeGraphQLClientProxy` is never used and could be removed. And I think that the complete `WebClient` building logic could be moved into the builder, so it's not distributed over two classes.

[2021-10-15 05:00] t1 commented on #1099
Another thought: could it be sufficient to have a singleton default `Vertx` instance in the builder?

[2021-10-15 05:57] jmartisk opened #1102 "Maven plugin does not work if implementation-cdi module is in the classpath"
Because in that case, it picks up the `io.smallrye.graphql.cdi.CdiLookupService` and tries to use that for injection validation (the `Bootstrap` class validates that all operation classes are beans), but it does not work because the CDI container is not properly initialized. We need to skip injection validation in the Maven plugin.

Workaround: set `test.skip.injection.validation=true` as a system

[2021-10-15 09:44] #1095 closed

[2021-10-15 10:13] #1102 closed

[2021-10-15 11:34] jmartisk commented on #1099
I'm not completely sure about storing the created Vertx instance in a static field - static fields are shared between deployments in multi-app environments like WildFly, because the library will be loaded by the same class loader for all deployments that use it. So this way, in WildFly, if you create one Vert.x instance, all deployments will use the same one from then on. I believe each deployment

[2021-10-15 11:36] jmartisk commented on #1099
Sorry, this comment would have been more appropriate on the PR itself rather than here, I'll re-post it there

[2021-10-18 06:19] phillip-kruger opened #1106 "`@Propagate` feature. Allow passing input from query to source"
At the moment this can be done by inspecting the `@Context` - however, it would be nice to indicate a `Source` methods that some of the parameters can be passed from the original query.

This can then maybe be added as an Optional parameter in the schema, so the client can still override it.

example:

[code]

[2021-10-18 08:22] jmartisk opened #1108 "Subscription support in typesafe clients"

[2021-10-18 10:54] robp94 commented on #516
Is there an update to this issue?

[2021-10-18 14:25] robp94 opened #1109 "Kotlin support for "?" operator for non null and nullable types"
In kotlin all types are non-nullable except you mark them with a `?`. So different to Java, there would be no need for the annotation `NonNull` as kotlin itself has this information.

Quick example:

[code]

Could this be supported?

[2021-10-19 05:51] jmartisk commented on #966
This is done, closing

[2021-10-19 05:51] #966 closed

[2021-10-19 05:53] jmartisk opened #1111 "Maven plugin breaks when API contains Mutiny types"
I guess Mutiny should be automatically added to the dependencies scanned by the plugin even without the user having to specify it

[2021-10-19 06:22] phillip-kruger commented on #1111
On the server side we depend on it, since `Multi` is the on supported type for Subscription (at the moment)

[2021-10-19 12:17] robp94 commented on #1109
Hm, this would actually be pretty simple as soon as Jandex 3 is used. Kotlin already places Annotations for the `?`. But jandex currently can't read them. This is resolved in https://github.com/wildfly/jandex/issues/120.

So we would only need to add this annotation: `org.jetbrains.annotations.NotNull`

This propably would be a breaking change, so maybe it should be behind a property? @phillip-kru

[2021-10-19 12:31] robp94 commented on #1109
Ok I will make a PR later.

[2021-10-20 14:14] robp94 opened #1117 "Add error code BAD_USER_INPUT to validation exception"
If I use the hibernate validator to validate the input of a query or mutation, I get a response like this if it is invalid:

[code]

If I understand the graphql documentation here correctly, there should be a specific error code for this https://www.apollographql.com/docs/apollo-server/data/errors/#graphql_validation_failed

`BAD_USER_INPUT` "The GraphQL operation includes an invalid value for a f

[2021-10-20 14:41] phillip-kruger commented on #1117
Yes you have to switch on those fields (like code). See https://quarkus.io/guides/smallrye-graphql#quarkus-smallrye-graphql_quarkus.smallrye-graphql.error-extension-fields

[2021-10-21 11:48] computerlove opened #1120 "Invocation order of EventingService"
Currently all instances of EventingService are invoked in the order ServiceLoader.iterator() supplies them.

I have two instances of EventingService:
* Tracing - set the executionId in MDC. (Inspired by the Opentracing EventingService)
* Logging - operation and arguments.

The problem I encounter is that (some times) the service setting MDC is run after the logging service, resulting in the log me

[2021-10-21 11:59] phillip-kruger opened #1121 "1.3.6"

[2021-10-21 12:16] computerlove commented on #1120
I have `LoggingEventingService` and `TracingEventingService` that lives in separate jars. So I guess the ordering is based on where these jars are located on the class path.

Right now I work around it by setting MDC in `LoggingEventingService` as well.

If reordering is a feature to be implemented I guess sorting `EventEmitter.enabledServices` based on `javax.annotation.Priority` and some predefi

[2021-10-21 12:17] phillip-kruger opened #1123 "Investigate support for Map"
At the moment Map is not supported.

Investigate the effort to support map by using the entryset (as sets are supported).
This means we need to automatically map from and from entryset when a map is used.

Not sure if this is going to be possible. But it would be cool....

[2021-10-21 12:49] #844 closed

[2021-10-22 03:44] t1 opened #1126 "Typesafe Client: prefer JSON-B over Jackson field annotations"
This is a followup to #1074. The code doesn't look like it's meant to prefer Jackson over JSON-B annotations, but it does. I refactored the code to make it more legible and inverted the preference.

[2021-10-22 08:44] #1120 closed, assigned to nobody

[2021-10-25 07:07] #1126 closed, assigned to nobody

[2021-10-31 15:11] emmanuelsilva commented on #521
Hi @t1, the implementation looks ok on the smallrye-graphql side.

I installed this branch locally, and I tried to test it using Quarkus by creating an extension, but I couldn't make it work due to issue #962. The code is in this [github repository](https://github.com/emmanuelsilva/quarkus-graphql-federation-api)

So, as far as I understood, we need to wait for fixing that quarkus issue to test th

[2021-11-01 09:44] t1 commented on #521
I had blindly assumed that the existing quarkus extension would work with this new approach to federation out of the box. What did you have to add?

[2021-11-01 10:11] jmartisk opened #1136 "An abstraction for Location in `GraphQLError`"
In 1.3.x we have a `SourceLocation` class that is used only by the typesafe client.

For 1.4.x, we unified error handling for both clients into the `GraphQLError` class, but right now, the `location` element of an error is a `Map<String, Integer>`, just like in the MP GraphQL specification code: https://github.com/eclipse/microprofile-graphql/blob/master/client/api/src/main/java/org/eclipse/microp

[2021-11-01 22:06] emmanuelsilva commented on #521
@t1, using the current quarkus extension was my first attempt, like that:

[code]

Is it correct? I've updated the [repository](https://github.com/emmanuelsilva/quarkus-graphql-federation-api)

I also came across the exception described in #962 using this configuration.