[2021-11-01 23:27] emmanuelsilva commented on #521
I changed [my example](https://github.com/emmanuelsilva/quarkus-graphql-federation-api) to use the already existent quarkus extension:

[code]

Here are my findings:

1 - I needed to enable the federation by changing directly the method `io.smallrye.graphql.spi.config.Config.isFederationEnabled()` to return `true` because I set `smallrye.graphql.federation.enabled=true` in the application.properti

[2021-11-02 06:38] phillip-kruger opened #1138 "Add propery to disable Jackson/JsonB support"
See https://github.com/smallrye/smallrye-graphql/blob/4115f9989fdc1cbb8351ff4022d06406fc40b0db/common/schema-builder/src/main/java/io/smallrye/graphql/schema/creator/FieldCreator.java#L267

Add a property that disable support for this. This is useful when the json property is invalid, ex. a name containing `-`

[2021-11-02 06:44] phillip-kruger commented on #1138
@dicolasi Fyi

[2021-11-02 12:18] robp94 commented on #1117
@t1 Have you looked into this? Or could you link me your reproducer?

[2021-11-02 15:28] cherrydev opened #1140 "Enum vulnerable to injection attack"
Other value types get formatted and/or quoted by `ValueFormatter` but Enum get placed into the document raw when created using the builder DSL. While there is no indication anywhere that this code should be responsible for quoting or formatting an enum, all of the other types seem to do this. I would expect, at the very least, that any programmatic DSL like this would produce a well-formed documen

[2021-11-02 15:34] cherrydev commented on #1140
By the way, enums are defined as conforming to a GraphQL [_Name_](http://spec.graphql.org/June2018/#Name) but [not *true*, *false* or *null*](http://spec.graphql.org/June2018/#sec-Enum-Value)

[2021-11-03 07:39] jmartisk opened #1142 "Client-side test coverage for enums"
This will go to the TCK, so also backport it to the spec repository

[2021-11-04 07:50] #1142 closed

[2021-11-04 08:16] t1 commented on #521
1 - The Quarkus Extension does some magic with the config, that I'm not familiar with. Maybe @phillip-kruger can shed some light.

3 - Is that in the "normal" schema or in the schema returned from `_service { sdl }`?

[2021-11-04 09:12] phillip-kruger commented on #521
I'll have a look a.s.a.p

[2021-11-04 10:23] Felk commented on #930
This kinda went under, but I finally got around to build a graphql-java only reproducer. I'm closing this issue in favor of that one.

[2021-11-04 10:23] #930 closed

[2021-11-04 10:37] phillip-kruger commented on #930
Thanks ! Please share the issue here, then we can follow

[2021-11-04 10:46] Felk commented on #930
Here it is: https://github.com/graphql-java/graphql-java/issues/2605
It was also automatically linked already above my comment

[2021-11-08 12:05] #501 closed

[2021-11-08 12:05] #1108 closed

[2021-11-09 12:43] jmartisk opened #1151 "Reorganize packages of clients"
We currently have `io.smallrye.graphql.client.dynamic` and `io.smallrye.graphql.client.typesafe` packages, but some stuff in `dynamic` is now used by the typesafe client (or will potentially be used in future), so this distinction does not make much sense anymore. We should come up with a reasonable organization of these packages, probably moving a lot of stuff into a common package, and only leav

[2021-11-09 15:02] robp94 opened #1152 "Nested Records as input do not work if not all parameters are present"
If you have two records like this:

[code]

[code]
and you send queries like this:
[code]
The first query results in an exception:
[code]

The second does work.

Reproducer:
[code-with-quarkus-graphql-nested-records.zip](https://github.com/smallrye/smallrye-graphql/files/7505723/code-with-quarkus-graphql-nested-records.zip)

[2021-11-09 17:34] cherrydev opened #1153 "ResponseReader locations parsing error"
When parsing errors out of a response, each `location` is assumed to be a map containing only integer values. The spec states that a location must contain `line` and `column` keys with integer values, but it does not specifically forbid other entries from being in that map. Some server implementations (AWS AppSync) include a `sourceName` value which can contain a string, or (often) null. Since the

[2021-11-09 17:50] cherrydev commented on #1153
Never mind, I see there's already a newer version that fixes this similarly.

[2021-11-09 17:50] #1153 closed

[2021-11-10 07:50] jmartisk commented on #1152
I'll have a look into this

[2021-11-10 07:55] jmartisk commented on #1153
Hi @cherrydev, note that we also have an issue https://github.com/smallrye/smallrye-graphql/issues/1136 where we might introduce a different abstraction for representing the locations. But it's only an idea right now, so should you have any comments on it, feel free to add them to that issue.

[2021-11-10 14:15] #1152 closed

[2021-11-12 13:22] jmartisk commented on #1140
this was resolved via https://github.com/smallrye/smallrye-graphql/pull/1141

[2021-11-12 13:22] #1140 closed

[2021-11-12 13:24] jmartisk commented on #1099
This was resolved via https://github.com/smallrye/smallrye-graphql/pull/1101

[2021-11-12 13:24] #1099 closed

[2021-11-16 11:53] #1151 closed

[2021-11-18 13:33] jmartisk opened #1165 "Out-of-the-box support for URL/URI fields in clients"
with automatic translation between URL/URI and String

[2021-11-19 11:58] t1 commented on #1165
See #1164

[2021-11-20 15:45] t1 commented on #1165
I think a specific solution would not be sufficient; we should have a more generic approach.

There used to be some code that also would consider java.net.URL and java.net.URI to be valid scalar wrappers, given that they have a String-only constructor. But we then removed it due to #270. We could re-add it with the additional requirement that the class be either on a list of allowed wrapper classe

[2021-11-22 06:50] jmartisk commented on #725
I think we can consider this pretty much done for now, in the context of what we want to achieve for the 1.4 release

- error handling is unified between typesafe and dynamic
- logic for parsing of entities from JSON is shared
- we use the same HTTP transport library (vert.x)
- Typesafe client does not yet use the core API classes (`Document` etc), I experimented with it but it didn't feel very pr

[2021-11-22 06:50] #725 closed

[2021-11-22 08:50] verboomp opened #1168 "@Description from abstract super class not inherited in schema.graphql"
The @Description from attribute in abstract super class is not written in the schema.graphql. The fields are written as part of the sub class but the documentation for the fields are missing.

[2021-11-22 09:03] phillip-kruger commented on #1168
Thanks. This seems like a bug. We will have a look a.s.a.p

[2021-11-22 23:00] mouseas opened #1171 "Problem with PersistentSet and Hibernate"
I'm running into an issue with GraphQL not playing nice with Hibernate and JPA.

I've got an `AppUser` class with a `@ManyToMany` join to a set of `AppRole`. I'm using the SmallRye GraphQL client v1.3.3 as the UI, and smallrye graphql v1.1.0 on the back end. If I request basic fields from the `AppUser` without accessing the set of roles, it works fine. But if I try to access the roles then I get t

[2021-11-23 06:01] phillip-kruger commented on #1171
Hi @mouseas . Thanks for this detailed issue. Do you perhaps have a small reproducer I can look at ?

[2021-11-23 06:19] t1 commented on #1171
As this kind of problem has many moving parts, it's very difficult to reproduce. Could you provide a reproducer, so we can concentrate on the solution and not on trying out all the different possible combinations?

[2021-11-23 06:20] t1 commented on #1171
@phillip-kruger: Hah, you where a bit faster, but GitHub didn't tell me ;-)

[2021-11-23 17:47] mouseas commented on #1171
Created it at https://github.com/mouseas/smallrye-issue-reproducer

I'm hoping the wildfly setup isn't too far from what you already have on hand.

I am not sure whether it matters if the database is PostgreSQL or if it can be just any type of sql database.

[2021-11-23 18:53] mklueh opened #1173 "@ErrorCode not working with Quarkus 2.4.2"
Hi,

I'm not sure what is wrong, but I'm throwing this custom exception annotated with `@ErrorCode`

[code]

All I'm getting is this:

[code]

By the way, why is this annotation even required and why can't GraphQL just populate whatever exception is thrown by default?

[2021-11-23 19:01] phillip-kruger commented on #1173
Runtime errors are "hidden" by default. You can change that with config. See https://download.eclipse.org/microprofile/microprofile-graphql-1.0/microprofile-graphql.html#_unchecked_exceptions

For Quarkus you can use `quarkus.smallrye-graphql.show-runtime-exception-message` - See https://quarkus.io/guides/smallrye-graphql#quarkus-smallrye-graphql_quarkus.smallrye-graphql.show-runtime-exception-mes

[2021-11-25 07:02] mklueh commented on #1173
@phillip-kruger

Many thanks, I applied your recommendations and I'm getting the correct error message, but with the same classification:

[code]

Not sure if I'm still missing something, but I somehow need a classification other than DataFetchingException to tell the frontend what to do.

The config property description as well is only related to the message, not the exception type:

[code]

I'm

[2021-11-25 07:32] phillip-kruger commented on #1173
I think the idea of error code it for the front end to know what to do. So make sure `code` is in `quarkus.smallrye-graphql.error-extension-fields` and use that. You can then customize the code with `@ErrorCode`

[2021-11-25 08:18] robp94 opened #1175 "Typesafe Graphql Client hangs inside a uni"
I have a really strange problem with the typesafe graphql client. It only appears for us under windows and kubernetes, but not under linux (ubuntu, wsl).
If you are inside a uni and call the graphql client, it just hangs forever in the post Method.

Something like this, fails:
[code]

This works:
[code]

Reproducer for windows:
[code-with-quarkus-mutiny-graphql-client.zip](https://github.com/small

[2021-11-25 09:23] jmartisk opened #1176 "Typesafe client + subscriptions: unapplied error from service causes the item to be dropped"
If a subscription returns an event that contains a GraphQL error and thus can't be parsed into a model object (due to missing `ErrorOr`, for example), this item is completely dropped (the relevant `GraphQLClientException` leaks all the way up until Mutiny discards it) and the subscribers receive no notifications about it, it's basically skipped.

[2021-11-25 09:46] robp94 commented on #1175
We looked more into this and found out that if you use `.emitOn(Infrastructure.getDefaultWorkerPool())` it works as it should.
Tried it only with the `@Blocking` annotation and `runSubscriptionOn` which did not work.
Not sure if you can or need to change anything, but maybe mention this in the documentation?

[2021-11-25 09:58] jmartisk commented on #1176
The problem here, however, is that once we actually propagate the `GraphQLClientException` to the Multi's subscribers, the `Multi` can't process any more items and the subscription will have to be cancelled even though the server might still be sending more events. But that is Mutiny design so I think it's the only thing we can do. The users will have to prevent this by wrapping their return types

[2021-11-25 10:56] jmartisk commented on #1175
Doing a long blocking operation in an event loop thread is definitely wrong, but I am puzzled by the hang that you're describing. Unfortunately I don't have any suitable Windows machine to try it :/
Does the hang happen always, or, only in the situation that you described as "there is no graphql service where it can connect"?

Btw., in the upcoming version 1.4.0 we will allow typesafe clients to s

[2021-11-25 11:12] robp94 commented on #1175
It happened always. Was just an easy reproducer. Normally we mark a blocking method with the annotation. But here it did not work for us.

Ok looking forward to the update.

[2021-11-25 11:30] jmartisk commented on #1175
Adding `@Blocking` makes your method itself run on a worker thread, but if you spawn asynchronous code within that method, that code might still end up executing on an event loop thread, which is what apparently happened in your case.
`.emitOn(Infrastructure.getDefaultWorkerPool())` seems to me like the correct solution if that code is blocking

[2021-11-25 11:36] #1176 closed

[2021-11-25 11:46] robp94 commented on #1175
Thx for the explanation, fell free to close the issue.

[2021-11-25 12:06] #1175 closed

[2021-11-26 06:56] mklueh commented on #1173
Thanks @phillip-kruger .

I've added code and exception now and I can work with that perfectly. I was a bit mislead by the "classification" exception.

is it common to use HttpStatusCodes as error codes like'

[code]

or do people usually use some telling message there?

[2021-11-26 07:37] phillip-kruger commented on #1173
Hi @mklueh - Honestly I do not know, I guess whatever works for you. I personally would not use it, but rather use my own code/enum. GraphQL is not tied to HTTP, and could later be exposed over another transport. But I do not think that is wrong, it's just my own preference. If it's ok I am closing here. Please reopen if needed :)

[2021-11-26 07:37] #1173 closed

[2021-11-26 12:01] t1 commented on #1173
@mklueh: just my to cent: we always use textual codes. I've repeatedly seen people using http status codes in the wrong context. Esp. `409 Conflict` is often used to indicate that the provided data was not consistent, while the status code is exclusively reserved for optimistic lock failures. So I'm very careful with http status codes, as they have a very technical background, while these types of

[2021-11-30 06:39] jmartisk opened #1189 "Client-side support for maps"
Following the server-side support from https://github.com/smallrye/smallrye-graphql/pull/1182

[2021-11-30 12:16] jmartisk commented on #239
Documentation is live at https://smallrye.io/smallrye-graphql

[2021-11-30 12:16] #239 closed

[2021-11-30 17:36] t1 opened #1192 "Scalar Input wrapper classes... `@FromScalar`?"
We use wrapper types to make different ids typesafe. We hide them from the GraphQL Schema by annotating them as `@ToScalar`. But this doesn't help for input types. We probably need an corresponding `@FromScalar`, so a JSON String can be converted to, e.g., our custom `OrderId`.

[2021-11-30 18:09] phillip-kruger commented on #1192
I think the new AdaptWith might help. I'll show it tomorrow

[2021-12-01 15:04] #1123 closed

[2021-12-02 14:31] mouseas commented on #1171
@phillip-kruger, @t1 I put together a reproducer, were you able to get it to reproduce the issue for you?

[2021-12-02 14:36] phillip-kruger commented on #1171
@mouseas - not yet, but it;s on my TODO list  :)

[2021-12-03 21:27] mouseas commented on #1171
My current workaround is to copy the contents of collections to, e.g. HashSet and replacing the JPA-created collections _before_ leaving my code. Why is graphql copying collections in the first place?

[2021-12-06 12:24] #1189 closed

[2021-12-07 06:11] t1 opened #1211 "Typesafe Client: Non-String headers"
In `HeaderBuilder` line 46 there's a hard cast `(String) parameter.getValue()`. This prevents other header types, e.g. `UUID`, `Long`, etc.

[2021-12-07 22:24] mouseas commented on #1171
Nope, that workaround doesn't work either. JPA tries to persist changes if I assign a new HashSet.

[2021-12-09 08:27] #1211 closed

[2021-12-11 11:20] beikov opened #1214 "Allow customization of JsonbConfig"
In order to register library provided deserializer instances, there needs to be a mechanism to customize the JsonbConfig that SmallRye uses. Right now, one needs to "hack into" the `JsonBCreator` which holds a map of `Jsonb` instance per class which is used during deserialization.

Please contextualize this somehow and fire some kind of startup event which an integration can listen to, in order to

[2021-12-16 00:39] GavinRay97 commented on #811
If it's useful, I had to write a client implementation in Java of the `graphql-transport-ws` specification
I didn't find anything that was simple + low-dependency, so I wrote two implementations:

1. Using Jakarta EE Websockets
2. Using Vert.x `HttpClient`

https://github.com/hasura/subscriptions-examples/blob/main/java-websocket-client-demo/src/main/java/Application.java

[2021-12-16 03:58] t1 opened #1220 "Support WebSockets and Subscriptions on the client side"
In addition to the vert.x http client, we could support endpoint URLs with `ws://...`

[2021-12-16 03:59] t1 commented on #811
@GavinRay97: That may prove helpful. I just created issue #1220. Have you considered integrating this into the Typesafe SmallRye GraphQL Client yourself?

[2021-12-16 07:02] jmartisk commented on #1220
I'm not sure I understand what this is about - we already have support for websocket-based subscriptions through the Vert.x HTTP client, is this about supporting the same through something else than Vert.x?

[2021-12-16 11:51] t1 commented on #1220
Oh, I didn't get that! Sorry.

[2021-12-16 11:51] #1220 closed

[2021-12-16 11:52] t1 commented on #811
We already do support ws on the client, so I closed that issue. @GavinRay97 : was there specific reason why this wouldn't work for you?

[2021-12-16 14:02] GavinRay97 commented on #811
@t1 Sure, valid question. This is probably confusing if you aren't familiar with the current spaghetti-state 🍝 of Subscriptions in GraphQL

To sum it up, there are currently two "standards" for GraphQL subscriptions, since they require a structured exchange of websocket messages due to how complicated they are.

1. Apollo's older `graphql-ws` subprotocol
    - https://github.com/apollographql/subs

[2021-12-17 06:32] jmartisk commented on #811
@GavinRay97 thanks for the info! The SmallRye GraphQL client is currently tested basically only against endpoints deployed through SmallRye GraphQL server-side libraries. But we'd definitely love to make it work with any reasonably spec-compliant server. I want to look into that in the near future and implement (at least) the `graphql-transport-ws` subprotocol properly. Contributions are definitel

[2021-12-17 07:26] #1214 closed

[2021-12-17 07:33] phillip-kruger commented on #811
Hi @GavinRay97 - thanks for this. We definitely need to add this to the client, and also enhance the server side to allow this. Like @jmartisk said, contributions are welcome ! On a separate note, I was trying to get hold of you on zullip. Please ping me when you can chat.

[2022-01-06 14:02] jmartisk opened #1238 "Implement the client side of graphql-transport-ws and graphql-ws protocols"
Plus negotiation of the protocol with the server side.
Support for the current 'dummy' protocol (does it have a proper name?) that we're using now should stay in the client for at least as long as the server-side components support it.

Server side SmallRye GraphQL does not support these protocols yet, so testing the client will be a bit more complicated. We might need to spin up a Hasura instance

[2022-01-10 12:54] jmartisk commented on #811
Hi @GavinRay97 , FYI I've just submitted the PR https://github.com/smallrye/smallrye-graphql/pull/1242 that adds support for both `graphql-ws` and `graphql-transport-ws` subprotocols on the client side (reviews welcome)

[2022-01-12 08:21] #1238 closed

[2022-01-20 12:06] jmartisk opened #1254 "Configurable timeout for establishing a subscription connection (on the client side)"
Create a configurable timeout after which a subscription connection (over websocket) will be considered failed if the server has not fully acknowledged the subscription connection (where the meaning of "fully acknowledged" depends on the used websocket subprotocol).

[2022-01-20 12:07] jmartisk opened #1255 "Configurable keystore & truststore for the client library"

[2022-01-20 12:10] jmartisk opened #1256 "Configurable "follow-redirects" and "max-redirects" for clients"

[2022-01-24 07:59] jmartisk opened #1258 "Typesafe client can't deserialize primitive arrays"
deserializing an `int[]` with typesafe client causes
[code]

the same with `Integer[]` works, so a workaround is to use the wrapper class

[2022-01-25 08:11] #1258 closed

[2022-01-25 08:58] #1255 closed

[2022-01-25 09:44] jmartisk opened #1263 "Configurable hostname verifier for clients"
in addition to the recently added SSL config

[2022-01-25 09:44] jmartisk opened #1264 "Configurable proxy options for clients"

[2022-01-26 09:34] t1 commented on #821
I think the PR mentioned above has covered this... closing

[2022-01-26 09:34] #821 closed

[2022-01-26 09:48] t1 commented on #776
I think the leaking aspect has been mitigated by #772. This is still relevant, as we need other things as well. We need a generic mechanism to map exceptions to GraphQL errors.

Then #938 is a duplicate to this.

[2022-01-26 09:49] t1 commented on #938
This is a duplicate to #776

[2022-01-26 09:49] #938 closed

[2022-01-26 09:51] t1 commented on #509
This is the client side to #776

[2022-01-26 13:00] #1254 closed

[2022-01-26 13:00] #1256 closed

[2022-01-26 13:00] #1264 closed

[2022-01-29 15:07] t1 commented on #522
This would be a change to the spec, as the `@Ignore` annotation is from the spec.

The suggestion to put `@Ignore` on the getter or setter only would require that the typesafe client even considers getters and setters.

A first fix for some cases would be to consider the `@Ignore` for the fields getting into the request.

[2022-01-29 17:59] rullyalves opened #1268 "How cancel subscription"
Initially I would like to thank you for this repository, it has been very useful to me. While developing, a little question about subscriptions came up, I know that to receive a subscription, just send a similar json with:

{"query":"your subscription", "variables"}

 I would like to know how I can cancel a specific subscription, what payload should I send to get this, or if it doesn't work that w

[2022-01-31 08:54] jmartisk commented on #1268
Hi, currently the server side library supports only a basic protocol that doesn't have any specific operation to cancel a subscription. The way to cancel a subscription currently is to simply close the websocket connection - the server will stop emitting events.
In the near future, we will implement some smarter protocols, like `graphql-transport-ws`, specified here https://github.com/enisdenjo/gr

[2022-01-31 12:12] rullyalves commented on #1268
thanks for the reply, could I help by opening a PR to add this functionality? Could you tell me how subscriptions are currently stored? another question I have, can I currently do more than one subscription on the same websocket connection? or would each subscription be a different websocket connection?

[2022-01-31 12:41] jmartisk commented on #1268
I suppose it would be possible to add a way to cancel a subscription with the current protocol, but frankly I don't see much value in it - we will switch to the `graphql-transport-ws` protocol soon anyway, and that will enable that.
The current protocol also does not offer multiplexing of more subscriptions over one websocket connection, so in that case simply closing the connection should be a su

[2022-02-06 08:47] mschorsch commented on #1024
+1

[2022-02-09 11:41] phillip-kruger opened #1274 "DateFormat("yyyy-MM") LocalDate date does not work"
Seems like when you do not have all fields (like here we do not have dd) then the formatting fails. We can enhance to just use defaults (like 01) in these cases.

[2022-02-09 11:42] phillip-kruger commented on #1274
cc @dicolasi

[2022-02-13 09:21] rullyalves opened #1278 "How get GraphQL schema as String ?"
Hello, I'm trying to integrate this library with Neo4j graphl, I would like to know how I could retrieve the GraphQL schema as a similar Stringq with:
type Person {
            name: ID!
            age: Int
        }

[2022-02-14 03:50] phillip-kruger commented on #1278
So you are not using it with a runtime like Quarkus or Wildfly ? If you use this directly and you use the CDI module, you should be able to inject GraphQLSchema (see https://github.com/smallrye/smallrye-graphql/blob/4c18d5773e599b8f86ccdd1d23a15c0cb7cb34e5/server/implementation-cdi/src/main/java/io/smallrye/graphql/cdi/producer/GraphQLProducer.java#L47) and then use SchemaPrinter to get a String v

[2022-02-14 10:16] #811 closed

[2022-02-16 09:14] R4V3NN0 commented on #521
We are trying to integrate our service into an apollo gateway. We have tried to use some of the examples from @t1  and @emmanuelsilva but we could not make it work.
Is federation in general already possible and we are just having a bad time to make it work or is there something that must be coded before?

[2022-02-16 09:23] phillip-kruger commented on #521
It's not 100% supported yet and on our todo list to make it work properly. Maybe @t1 can help to get yours to work

[2022-02-17 07:54] jmartisk opened #1285 "Rework client-websocket handling"
- Make client reuse just one websocket connection for multiple operations
- Support queries and mutations over websockets as well, not just subscriptions
- Add some sort of configuration to declare what operations should be run over pure HTTP, and what operations over websockets
- Change the "subscription initialization timeout" config property to something else, probably "websocket initialization

[2022-02-22 07:22] t1 commented on #521
I'm currently very busy (in my free time) with https://github.com/t1/wunderbar, but federation will come up in my current project, so I will resume working on it soon. Your example may be a good starting point.

[2022-02-24 01:38] #1285 closed

[2022-02-24 14:41] robp94 commented on #911
Any news on this?

[2022-02-24 22:41] phillip-kruger commented on #911
No progress yet. PRs welcome :)

[2022-02-25 08:27] robp94 commented on #521
@R4V3NN0 we have it working, but it is ugly. Have a look at this https://github.com/smallrye/smallrye-graphql/pull/1135
Apart from an additional jandex index, we although change the schema of our services in the gateway to add the key fields and other annotations.

[2022-02-25 18:41] mouseas commented on #1171
Is there a way I can access which fields need to be loaded from within a `@GraphQLApi` and `@Query` context so I can make sure the requested fields have been explicitly loaded? Can I get the HttpRequest object somehow?

[2022-02-25 21:37] phillip-kruger commented on #1171
You can inject @Context from smallrye and get the requested fields from there

[2022-02-25 21:49] mouseas commented on #1171
`@javax.ws.rs.core.Context`? ...Doesn't seem right. Can I get an example?

[2022-02-25 21:52] phillip-kruger commented on #1171
No this one https://github.com/phillip-kruger/graphql-experimental/blob/05cd20c6e9944471143f883939b105c676d49421/context-example/src/main/java/com/github/phillipkruger/service/PersonService.java#L30

See this example https://github.com/phillip-kruger/graphql-experimental/tree/main/context-example

[2022-02-25 21:53] phillip-kruger commented on #1171
​import​ ​io.smallrye.graphql.api.Context​;

[2022-02-25 21:55] phillip-kruger commented on #1171
Also see this : https://www.phillip-kruger.com/post/experimental_graphql/

[2022-02-28 12:11] sahajauho opened #1292 "How to construct a Field with both arguments and fragments?"
I have to make a following GraphQL query with the client library:

[code]

I have tried this, but it is not a valid because of the "on" parameter given to the Field constructor:

[code]

If I understand it right the problem is that there is no constructor like this:

`static Field field(String name, List<Argument> args, FieldOrFragment... fields)`

Is there something I'm missing?

[2022-02-28 18:19] sahajauho commented on #1292
Very nice! Your work around seems to be working properly.

Thank you very much! 🙇

[2022-03-01 19:10] phillip-kruger commented on #1171
It would be better to use Roles for something like this, then you can annotate the method with RolesAllowed. You should also be able to inject the request and the session and the user as request scoped vars in your class

[2022-03-01 21:02] mouseas commented on #1171
This is roughly what I've got, but the `session` is null when I access it.

[code]

[2022-03-01 21:17] phillip-kruger commented on #1171
try:
`@Inject HttpSession session;`

also this should work:

`@Resource Principal principal;`

[2022-03-03 07:37] jmartisk opened #1295 "Allow configuring the CDI scope of configured clients"
Right now, configured typesafe clients are always a `Singleton` (which also prevents mocking them!), dynamic clients are `Dependent`
REST Client allows configuring the scope, so we should probably do the same

[2022-03-03 11:23] emeraldhieu opened #1297 "RESTEASY003145: Unable to find a MessageBodyReader of content-type */*"
Hi guys,

I have a Eureka client works successfully as a normal JAX-RS endpoint but when called with `@GraphQLApi`, it shows the below error. Anyone got any idea?

Configuration
[code]

GraphQL
[code]

Error
[code]

[2022-03-03 11:36] phillip-kruger commented on #1297
Any reason you are using jax-rs here ? No need for that. If you use the smallrye graphql client that should work

[2022-03-03 11:38] phillip-kruger commented on #1297
If you want to use this client, then you need to set the headers to content type and accept, and probably add a json message body writer

[2022-03-03 11:59] emeraldhieu commented on #1297
I mean this works.

[code]

But with `@GraphQLApi`, it doesn't work.

[2022-03-03 12:04] phillip-kruger commented on #1297
Graphql is not jax-rs. Like I said, you going to have to set some headers in the client for this to work. Are you doing a post ? Or a get ?

[2022-03-03 12:07] phillip-kruger commented on #1297
Ok wait, I see now the issue, you are making a client call from the server ? That should work , you might miss some libs. Can you create a reproducer that I can look at ?

[2022-03-03 12:12] emeraldhieu commented on #1297
I'm doing a POST for GraphQL. Hm... I'm not sure how to create a repdoducer because it requires JHipsterRegistry as a Eureka server.

[2022-03-03 12:20] phillip-kruger commented on #1297
I would try to add some message body writer extensions, like the jsonb or Jackson, from rest easy or resteasy client and see if that works, you probably already have them in the jax-rs example, that is why it's working

[2022-03-03 12:21] phillip-kruger commented on #1297
Like this one io.quarkus:quarkus-rest-client-jackson

Let me know if that works

[2022-03-03 23:15] #1292 closed

[2022-03-04 23:36] magick93 opened #1299 "How to create dynamic schema?"
Hi

I'm trying to dynamically create a Graphql schema (at runtime).

The background is, I'm using https://github.com/yavin-dev/gsheet-jdbc to connect to a google spreadsheet. This is using H2 and creating a table per sheet at runtime.

As such, there is no concrete class representing these tables.

I'm trying to use smallrye-graphql to create a graphql server to expose these tables. However, the p

[2022-03-04 23:41] phillip-kruger commented on #1299
You can use graphql-java directly in that case

[2022-03-07 19:33] cherrydev opened #1304 "Customizable WebClient for GraphQL client"
So, my personal need is to be able to add AWS Sigv4 request signing to the GraphQL clients. To accomplish this, I've needed to wrap the WebClient with a specialized class that can accomplish the signing. The current method smallrye-graphql uses to construct the clients does not provide any method for augmenting the creation of them, and both the client builder and client classes themselves need to

[2022-03-09 07:36] #1304 closed

[2022-03-09 08:07] computerlove opened #1307 "Memory leak in UniDataFetcher"
There seems to be a memory leak in the CDI integration for UniDataFetcher when some of the beans has `Dependent` scope.
If one of the beans is a rest client there also seems to be a connection leak, where connections are left in state `CLOSE_WAIT`.

When running [this sample app](https://github.com/computerlove/smallrye-graphql-leak) (running the one available graphql operation, getting all fields

[2022-03-09 09:49] computerlove commented on #1307
Not sure if this is the correct way to do it, but tested the following change, and it seems to do what I wanted:
[code]

[code]

[2022-03-09 10:16] jmartisk commented on #1307
Hmmm, by doing this change you are basically turning all GraphQLApi classes to request scoped beans, because you destroy them after the request. Maybe it would be acceptable if you also checked the scope of each bean before adding it to `RequestResources`, but then how would we handle potential custom CDI scopes (where we don't know when to destroy the instance)?....
I'll have a little dig into it

[2022-03-09 11:51] computerlove commented on #1307
Turning all GraphQLApi classes to request scoped beans was not really what I wanted. :p

It looks like both annotating components with `@RequestScoped`, and `@Singleton` and `@ApplicationScoped` avoids the problem.

[2022-03-09 12:00] jmartisk commented on #1307
I have an idea how to handle it, we will just need to update the code so that any Dependent-scoped instance used by the CdiLookupService will get destroyed right after use. I'll submit a PR soon

[2022-03-09 19:12] #1307 closed

[2022-03-10 06:07] jmartisk opened #1310 "Guard against a transient NPE in client"
[code]
I think this is happening with 1.4.3 with the smallrye-graphql-client Quarkus quickstart

[2022-03-10 08:13] #1310 closed

[2022-03-11 16:34] emeraldhieu commented on #1297
Adding the dependency doesn't work. I've debugged the app using Proxyman and found that the Eureka client request (#getFoo) failed with 401 Unauthorized because it doesn't have header "Authorization" passed from GraphQL request.

It seems that the Eureka client interface running in JAX-RS context doesn't have HTTP headers and have to be propagated like mentioned at https://github.com/eclipse/micro

[2022-03-11 16:36] #1297 closed

[2022-03-14 12:57] robp94 opened #1316 "Nested Records as input do not work if not all parameters are present, and it is in a list"
If the nested input is inside a list, it does not work.

Same reproducer as in the old issue, just change Parent to:

[code]

server/implementation/src/main/java/io/smallrye/graphql/execution/datafetcher/helper/ArgumentHelper.java

[code]

`m.get(s)` is a List and in there is the map.

https://github.com/smallrye/smallrye-graphql/issues/1152

[2022-03-14 13:28] jmartisk commented on #1316
Hey thanks for reporting, I'll have a look into it later this week, hopefully (but if you want to prepare a PR yourself you're welcome to do so, it's not a complicated fix)

[2022-03-15 23:27] phillip-kruger commented on #1299
Closing. No feedback

[2022-03-15 23:27] #1299 closed

[2022-03-15 23:27] phillip-kruger commented on #1278
closing, no feedback

[2022-03-15 23:27] #1278 closed

[2022-03-15 23:30] phillip-kruger opened #1320 "Allow Locale for validation"
(and in general)

Currently, setting the Local.default has no effect on validation messages.

1) I think we need to fix that.
2) We probably need to add locale to the context, and if set in the HTTP layer (header and query parameter ?), and different than default, change it automatically.

cc @jmartisk w.d.y.t ?

f.y.i @raoua-eng

[2022-03-16 07:33] magick93 commented on #1299
Apologies for the no feedback. I felt like a bit of dick for thinking there was a problem when there wasnt. I really appreciate your responsiveness and support.

[2022-03-18 16:56] raoua-eng commented on #1320
Thanks for creating the issue.
I want to add that when we add the ```quarkus.default-locale=iso_language``` internationalization works well for error message validation.

[2022-03-21 10:49] jmartisk opened #1324 "[Dynamic client] Better API for building arrays of input objects"
Currently one has to do something like
[code]
which is not really fluent

An idea: perhaps this would help?

[code]

This `inputObjectArray` would be a static method of `io.smallrye.graphql.client.core.InputObject` and would return a `InputObject[]`

[2022-03-21 12:12] #1316 closed

[2022-03-21 13:53] raoua-eng commented on #1320
Hello @jmartisk,
I mean when I specify the quarkus property ```quarkus.default-locale=fr``` in application.properties file, i18n for validation error works well.

For me I created an interceptor to be invoked for every mutation, and that interceptor changes the locale iso language by the language given from a jwt, as I see the locale is changed but the error validation message for that particular

[2022-03-23 09:28] jmartisk commented on #1320
I am working on a solution where messages will be in the language specified in the `Accept-Language` header and will soon have a pull request to Quarkus.

You're saying that you also want it to consider the language inside a JWT token? That might be possible, I don't think any Quarkus extensions do anything like that at the moment though (probably not even RESTEasy).

[2022-03-24 10:08] jmartisk commented on #1320
The solution I mentioned earlier is now merged in the Quarkus repo, it will be in Quarkus 2.9.0 and 2.8.1 I think.
If we want it to work with JWT tokens, this should probably be filed as a new issue in the Quarkus repo, because we would probably also need to do this for JAX-RS endpoints, not just GraphQL.

[2022-03-24 10:08] #1320 closed

[2022-03-24 16:13] raoua-eng commented on #1320
Thanks Jan, That's sounds great !
To specify the language in the ```Accept-Language``` header is a great solution. Another way to do this (rather than interceptor) is to use events. As I see, It's similar to interceptor, we have to inject the token and call the ```Locale.setDefault()```. So if the way with the interceptor is solved, the same with events.

Yes I want to consider the token's languag

[2022-03-25 08:22] jmartisk commented on #1320
Hm yea I think your case is getting a bit too specific.
I have a rough idea that could get it working for you, it's not very straightforward, but I *think* it could work:

- Create and register (in META-INF/services) your own implementation of `io.smallrye.graphql.spi.ValidationService` that  does pretty much the same as `io.smallrye.graphql.cdi.validation.ValidationService`,
- except that it does

[2022-03-28 09:55] jmartisk commented on #1268
We now have the server understand the `graphql-transport-ws` and `graphql-ws` protocols which have support for cancelling. And the client library supports that too; when you cancel a Multi corresponding to a subscription, then it sends a cancel operation to the server.

[2022-03-28 09:55] #1268 closed

[2022-03-28 09:56] raoua-eng commented on #1320
Thanks a lot, I'll give this a try!

[2022-03-28 10:00] jmartisk opened #1329 "Transform bean validation constraints into directives in the schema"
We will need to decide whether there will be just one directive type (like `@constraint`), or a different directive per constraint type. But a single `@constraint` directive containing a textual description would probably be enough.
For built-in constraints, coming up with a description is relatively easy. Problem is with custom constraints, where we would probably be able to add only a very gener

[2022-03-29 06:53] t1 commented on #1329
If we had this, probably #977 would become obsolete.

@jmartisk: how do other GraphQL server stacks convey field constraints beyond non-null? And just as a thought: if constraints where machine readable, a frontend could use that metadata to directly validate user input.

[2022-03-29 08:20] jmartisk commented on #1329
There's a javascript library with something like that and it looks like it has a relatively large user base: https://github.com/confuser/graphql-constraint-directive it uses a single `@constraint` directive
For most built-in constraints from Bean Validation, we could probably just follow the same format. For custom constraints we would emit something like `@constraint(annotation: "org.acme.MyCusto

[2022-03-29 10:14] t1 commented on #1329
Yeah, that sounds like a good match to bean validation. I'd really like to see things like `@constraint(minLength: 5)` in my schemas!

I'm not so sure about the `annotation` field. For my taste, your suggestion reveals too much implementation detail: it's an annotation and this is the class name, etc. But I currently don't really have a better idea. Maybe we can postpone that for a moment until we

[2022-03-30 06:56] jmartisk commented on #1329
Yeah I'd say do it only for built-in constraints for now, custom ones are hard to capture.
And let's not change the error handling either, that would be a breaking change and needs very thorough thinking..

[2022-03-30 06:57] jmartisk commented on #1329
I'll try experimenting and maybe come up with an impl

[2022-04-01 07:15] jmartisk opened #1332 "Document usage of `@Directive` and add Quarkus-side test coverage"

[2022-04-01 23:43] #1329 closed

[2022-04-04 08:18] jmartisk opened #1335 "Make server-side websocket send a ping periodically"
After some inactivity, the websocket times out. It's usual to keep the connection alive by having the server send a periodic ping.

For single-result operations, it's generally not a huge problem if the websocket times out, because our client library can automatically recreate the connection when a new operation is being executed. But if there's an active subscription (and the delay between two ev

[2022-04-04 10:10] #1335 closed

[2022-04-04 23:31] phillip-kruger opened #1338 "Work with stork"
Make sure stork works with graphql client. @jmartisk w.d.y.t ?

[2022-04-05 03:17] t1 commented on #1338
I didn't know what stork is. I found this: http://smallrye.io/smallrye-stork

"SmallRye Stork is a service discovery and client-side load-balancing framework."

[2022-04-05 03:18] phillip-kruger commented on #1338
Yea, so it works nice for rest client, not sure what the effort is to get it to work for graphql client

[2022-04-05 03:21] t1 commented on #1338
I just briefly looked at the Concepts page, but how does it work with the MP REST Client? My first guess is that you can use a logical service name in the URI?

[2022-04-05 03:27] phillip-kruger commented on #1338
https://www.youtube.com/watch?v=l3mLKU3wR2A

[2022-04-05 03:46] t1 commented on #1338
Okay, so you'd use a URI `stork://my-service`. Sounds cool!

[2022-04-05 03:53] phillip-kruger commented on #1338
You want to work on implementing it ? Might need some work in stork repo

[2022-04-05 05:27] t1 commented on #1338
I'm unsure, because we won't be able to use Stork in our project ATM: we need load balancers for external calls anyway and we use Config Sources for the lookup part. Federation is more important and I simply need to focus (which is not easy for me ;-).

Just a thought: I would not really like to use the `stork` URI scheme directly in my `GraphQlClientApi` annotation, as that's somewhat a too techn

[2022-04-05 05:28] t1 commented on #1338
BTW: Stork may be just perfect for Feder ;-)

[2022-04-05 07:13] jmartisk commented on #1338
This is something we certainly want to do. My understanding is that on the GraphQL client side we will need to add support for the `stork` URI scheme which, if it's configured for a client, means that the client will, for each request separately, retrieve the actual target URI (using some sort of Stork API) that it should send the request to. For simple HTTP requests this is clear, not completely

[2022-04-05 07:25] jmartisk commented on #1338
In any case let me assign it to myself, unless someone really wants to do it :)

[2022-04-05 08:07] phillip-kruger commented on #1338
I was hoping you will do it ;)

[2022-04-05 20:10] michalszynkiewicz commented on #1338
I don't know how websockets work with graphql, for "normal" usage of web sockets, making them _sticky_ is I think the way to go.

If what graphql does through websockets is stateless, probably on failure, Stork should be called once again to select a service instance

[2022-04-07 01:57] #1338 closed

[2022-04-07 02:52] phillip-kruger opened #1342 "Adapted field are still included in the scheme"
This seem to only happen on input.

See https://github.com/quarkusio/quarkus/issues/24716

[2022-04-07 02:53] phillip-kruger opened #1343 "Add support from ObjectId"
Add support for org.bson.types.ObjectId (String scalar) like UUID

[2022-04-08 02:21] debu999 commented on #1342
It seems both the Input and Type of adapted field are added to schema

[2022-04-08 02:22] phillip-kruger commented on #1342
That would make more sense. I as still working on it. Should have a PR ready soon

[2022-04-08 07:13] #1342 closed

[2022-04-08 11:40] #1343 closed

[2022-04-09 00:34] cherrydev opened #1349 "ResponseReader locations parsing error (again)"
This is sort of related to #1153 where once again, I have found a graphql server (again, it's AWS AppSync) that sometimes spits back error messages that are slightly different than expected. In this case, the server is returning a message that looks like:
[code]
As you can see in `ResponseReader.java` when it is attempting to read the `"path"`, it defensively checks to make sure it's actually an a

[2022-04-09 15:53] bitkill commented on #278
I'm trying to use this plugin and not being successful importing it.
(gradle kts)
[code]

[2022-04-09 17:43] bitkill commented on #278
@jmartisk opened a PR to fix this, there is still some work needed to to this in the GH Actions, but this should be a good start.
PR: https://github.com/smallrye/smallrye-graphql/pull/1351

[2022-04-14 08:18] jmartisk opened #1355 "Ability to access HTTP response code in clients"
Not all GraphQL services return status 200 always when there's a valid GraphQL response - if it contains errors, the status code might be different

[2022-04-19 09:23] robp94 opened #1359 "TypeSafe Client how to use List of Ids"
How to have a List of Ids as Parameter.
For the server, I can do something like this:

[code]
(kotlin not tested in java, but should be similar)
which results in graphql like this:

[code]

But if I create a Client with Java or Kotlin like this:
[code]
I get an error
[code]
I can't put the Annotation inside the list like:
[code]
Since the target is not allowed.

Without the Id Annotation, it does

[2022-04-19 11:42] phillip-kruger commented on #1359
@jmartisk can you help ?

[2022-04-21 08:33] jmartisk commented on #1359
Please check if https://github.com/smallrye/smallrye-graphql/pull/1365 helps

[2022-04-21 15:44] robp94 opened #1366 "Problems with annotations like nonnull and lists"
I found more problems with annotations and lists.

### Java
Code like this
[code]
results in a schema like this:
[code]

which seems not correct, even so I don't know if anybody would need
[code]
instead of the actual result.

The problem is that the typesafe client seems to handle it correctly.

With an api like:

[code]
which calls test2 from above, the result is

[code]

### Kotlin
There seems

[2022-04-22 00:23] phillip-kruger commented on #1366
I think `test2(list: [String!]): String` means that the list itself can be null, but if not null, the elements in the list can not be null. Something like that.

I am trying to follow the issue, but I can not figure out exactly what is wrong. Are you say the client is wrong ? Or the server ? Or both ?

[2022-04-22 06:02] eformat commented on #521
Hi .. not sure how this is going, but can't wait till quarkus supports federation!

i had some success compiling an example against @t1 's branch - https://github.com/t1/smallrye-graphql/tree/521-federation-into-core which seems like a WIP - using the apollo gateway and quarkus graphql backend's. One thing that i was stuck on for quite some time turned out to be something pretty trivial. I continu

[2022-04-22 06:08] phillip-kruger commented on #521
Nice ! Thanks @eformat .

[2022-04-22 06:25] t1 commented on #521
Super cool. Maybe we should make the content type that Smallyre returns a config option?

[2022-04-22 06:28] phillip-kruger commented on #521
Agree, at least the default one as fallback, first looking at matching an accept header ?

[2022-04-22 06:35] t1 commented on #521
@eformat : do you happen to know what `Accept` header Apollo sends? We could try to match that.

[2022-04-22 07:21] eformat commented on #521
wiresharking the connection from the apollo gateway to the /graphql backend seems to suggest it sets

[code]

but then does not handle it in the code :)

![Screenshot from 2022-04-22 17-19-33](https://user-images.githubusercontent.com/712608/164626171-0b15ca43-b5d4-410e-8ec7-ac9bcdfb97dd.png)

[2022-04-22 07:28] robp94 commented on #1366
Both.

Okay, taking a step back: The server and client produce different schema for the same code here. The schema I'd like to produce is
[code]

In Java the server produces this schema
Java Code for client and server:
[code]
Schema Server:
[code]
Schema client:
[code]
so, test2 fails.

Using Kotlin there seems to be a different problem:
Kotlin Code
[code]
Server schema:
[code]
Client schema
[code

[2022-04-22 08:22] jmartisk opened #1368 "Dynamically changing headers for dynamic clients"
**UPDATE:** In the end, we will go with adding variants of all dynamic clients' `execute*` methods that take a set of headers as arguments.
This doesn't apply to `subscription` methods, because headers are sent only once at the beginning of the websocket. For the same reason, these added headers won't have any effect with single-result operations either if these single-result operations are execut

[2022-04-22 16:46] robp94 commented on #1359
I only have quarkus based tests. The current quarkus version seems not to work with the branch, so I can't test it.

If it is possible to get a schema with list of IDs in the client, it should be fine:

[code]

[2022-04-22 23:48] #1359 closed

[2022-04-22 23:52] phillip-kruger commented on #521
We follow the [GraphQL-over-HTTP Spec](https://github.com/graphql/graphql-over-http), that is why we respond with `application/graphql+json` (see https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md#content-types)

If the request contains an accept header that indicate `application/json` that is what we will return with. We have no rule for `*/*` hence it fallback to the

[2022-04-23 00:03] eformat commented on #521
yeah .. i'm going to go down the Apollo approach and try a PR over there, that seems the logical place to fix it

[2022-04-23 00:31] eformat commented on #521
lets see how this goes

https://github.com/apollographql/federation/pull/1767

[2022-04-26 00:29] phillip-kruger commented on #1366
Ok, so test 2 generate wrong on the server it seems ?

[2022-04-26 00:30] phillip-kruger commented on #1366
And test 3 generates wrong for the client ?

[2022-04-27 05:44] t1 commented on #1366
The client seems to be correct (in Java, let's ignore Kotlin for a moment, as that seems to be a different issue). So only test2 in the server is wrong.

[2022-04-27 05:46] t1 commented on #1368
There was already something like this in one of the first versions of the typesafe client. We removed it, as it can be difficult to understand where the header comes from.

[2022-04-28 02:15] phillip-kruger opened #1371 "Make sure AbortExecutionException works as expected"
AbortExecutionException should abort the execution.

[2022-05-05 04:23] zbhavyai opened #1383 "Support for void from GraphQL Mutation"
By default GraphQL does not support returning nothing. It would be nice to have return `void` or `Uni<Void>` from a GraphQL mutation in the smallrye's implementation. Right now, if a mutation returns void, an exception is thrown `graphql.AssertException: type Void not found in schema`. I am using `smallrye-graphql` extension in Quarkus.

Related discussion is [https://github.com/quarkusio/quarkus/

[2022-05-05 11:20] robp94 opened #1384 "Server records arrays and sets not working"
With quarkus 2.8.2 arrays in records-inputs are always empty. This worked fine with 2.7.x.

They were usable fine with the @JsonbCreator workaround.

Reproducer:
[code-with-quarkus-set.zip](https://github.com/smallrye/smallrye-graphql/files/8630709/code-with-quarkus-set.zip)

[2022-05-05 11:26] phillip-kruger commented on #1384
Thats not good. We probably need tests for this then, so that it doe not happen again. @robp94 you keen to do a PR ?

[2022-05-05 11:38] robp94 commented on #1384
Not sure if I have time for it. Maybe on the weekend.

[2022-05-06 12:37] R4V3NN0 commented on #521
At the moment I am trying to integrate federation with a combination from `federation-jvm` and `graphql-java`.
I tried to use the leaky abstraction, as it is described in https://quarkus.io/guides/smallrye-graphql#graphql-java and then I wanted to transform the schema with `federation-jvm` as it is described in their Github project https://github.com/apollographql/federation-jvm as a result I have

[2022-05-07 19:32] Atoiebai opened #1386 "Using Panache Reactive and reactive pg client gives CompletionException on 5-th request"
When i am running my service i am able to send only 4 request , after it i will get Timeout with CompletionException from my service. I am not the first with this trouble and an error is always reproducible, you should just restart a service to get exactly same behavior for each request . While substituting reactive-pg driver for classic jdbc everything becomes fine.
Same issue: https://stackoverf

[2022-05-08 01:45] phillip-kruger commented on #521
Not sure. I will look at federation soon, and see if we can not make it part of the lib without any effort from the user side.

[2022-05-08 02:07] zbhavyai opened #1387 "GraphQL Mutation exceptions when no setters are present."
Hello,

With Quarkus GraphQL, I am facing couple of exceptions with mutations when setters are not present in the model class. I made a small reproducer for this, which is available at [https://github.com/zbhavyai/quarkus-graphql-nosetters-reproducer](https://github.com/zbhavyai/quarkus-graphql-nosetters-reproducer).

To explain, the `Film` class has no setters. The REST endpoints to add a `Film`

[2022-05-08 02:19] phillip-kruger commented on #1387
To be able to do a mutation you are going to need setters. Why do you not have setters ?

[2022-05-08 02:22] zbhavyai commented on #1387
Because, I am building a GraphQL wrapper on an existing service that doesn't have setters. The REST wrapper on that works without any issues, so I wondered why GraphQL doesn't work.

[2022-05-08 02:23] zbhavyai commented on #1387
Is there any particular reason?

[2022-05-08 08:35] robp94 commented on #1387
If I remember correctly, the quarkus version still uses jsonb. If you don't have setters, you need to do something like this for the server input objects https://github.com/smallrye/smallrye-graphql/blob/3f7a7ab79ade1b049a73ff4a0e66128d171ee7d3/server/integration-tests-jdk16/src/test/java/io/smallrye/graphql/tests/records/RecordTest.java#L103

[2022-05-08 20:05] zbhavyai commented on #1387
@robp94 Yeah this one works after I update my constructor with `@JsonbCreator`. Thanks for letting this know!

[2022-05-08 23:27] #1384 closed

[2022-05-09 11:48] #778 closed

[2022-05-09 19:42] zbhavyai commented on #1386
Possible duplicate of [https://github.com/quarkusio/quarkus/issues/21111](https://github.com/quarkusio/quarkus/issues/21111).

[2022-05-09 23:56] phillip-kruger commented on #1386
Fixed with https://github.com/quarkusio/quarkus/pull/25194. Will be available in 2.10

[2022-05-09 23:56] #1386 closed

[2022-05-10 07:50] jmartisk commented on #1332
This is done

[2022-05-10 07:50] #1332 closed

[2022-05-12 15:40] t1 commented on #503
Do I get this right: if the interface is `@Ignore`d, the subclasses should still be in the schema, but not with the common interface, which is possible in GraphQL? But what would happen if `Adress2nd` would be `@Ignore`d, but the code actually returns it?

[2022-05-12 23:49] phillip-kruger commented on #503
I don't think we finalized on how this should work. Probably something that needs discussion on spec level

[2022-05-13 04:54] t1 commented on #776
I think we can close this. Leaking was fixed with #772 and a generic error mapping mechanism will be implemented in #299

[2022-05-13 04:54] #776 closed

[2022-05-14 06:47] maxandersen commented on #1355
+1, getting a graphql (albeit empty) when the respons been a 4xx due to header missing kept me busy for a while.

[2022-05-14 06:49] maxandersen opened #1398 "no io.smallrye.graphql.client.dynamic.api.DynamicGraphQLClientBuilder in classpath when it obviously is"
I have these dependencies (which btw does not seem to be documented anywhere what dependencies to use):

[code]

then when calling:

[code]

I get:

[code]

Which is obvious not true given that `io.smallrye.graphql.client.dynamic.api.DynamicGraphQLClientBuilder` is where the code fails.

What am I missing?

[2022-05-14 09:14] t1 opened #1399 "Type hierarchies with `interface` types"
If a return type inherits from a superclass or an interface with getters, that super type should be made visible in the schema (see [GraphQL spec](http://spec.graphql.org/draft/#sec-Interfaces)).

I think super types that don't declare any getters should silently be ignored.

[2022-05-14 09:15] t1 commented on #400
I think GraphQL interfaces are a separate issue, so I opened #1399.

[2022-05-14 09:22] t1 commented on #1399
Oh, I found this works already!

[2022-05-14 09:22] #1399 closed

[2022-05-14 10:16] t1 commented on #400
IIUC, GraphQL Unions are just like Interfaces, just that they don't have to have a common set of base fields. The schema syntax is different, but queries are exactly the same (as long as you don't select those common fields outside of the inline-fragments). I.e. you can simulate Unions by defining a common interface with only a dummy field (too bad that SmallRye GraphQL doesn't support `default` m

[2022-05-15 04:37] zbhavyai commented on #1387
Want to check, can we have Jackson support for Quarkus GraphQL?

[2022-05-15 04:46] phillip-kruger commented on #1387
What do you mean by Jackson support?

[2022-05-15 05:00] zbhavyai commented on #1387
To put it simply, expecting GraphQL mutations to work with `@JsonCreater` annotated constructor instead to rely on `@JsonbCreator` as [robp94](https://github.com/robp94) suggested.

[2022-05-15 05:19] phillip-kruger commented on #1387
Should be possible. Let's leave this open and we can look at it at some point. Or you can do a PR if you are keen.

[2022-05-16 00:04] phillip-kruger commented on #1398
@jmartisk ^^^ ?

[2022-05-16 05:57] #1355 closed

[2022-05-16 06:29] #299 closed

[2022-05-16 06:38] jmartisk commented on #1398
You need to add `io.smallrye:smallrye-graphql-client-implementation-vertx`. Right, the error message is a bit confusing, it should probably contain the word "implementation" because we're looking for an implementation of the `DynamicGraphQLClientBuilder` interface registered via ServiceLoader. I'll send a PR to improve it
Let me close this, if there are more issues let me know

[2022-05-16 06:38] #1398 closed

[2022-05-16 07:55] LukasLeppich opened #1401 "Wrong schema for subscriptions with list as return value"
The return value of Subscriptions is not properly recognized when returning a list of items.

[code]

This code will create the following schema:

[code]

I think it has something to do with the `isAsync` method in `DataFetcherFactory.java`, it only handles `Uni` but not `Multi`.

I created a minimal example with unit tests for this issue:
[https://github.com/LukasLeppich/graphql_array_subscriptio

[2022-05-16 07:59] phillip-kruger commented on #1401
Thanks for this ! We will look at it a.s.a.p

[2022-05-16 09:25] maxandersen opened #1402 "error handling in case of 4xx response from server"
today when client requests from a server (i.e. github.com) that returns 403 when your token is incorrect or missing in header
graphql client returns empty document with no errors.

https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md#client-is-not-allowed-to-access-the-schema states servers should return 4xx when no access - thus I would say the client should react differ

[2022-05-16 10:24] jmartisk commented on #1402
My opinion is that we should not look that much into the HTTP response code, but rather see whether the response body actually contains a valid GraphQL response, because even if there's a crazy response code, there might be a proper response with it.

- If there's a GraphQL response that can be parsed (even if it potentially has no data, just errors), just try to treat it as a normal GraphQL respo

[2022-05-16 21:15] maxandersen commented on #1402
So you are suggestion to do the same with the type safe client ?

Looking at how jaxrs do it I can get object/json/etc. No matter the status code but Afaics we are missing that basic ability in the graphql client. hasErrors() just seem to care about the graphql layer.

Is there a hasTransportErrors() or getTransportStatus() hidden somewhere to reliably use ?

[2022-05-16 21:16] maxandersen commented on #1398
Sounds good - should I open another issue for docs mentioning those required dependencies ? (I at least couldn't find it mentioned the places I looked)

[2022-05-17 06:01] phillip-kruger opened #1405 "Recursion issue with generics"
See original issue https://github.com/quarkusio/quarkus/issues/25466

[2022-05-17 06:33] jmartisk commented on #1398
We don't have a document describing how to run the client standalone, we generally assume that most people use it either through the Quarkus extension, or the WildFly feature pack, and these have their own ways and documentation..
But ok I guess we can create a short document for the standalone case, and maybe even a snippet with JBang. I'll write up something today.

[2022-05-17 10:22] jmartisk commented on #1402
The problem with typesafe clients is that when we return a domain object, it's not easy to attach the response metadata to it. For that, we would have to either
- make the returned object some sort of proxy where you would be able to call something like `ResponseMetadata.get(proxy)` on it to get the response code etc
- or add an interface, for example `TypesafeResponse<T>` where `<T>` is the actua

[2022-05-19 07:36] phillip-kruger commented on #1401
@LukasLeppich you are spot on, that was the issue. Fixed now. Thanks. Should be part of v1.5.1 that we might pull into Quarkus 2.10.0

[2022-05-20 01:15] #1401 closed

[2022-05-25 09:07] LukasLeppich opened #1414 "Subscription onClose: activeOperations not canceled"
The `Multi` response will not be closed if the websocket connection is canceled without an `COMPLETE` message type.
This result in an subscription leak.

I added a new branch (`unsubscribe`) to my last minimal example:
https://github.com/LukasLeppich/graphql_array_subscription

There is an test case `testUnsubscribe` in `GraphqlTest.java` which shows the success case. Here the `cancel` function of

[2022-05-25 09:14] jmartisk commented on #1414
Hi, thanks for reporting - I'll look into this asap and let you know

[2022-05-26 05:36] jmartisk opened #1418 "Notify long running operations that they were cancelled"
If a connection is lost while a long running query or mutation is still running, it might be useful to notify the application that the operation (maybe, it depends on the use case) doesn't need to continue. For example, `SmallRyeContext` could contain a boolean value, or allow registering an `onCancellation` callback for that.

For subscriptions, I think this is already done as the returned `Multi

[2022-05-26 11:00] jmartisk opened #1420 "Typesafe client extending AutoCloseable transforms a calls to `close()` into executing a query"
As silly as it sounds, if a typesafe client API extends `AutoCloseable`, then when its `close()` method is called, the client proxy transforms that call into an attempt to execute `query close { close }` against the server.
This doesn't happen for `Closeable`, only for `AutoCloseable`.

[2022-05-27 08:37] t1 opened #1423 "Business Error Reporting"
### Discussed in https://github.com/smallrye/smallrye-graphql/discussions/1410

Add a way to configure return types to be wrapped in `Result` types and map the exceptions accordingly.

[code]

Results in a schema:

[code]

[2022-05-27 08:42] t1 commented on #1423
In a later step, the `@GraphQLResult` annotation could take an enum parameter to define the type of wrapping applied. The above default is `ERROR_FIELDS`, a second value is `UNION` resulting in this schema:

[code]

[2022-05-31 10:10] jmartisk opened #1427 "GraphQL UI shows ping messages"
When a `ping` message arrives from the server while a subscription is active, then instead of just responding with a pong, the UI shows the contents of the ping message as if it was a data message.

[2022-06-01 09:40] jmartisk commented on #1414
Fixed in 1.6 and main branches

[2022-06-01 09:40] #1414 closed

[2022-06-13 11:11] #1427 closed

[2022-06-15 16:57] ghost81 opened #1442 "@JsonbTypeAdapter from / to Map. Problem or missunderstanding?"
I have the following problem with using @JsonbTypeAdapter

Here is how my field is annotated:
[code]

Here is my adapter class
[code]
When checking the schema i see the field as an array of Objects, but not as an object `data: [Object]`. No matter what adaptTo type I use, the result is an array of this type.

Any help?

[2022-06-15 22:53] phillip-kruger commented on #1442
The problem here would be the Object (value in your map) that we still do not know what to do with. Is there any reason you need your own custom Map Adapter ? We now support Map out of the box (So just remove the @JsonbTypeAdapter and change the Object some a proper Pojo or Scalar and see if that wont work for you

[2022-06-16 06:44] t1 commented on #1442
The problem with Maps is that it doesn't define what keys it could contain. So the keys can't be exposed as fields in the Schema. If there's any chance that the list of possible keys is limited and known, use a normal POJO instead. That's a great help to the clients and you don't have to document the keys in, e.g., a wiki.

Only if you truly must have an arbitrary, dynamic set of keys, a Map is fe

[2022-06-16 06:45] jmartisk opened #1444 "Bean validation directives should support `@DecimalMin` and `@DecimalMax`"

[2022-06-16 23:53] phillip-kruger commented on #1442
Hi @ghost81 - it was not a stupid question at all ! Thanks for asking. One other thing still on our TODO list is the ability to create your own scalar / use extended scalars. It would be great if you can share how your have done that.

[2022-06-17 06:12] ghost81 commented on #1442
Sure,  it is very simple solution.
My field is in a JPA Entity. It corresponds to JSONB db field (postgresql). The ORM (eBean) use Map to manage it. This is how it looks like:
[code]
Then I have a schema extender:
[code]
Resulting schema:
[code]

[2022-06-17 06:16] phillip-kruger commented on #1442
Awesome ! Thanks @ghost81 . I think we should document this somewhere. Do you know if this works in Native ?

[2022-06-17 06:47] ghost81 commented on #1442
I can't compile to native image as i get this [error](https://github.com/quarkusio/quarkus/issues/18210). When I trace where it is initialized, I found that it is in a third party library and I don't know how to fix it. `--initialize-at-run-time=java.security.SecureRandom` doesn't work.

[2022-06-19 03:04] tigerinus commented on #1384
I've just hit this bug using latest Quarkus 2.9.2 Final release, which includes smallrye-graphql-1.4.5 It's pretty blocking since an API of ours does need passing in an array of strings according to the design requirement.

I couldn't find any information about this fix being part of next Quarkus release. Do you have anything to share?

Thanks.

[2022-06-19 03:13] tigerinus commented on #1384
OK... I got my answer here:

https://github.com/smallrye/smallrye-graphql/compare/1.6.x...2.0.0.RC4

Quarkus 2.10 will include smallrye-graphql-1.6.0, which doesn't include this fix. 😐

[2022-06-19 03:39] phillip-kruger commented on #1384
Is there a fix ? Do you have the PR link for that fix ? Most things in 2.x is backported to 1.6.x. the only difference is the Jakarta namespace

[2022-06-19 04:19] tigerinus commented on #1384
https://github.com/smallrye/smallrye-graphql/pull/1385

Isn't this the fix?

[2022-06-19 06:05] phillip-kruger commented on #1384
O, I missed that. It does not seem to have the backport label, so probably not. @jmartisk w.d.y.t ? Can we backport this ?

[2022-06-19 11:27] robp94 commented on #1384
Should be in 1.6.x https://github.com/smallrye/smallrye-graphql/commits/1.6.x 9. May

[2022-06-20 06:06] jmartisk commented on #1384
Yeah I think I backported that while I was checking that the branch has everything it should contain. Nevertheless, we should try to use the label to avoid forgetting in the future

[2022-06-20 06:32] phillip-kruger commented on #1384
So this should be in Quarkus 2.10

[2022-06-23 00:46] rullyalves opened #1450 "How use data loaders ?"
Hi, first thanks for great work, how use data loaders with this library ?

[2022-06-27 09:12] computerlove opened #1455 "EventingService.afterExecute sometimes executed twice"
We have an EventingService logging responsetimes:
[code]

After upgrading to Quarkus 2.10.0 `afterExecute` is executed twice for some `Context`s.
Our application fires of ~5 graphql requests at the same time, and it seems random which one is triggering double  execution of `afterExecute`

[2022-06-27 09:30] phillip-kruger commented on #1455
interesting. This is a bug, let me have a look.

[2022-06-27 09:31] phillip-kruger commented on #1455
Do you perhaps have a reproducer ?

[2022-06-27 10:16] computerlove commented on #1455
Haven't had time yet, will make one soon!

[2022-06-28 01:26] phillip-kruger commented on #1455
I had a quick look, I can not see anything obvious, so a reproducer would help a lot. Thanks :)

[2022-06-28 08:10] computerlove commented on #1455
Made a crude [reproducer](https://github.com/computerlove/smallrye-gql-issue-1455-reproducer)
The frequency of the incidents is higher when the client aborts the request before it has finished.

Run server from root with mvn quarkus:dev, then start client from its folder the same way.

[2022-06-30 05:05] phillip-kruger commented on #1455
Just some feedback, your reproducer recreates the issue perfectly, however, I am not sure how to fix this. I am going to discuss this with @cescoffier tomorrow and hopefully get a fix in for this a.s.a.p.

[2022-06-30 05:33] cescoffier commented on #1455
@phillip-kruger do you know where this callback is invoked?

[2022-06-30 05:38] phillip-kruger commented on #1455
Here: https://github.com/smallrye/smallrye-graphql/blob/94164da0950780e066c25f836ee7b34232f0340b/server/implementation/src/main/java/io/smallrye/graphql/execution/ExecutionService.java#L176

I tried:

- memoize()
- Removing Uni and just use the underlying `CompletionStage`

In both cases this still happen

I also checked the `onTermination` and `onCancelation` but they are also called twice.

[2022-06-30 05:42] cescoffier commented on #1455
Hum, the Uni emits a single event (item, failure or cancellation (not handled in your case, BTW). So, are you sure that the `writeAsync` method is not called twice?

[2022-06-30 05:47] phillip-kruger commented on #1455
Let me double check that. Hold on.

[2022-06-30 06:16] phillip-kruger commented on #1455
No, `writeAsync` is called only one time.

[2022-06-30 06:49] cescoffier commented on #1455
so either the completion stage is totally broken and emits twice, or there is something really wrong.

Add a `.log()` just after the creation of the Uni with the completion stage.

[2022-06-30 07:23] #1444 closed

[2022-06-30 07:27] jmartisk opened #1458 "Get rid of ValidationService"
Have the regular bean validation interceptor handle validation. We will just have to catch a potential `ConstraintViolationException` from it and properly append it into the response. Preferably make sure that the bean validation dependency stays optional.

[2022-06-30 08:41] jmartisk opened #1459 "Make sure JsonbTransient and JsonIgnore annotations are honored by typesafe client"
from https://github.com/smallrye/smallrye-graphql/blob/2.0.0.RC4/client/implementation/src/main/java/io/smallrye/graphql/client/impl/typesafe/reflection/TypeInfo.java#L159 it looks like we only exclude a field if it's annotated with `@org.eclipse.microprofile.graphql.Ignore`. The same should work with `{javax|jakarta}.json.bind.annotation.JsonbTransient` and `com.fasterxml.jackson.annotation.JsonI

[2022-07-01 05:58] cescoffier commented on #1455
@phillip-kruger I quick debug session showed me that `writeAsync` is called many (many) times, sometimes with the same SmallRye Context.

It leads to calling the callback multiple times, as each execution receives a result dispatched using the callback.

[2022-07-01 06:57] phillip-kruger commented on #1455
Really ? My debugging showed writeAsync called ones (per executionId) but then the result is sometimes received multiple times. You can also see the `beforeExecute` event are always only called once.

[2022-07-01 07:02] cescoffier commented on #1455
I didn't check the execution Id (only the context reference). I will check once back.

[2022-07-03 12:21] tobiasBora opened #1460 "Query cost analysis"
To avoid DOS attacks, people have been implementing [query cost analysis](https://www.apollographql.com/blog/graphql/security/securing-your-graphql-api-from-malicious-queries/) tools in node.js, with custom cost functions. It would be cool to have something similar for Quarkus.

[2022-07-03 14:08] t1 commented on #1460
Related to https://github.com/eclipse/microprofile-graphql/issues/340

[2022-07-04 12:35] Malte-Neu opened #1461 "Problem to get graphql servlet running"
I want to add graphql functionality to my existing embedded jetty project. I found the the graphql servlet, but I can't get it running in my example. The schema generation does not work an the ui schows returns only an error.

Here you can find my test project: https://github.com/Malte-Neu/graphql-servlet-test

I also asked this question a few days ago on stackoverflow (https://stackoverflow.com/q

[2022-07-04 12:44] phillip-kruger commented on #1461
See https://github.com/smallrye/smallrye-graphql/blob/main/server/integration-tests/pom.xml#L68 for example

You can also look at how it's used in the runner project that use wildfly

[2022-07-04 14:55] Malte-Neu commented on #1461
Thanks for your quick answer.

I'll look at the code, I guess it is something wrong with my dependencies. I will compare your code working code with mine.

This is the response inside the graphql-ui:
`{
    "errors": [
        "{\n  \"servlet\": \"io.smallrye.graphql.entry.http.ExecutionServlet-2c6a3f77\",\n  \"cause0\": \"java.lang.NullPointerException: Cannot invoke &quot;io.smallrye.graphql.exe

[2022-07-05 00:59] phillip-kruger commented on #1461
Seem like you are missing CDI

[2022-07-05 03:29] pipinet commented on #1442
https://github.com/graphql-java/graphql-java-extended-scalars/issues/3

[2022-07-05 03:49] pipinet commented on #911
Any news on this?

[2022-07-05 03:51] phillip-kruger commented on #911
No news, but you are welcome to provide a PR and we can discuss further there?

[2022-07-05 04:48] pipinet commented on #1442
https://stackoverflow.com/questions/65709073/use-graphql-java-extended-scalars-with-quarkus

[2022-07-06 13:04] Malte-Neu commented on #1461
I have tried different things to get CDI working, at least the console logs shows:

and a small test servlet with and @Inject annotation works. But the inject ExecutionService in the ExecutionServlet is still null.

My upateded project can be found here https://github.com/Malte-Neu/graphql-servlet-test/tree/weld_v3

[2022-07-07 01:16] phillip-kruger commented on #1461
Hi @Malte-Neu . I would love to help you more, but I do not have time to spend on this now. Running in Embedded Jetty is not a priority for us. However, we will gladly accept a PR if needed to make it work for you.

If you look at the pom.xml: https://github.com/smallrye/smallrye-graphql/blob/1.6.x/server/implementation-servlet/pom.xml
Make sure all dependencies listed as provided is in fact part

[2022-07-07 09:01] schulzp opened #1464 "[Server] Generics: @NonNull Ignored for Generic List Element"
Hi!

Thank you for this amazing project! I've been using it in production for a while now. 😄

I stumbled upon a potential bug:

* 🟢 `@NonNull List<@NonNull String> list;` correctly maps to `list: [String!]!`.
* 🐛  `@NonNull List<@NonNull CustomGeneric<String>> list;` maps to `list: [CustomGeneric_String]!`
  (list elements are no longer null-safe im schema).
* ⚠️  `@NonNull List<@NonNull CustomGen

[2022-07-07 09:05] schulzp opened #1465 "[Client] Generics: Enum in Generic Produces Malformed Query"
Hi!

When using the type-safe client I notices the following behavior. Let's assume a generic type `DescribedValue<V>`:

[code]

Then the client generates a query as follows:

[code]

That is malformed as enums do not allow sub selection (of `name` or `ordinal`).

Please see my M(N)WE: https://github.com/schulzp/smallrye-graphql-generics

[2022-07-07 23:58] phillip-kruger commented on #1465
@jmartisk @t1 I'll leave this for you yo comment. thanks :)

[2022-07-08 00:01] phillip-kruger commented on #1464
Thanks for this. We will have a look a.s.a.p.

[2022-07-08 06:45] jmartisk commented on #1465
Seems we're not properly resolving type variables when generics are used with enums. I'll create a fix

[2022-07-10 23:38] phillip-kruger commented on #1464
@jmartisk how is your availability to look at this ?

[2022-07-12 10:04] meepown commented on #1295
We have the same problem, and it cause hibernate session holding all the time(a Singleton every request). So when it can be fix ^_^

[2022-07-12 11:25] meepown commented on #1295
I'm so appreciate it if it can be optional.  Because some other lib is stateful like hibernate.  CDI can't be avoided if we use these stateful lib.

[2022-07-15 22:08] Jacrispys opened #1467 "TypeNameHelper breaking GraphQL Validation"
Is there anyways around this?

_Originally posted by @Jacrispys in https://github.com/smallrye/smallrye-graphql/discussions/1454#discussioncomment-3159735_

This is a problem because if you have a class ending with `Input` it duplicates the name making it `InputInput`... This is specifically bad for my schema because it requires using an input object for all resolvers and mutations so we don't hav

[2022-07-15 22:13] phillip-kruger commented on #1467
Have you tried adding a @Name annotation on the class?

[2022-07-15 22:18] Jacrispys commented on #1467
There we go! That worked, I figured there was an annotation to bypass this, but wasn't sure what it was! That seemed to have worked!

[2022-07-15 22:18] #1467 closed

[2022-07-15 22:19] Jacrispys commented on #1467
Might still be nice to automatically scan class names for the Annotation Value to prevent this before it happens though.

[2022-07-16 17:09] re-thc opened #1468 "Gradle plugin does not work with Kotlin"
See [GenerateSchemaTask.java LINE 288](https://github.com/smallrye/smallrye-graphql/blob/main/tools/gradle-plugin/plugin/src/main/java/io/smallrye/graphql/gradle/tasks/GenerateSchemaTask.java#L288) where it's hardcoded to only Java files.

Any chance this can be amended to also support Kotlin?

[2022-07-17 01:59] phillip-kruger commented on #1468
You keen to do a PR?

[2022-07-20 00:28] phillip-kruger commented on #1455
@cescoffier this still happens with 2.10.3.Final (so the context termination is not related) I still have not idea why this is happening. I'll debug some more once I have time.

[2022-07-20 00:32] #400 closed

[2022-07-20 00:33] phillip-kruger commented on #1464
I wonder if this is releated ? #1366

[2022-07-20 01:35] phillip-kruger commented on #1387
I think this should work with `com.fasterxml.jackson.annotation.JsonCreator` ( at least I see the code for it: https://github.com/smallrye/smallrye-graphql/blob/a7216b53ea69dda57fcc2d33766b6caf9b44b615/common/schema-builder/src/main/java/io/smallrye/graphql/schema/Annotations.java#L615)

[2022-07-20 01:40] phillip-kruger commented on #1168
Do you have a reproducer ?

[2022-07-20 01:41] #918 closed

[2022-07-20 01:44] phillip-kruger commented on #893
I think this is fixed with https://github.com/smallrye/smallrye-graphql/pull/1472 - can you please test with 1.6.1 once released and let us know. Closing here, please reopen if this is not the case

[2022-07-20 01:44] #893 closed

[2022-07-20 08:08] rsvoboda commented on #918
@phillip-kruger can you pls link the PR which handles Uni on IO Thread?

[2022-07-20 10:17] phillip-kruger commented on #918
@rsvoboda ^^^

[2022-07-20 12:12] rsvoboda commented on #918
thanks

[2022-07-21 09:58] cescoffier commented on #1455
What an interesting issue!

The problem is the executionId which is totally messed up because the code is called from different thread and the executed seems to be a thread local or something thread specific.

So, basically, it's even worse than duplicated afterExecute. It may produce a totally broken result for an execution id, as the execution id was not the right one.

I "fixed" the issue by ju

[2022-07-21 11:02] phillip-kruger commented on #1455
Wow!! Thanks @cescoffier ! I also went down the wrong Id route but did not figure out what was wrong.

But this probably means everything on the context is not properly propagated ?? I'll have a look about that in the morning.

Thanks for your help...

[2022-07-21 11:39] cescoffier commented on #1455
I'm seeing that the computation is based on thread locals, so definitely broken as your processing involves multiple threads.

[2022-07-21 11:40] phillip-kruger commented on #1455
Ok, I'll have a look tomorrow, thanks again, this helps a lot

[2022-07-22 10:59] bizzi-vinhvo commented on #521
Linked Issue: https://github.com/quarkusio/quarkus/issues/26722

[2022-07-25 08:21] #1465 closed

[2022-07-25 08:35] jmartisk commented on #1464
I remember fixing the client-side counterpart of this just before leaving on PTO.
I don't have much insight into how the server side handles generics, I didn't write that relevant code, so I hoped somebody else would step in :)
I can put it on my TODO if nobody else wants it, but I have quite a backlog right now.

[2022-07-25 12:50] jmartisk opened #1479 "Support for unions in the client"

[2022-07-26 06:19] Jacrispys opened #1482 "No json object support in type-safe client."
No, it's not implemented, yet, and we'd have to decide about what json classes we'd support.

If you don't need the `data` field of your image class, just remove it! In fact, you should remove all fields that you don't need, not only because of the bloat in the payload, it could also be expensive for the server to fetch the data and/or count against your usage/complexity threshold.

_Originally po

[2022-07-26 06:19] Jacrispys commented on #1482
Will link PR to solve…

[2022-07-26 06:23] t1 commented on #1482
MicroProfile supports JSON-B, so that has to be supported. Other APIs like Jackson are optional.

[2022-07-26 06:25] Jacrispys commented on #1482
Alright, I'll get a basic IMPL up tmrw if I have time!

[2022-07-26 07:10] Jacrispys commented on #1482
@t1 i plan on doing my homework tonight and reading src for where I need to PR, could you point me to the package I will mostly be working in for this?

[2022-07-27 08:15] #1402 closed

[2022-07-27 09:32] jmartisk commented on #1295
I haven't gotten around to it yet. You're welcome to work on it if you wish ;)
I think CDI can still remain optional for the client library with this (the scope will just be ignored)

[2022-07-30 05:28] Jacrispys commented on #1482
bump @t1 im not sure where to look to find where to add a new type to the type safe client.

[2022-07-30 08:20] t1 commented on #1482
The code you'll need to change is mainly in `client/implementation/src/main/java/io/smallrye/graphql/client/impl/typesafe/json`.

Please remember to also add tests, probably to a new `JsonBehavior` class in `client/tck/src/main/java/tck/graphql/typesafe`.

[2022-07-30 08:23] Jacrispys commented on #1482
Alright, sounds good thanks!

[2022-07-30 22:00] Jacrispys commented on #1482
Weird thing... When using the Jakarta `JsonObject` to parse, it gives this NPE
![image](https://user-images.githubusercontent.com/69219325/182000054-cde378d4-df20-48e6-a13e-8edaf0f145fe.png)
![image](https://user-images.githubusercontent.com/69219325/182000073-618fef24-a43e-4790-935a-148da652891d.png)

When navigating to the code in my fork, it points to the type being null:
![image](https://user-

[2022-08-02 05:18] zbhavyai commented on #1387
Not sure if you meant to do it differently (posted reproducer does uses `@JsonCreator`), but I see the exact same error. Tried with quarkus version `2.11.1.Final`. Again, `@JsonbCreator` works but not `@JsonCreator`.

[2022-08-02 05:41] phillip-kruger commented on #1387
Yes initially I thought we don't support it, but we do, as the annotations are there, so this is a but

[2022-08-04 07:07] jmartisk opened #1485 "Expose configuration options for graphql-java ParserOptions"
see https://github.com/graphql-java/graphql-java/blob/master/src/main/java/graphql/parser/ParserOptions.java
We might want to make some of these options customizable with config properties, at least the maximum number of tokens

[2022-08-05 07:11] jmartisk commented on #1479
Not sure how to handle this, unions seem to be quite hard to handle with typesafe clients.
If we were able to reliably deduce the actual type in the response (and had an appropriate Java class), we could transform it into instance(s) of that type. But I don't know if we can do that. The mapping between GraphQL types and Java classes, on the client side, is very loose.  We would probably have to au

[2022-08-05 07:42] t1 commented on #1479
We don't have to force the `@Name` annotation, because defaulting to the simple class name is sufficient; but otherwise, I think that's just the only way to go. I haven't tried using GraphQL interfaces, yet, but I assume they have exactly the same issue. I all boils down to being one form of polymorphic deserialisation, which was added to JSON-B only recently; maybe that can be of help, but I have

[2022-08-05 08:02] t1 commented on #1482
I'm not sure, but it could be that it recurses into the fields of the `JsonObject` class and some of those fields is generic, i.e. a `ParameterizedType` or so. I guess that's too deep, you'll have to stop it from recursing into `JsonObject` when building the query.

[2022-08-05 08:52] jmartisk commented on #1479
We will also have to include inline fragments to be able to specify what to select per each possible type in the union. The generated query would have to be like this:

[code]

However, knowing all types that are part of the union (Book, Author in this case) will require scanning of the Jandex index, that's another major complication, because we don't use Jandex in the client right now :(

[2022-08-05 09:25] t1 commented on #1479
Yes, we need all subclasses of the Union-Interface and select the fields those contain. Nobody said this would be easy 🤪

[2022-08-06 04:11] t1 opened #1488 "Support Jakarta Annotation @NotNull"
Jakarta Annotation 2.1 adds a `@NotNull` annotation. We should support that as an alias to our own `@NonNull`.

[2022-08-08 02:34] phillip-kruger commented on #1455
Good news. I fixed this in Quarkus (see above PR). @computerlove let me know once the PR is merged or on the next release if this works for you. It fixed your reproducer. Thanks. Closing here.

[2022-08-08 02:34] #1455 closed

[2022-08-08 10:51] jmartisk opened #1491 "1.6.x branch broken compatibility with WildFly"
This seems to be due to upgrading Jandex (https://github.com/smallrye/smallrye-graphql/pull/1456) and moving to methods not present in the Jandex present in wildfly 23-26

[2022-08-08 11:43] robp94 opened #1492 "Validation constraints exception with regex on printing schema"
When I activate quarkus.smallrye-graphql.schema-include-directives=true and use a regex like this
[code]

I get an error like this when I try to print the schema

[code]
 I looked into it, it seems that the used formatter does not support "%"
[code]
We would need to escape percentages with another percentage sign.
With a description which includes a percentage sign, there is no problem. So there i

[2022-08-08 12:24] jmartisk commented on #1492
This seems to be related to the way how graphql-java prints directives - this call: https://github.com/graphql-java/graphql-java/blob/v18.1/src/main/java/graphql/schema/idl/SchemaPrinter.java#L678 is the culprit, I think it should have been a plain `print` instead of `format`, because it does not specify any formatting arguments, so if the string itself contains a formatting specifier, it will blo

[2022-08-09 06:53] computerlove commented on #1455
Yep, looks good!

[2022-08-09 08:10] #1491 closed

[2022-08-09 12:13] jmartisk opened #1506 "Constraint violations returned as System error when the GraphQLApi is not Singleton"
see https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/.E2.9C.94.20Graphql

[2022-08-10 00:17] #1485 closed

[2022-08-15 07:12] jmartisk commented on #1492
I've submitted a fix straight to graphql-java: https://github.com/graphql-java/graphql-java/pull/2920
Let's see if it gets accepted. I've also prepared a test that we will add on our side once we upgrade to a graphql-java version containing the fix

[2022-08-15 11:08] jmartisk commented on #1492
Fix merged into graphql-java, so this will be resolved on our side with an upgrade to graphql-java 20, when it's released

[2022-08-21 04:20] debu999 opened #1517 "Authorization in graphql with application properties"
Currently the only way to add Authorization is via @RolesAllowed.

  But same is also provided in Rest Controller Resources.

What i wanted to know is can we have it in application properties
This allows us to have common place to maintain the roles for queries and not to have several @RolesAllowed in each query if they are specific.

This might need a enhancement but definitely can be a good thin

[2022-08-21 09:59] phillip-kruger commented on #1517
This will be implemented in Quarkus, not here in SmallRye. We can use the open ticket in Quarkus. Closing here. Thanks :)

[2022-08-21 09:59] #1517 closed

[2022-08-23 06:37] jmartisk commented on #1468
I'll look into this and while at it, try to fix our not-quite-good testing infrastructure for the gradle plugin

[2022-08-23 14:07] brainlag opened #1520 "Support some kind of controlled order from ServiceLoader for LookupService"
Currently you can provide your own LookupService but this only works as long only on implementation is on the classpath.
If you have 2 or more the order is undefined and the wrong one might be used. We have this problem because we want to provide your
own but also use the smallrye-graphql-cdi dependency which already comes with its own implementation. Any way to control the order so it is possible

[2022-08-23 14:29] jmartisk commented on #1520
Guess we could simply make it prioritize user-supplied implementations outside of the `io.smallrye` package? @phillip-kruger

[2022-08-23 21:01] phillip-kruger commented on #1520
Yes, or Quarkus

[2022-08-24 05:39] jmartisk commented on #1468
Done, this will be fixed in 1.7.1 and 2.0.0

[2022-08-24 05:39] #1468 closed

[2022-08-25 18:11] rmanig opened #1523 "Record as input - @JsonbCreator on custom constructor is ignored"
Hello,
I'm unable to use a custom constructor annotated with @JsonbCreator as my input type, the annotation will be just ignored.
Only the canonical constructor of the record and its parameters turn up in the generated schema.
Example:

[code]

Generated input type:
[code]
Expected:
[code]
Shouldn't be there a precedence for an existing creator annotation? https://github.com/smallrye/smallrye-grap

[2022-08-25 23:55] phillip-kruger commented on #1523
Hi thanks for reporting this issue. A PR would help a lot !

[2022-08-26 04:45] jmartisk commented on #1523
Yeah! And with adding a little test into`integration-tests-jdk16/src/test/java/io/smallrye/graphql/tests/records/RecordTest.java` it would be even better.
Let us know if you need any assistance

[2022-08-30 05:24] debu999 opened #1528 "GraphQL @Source Mapping Enhancement from List"
Current batch implementation for @Source assumes we get a list and return a list with same length.

Lets take a example for parent child relationship.
[code]

[code]
so there are 2 parents A and B and 2 children both for A
<img width="1150" alt="Screenshot 2022-08-30 at 10 44 58 AM" src="https://user-images.githubusercontent.com/1910577/187354985-1c18b71a-ec44-4cee-ba83-c0e76592aa95.png">

adding

[2022-08-30 05:25] debu999 commented on #1528
[code]

[2022-08-30 05:27] phillip-kruger commented on #1528
You keen to do a PR ?

[2022-08-30 05:36] debu999 commented on #1528
I can give it a try for sure over weekends.

[2022-08-30 05:41] t1 commented on #1528
If you look closely, the `children` field that you return is only an object, not a list, i.e. in your schema, one can only have a single child. Your batch resolver method needs to return a list of a list, i.e.:

[code]

[2022-08-30 05:49] phillip-kruger commented on #1528
Well spotted. I wonder if we can build in some detection to warn / fail on these cases ?

[2022-08-30 05:51] t1 commented on #1528
Hmmm... no, I don't think we can't detect that.

[2022-08-30 05:52] t1 commented on #1528
Maybe we should improve the documentation and add an example, as it's something that newcomers may often get wrong.

[2022-08-30 06:03] debu999 commented on #1528
This is perfect. Missed that analogy. Thanks a lot. We are good . Closing it.

[2022-08-30 06:03] #1528 closed

[2022-08-30 06:04] debu999 commented on #1528
There are assertions which guides in that direction anyways. So easy to figure out. But List<List<String>> as a definitely overlook from my side. Thanks a ton for the guidance. :s

[2022-08-31 06:57] #1520 closed

[2022-08-31 08:41] #1523 closed

[2022-08-31 14:30] computerlove opened #1530 "EventingService.errorDataFetch not called on failed synchronous graphql operations"
For synchronous graphql operations exceptions thrown does not result in invocations of `EventingService.errorDataFetch`.
Changing to `Uni<T>` gives the expected behaviour.

[Reproducer](https://github.com/computerlove/missing-error-eventingservice)

[2022-09-01 01:43] phillip-kruger commented on #1530
Thanks ! I'll have a look

[2022-09-02 02:39] phillip-kruger commented on #1530
This will  be fixed in Quarkus. I'll link back to here

[2022-09-03 06:18] t1 commented on #1405
I just tried to start the `runner` and it also fails with a stack-overflow. I tried to find the issue, but it's nasty.

I worked around by removing the generic parameter `<TestID>` from `extends AbstractID<TestID>` in `io.smallrye.graphql.test.apps.generics.inheritance.api.TestID`.

[2022-09-03 10:24] phillip-kruger commented on #1405
I know what the issue is, I just don't know how to fix it ... it's a chicken egg thing

[2022-09-03 12:57] phillip-kruger commented on #1530
Closing here. Fix is in a open PR in Quarkus

[2022-09-03 12:57] #1530 closed

[2022-09-05 05:08] t1 opened #1542 "Update support for Federation 2"
There are a few new directives in [GraphQL Federation 2](https://www.apollographql.com/docs/federation/federation-2/new-in-federation-2/), e.g. `@shareable`. We need to add new annotations and update some of our existing annotations.

[2022-09-05 05:10] t1 opened #1543 "Get listed as GraphQL Federation compatible service"
SmallRye GraphQL should be listed on the [Apollo Federation Subgraph Compatibility](https://github.com/apollographql/apollo-federation-subgraph-compatibility#java--kotlin). This seems to require some tests passing.

[2022-09-06 16:28] debu999 opened #1548 "graphiql explorer features in graphql-ui"
Can the features of https://github.com/OneGraph/graphiql-explorer incorporated in graphql-ui

autocomplete of all variables is a must have feature on the UI.

[2022-09-06 22:13] phillip-kruger commented on #1548
Hi thanks for this. Are you keen to do a PR?

[2022-09-07 08:27] adjiandov opened #1549 "Group Queries/Mutation under context/name in code first schema"
Hello,
Currently when adding @GraphQLApi class with @Query and @Mutation methods and having multiple of these at the end in the generated schema all of the queries and mutations are grouped under Query root and Mutation root.
It would be nice to be able to group them logically by some context/name as it can be done in the schema first approach with separate schema files.

[2022-09-07 08:31] phillip-kruger commented on #1549
Not to sure what you mean. Are you sure this is allowed in the spec https://spec.graphql.org/draft/  ?

[2022-09-07 08:51] adjiandov commented on #1549
Yes in the spec it is referred as MyQueryRootType and MyMutationRootType and having several of those e.g. CustomerRootType, UserRootType and all queries related to customer will go under CustomerRootType and all queries related to user will go under UserRootType.

[2022-09-07 09:00] phillip-kruger commented on #1549
Can you share a link ?

[2022-09-07 09:00] adjiandov commented on #1549
Sure, here it is: https://spec.graphql.org/draft/#sec-Schema

[2022-09-07 09:04] phillip-kruger commented on #1549
That is just naming the roots, not have mulitple, right ? We hardcode the root (query, mutation, subscription) and can maybe allow you to name them, but as far as I can see you still only have those 3. Or am I missing something ?

[2022-09-07 09:07] adjiandov commented on #1549
In that case is there a way to define multiple schemas?

[2022-09-07 09:07] jmartisk commented on #1549
Can you even specify multiple roots for an operation type?

[code]

Is this legal? It's not clear to me from the spec. It doesn't say whether the same `OperationType` can be repeated in a `SchemaDefinition`, but it doesn't look right to me.
Or how else would you do it?

[2022-09-07 09:10] phillip-kruger commented on #1549
No that is not legal as far as I know. We did "hack" this with our "group feature" a while back, but that will be removed as this is really hacky and against the spec.

[2022-09-07 09:13] phillip-kruger commented on #1549
See this: https://github.com/smallrye/smallrye-graphql/tree/main/server/tck/src/test/java/io/smallrye/graphql/test/apps/grouping/api

And then https://github.com/smallrye/smallrye-graphql/blob/main/server/tck/src/test/resources/tests/grouping/query/input.graphql

But as I said this will probably be removed in a future version

[2022-09-07 09:14] adjiandov commented on #1549
And is it possible to have some groupings with the help of Type?
so that the schema looks something like:
`type Query {
customers: Customers
users: Users
`

And then the actual queries and GraphQLApi will be defined within these types?
I have seen this in another schema first approach for sure, but cannot remember at the moment the name of the GraphQL implementation.

[2022-09-07 09:20] phillip-kruger commented on #1549
If you have two queries in your code, one for customers and one for User you should get that.

[2022-09-07 09:25] jmartisk commented on #1549
Like this?
[code]

That I think is legal, but we don't provide a way to do this. It would also make querying a bit complicated because you would have to  include the 'group' name in the query
[code]

[2022-09-07 10:00] phillip-kruger commented on #1549
Well the other option is to break up your app in multiple apps... or the grouping feature would give you what you want, or basically an empty object (customers) that only has source fields on ... But I would not optimize for easy schema reading. The main purpose for the schema is not to make it readable for humans. By naming your queries properly, the user can still navigate the schema easily.

[2022-09-07 10:01] phillip-kruger commented on #1549
I am going to move this to a discussion rather than an issue

[2022-09-15 08:35] acanda opened #1556 "Support directives on operations and operation arguments"
I'd like to be able to put (custom) directives on operations (query, mutation, and subscription) and their arguments. As of 1.7.1, (custom) directives are not rendered into the schema.

Putting a custom annotation `@Deprecated` for the custom directive `@deprecated` on a query method and its arguments should result in the schema below.
[code]

Expected schema:
[code]

[2022-09-15 17:28] #1556 closed

[2022-09-16 23:11] AlekseyMay opened #1562 "Not possible to add Directives to Queries or Mutations for scheme generation"
Hi. I am using @MyDirective for fields on entities and it works great. Scheme generates correctly with needed directives. But if I want to add a directive to `@Query` method it doesn`t generate anything.
This is my directive:
[code]

[code]

That works correctly and generates directive for type field like this:
[code]
, but this:

[code]
is not generating anything in my schema.
Expected behavior t

[2022-09-17 04:01] t1 commented on #1562
Thanks for your report, but it looks like @acanda was quicker than you 😜 see the PR #1557: It's been merged and will be in the next release.

[2022-09-17 04:01] #1562 closed

[2022-09-21 08:35] t1 opened #1563 "Client: support input type `Instant`"
While `LocalDateTime` and many more are mapped correctly to the `DateTime` scalar, `Instant` is not.

[2022-09-21 10:21] t1 opened #1565 "`@DefaultValue("0") int x` fails with `null`"
If a client sends a `null` value (e.g. in the `variables`), the server throws an `IllegalArgumentException`.

[2022-09-22 15:46] ikenox opened #1570 "Provide a way to access an ExecutionResult instance"
Currently there seems no way to access an `ExecutionResult` instance, because it is directly consumed by `ExecutionResponse` and `ExecutionResponseWriter`.
https://github.com/smallrye/smallrye-graphql/blob/main/server/implementation/src/main/java/io/smallrye/graphql/execution/ExecutionService.java#L210

If we have the way to access that result instance, it's convenient to execute some result-depen

[2022-09-23 05:29] t1 commented on #1570
Do you have very specific logging requirements, or could we integrate better logging into SmallRye GraphQL?

[2022-09-23 06:35] t1 commented on #1565
I have a patch for the tck to show the problem, but I didn't find the correct spot to fix it, as I can't find a way to properly debug.

[code]

[2022-09-23 06:36] t1 commented on #1565
this is the stacktrace:

[code]

[2022-09-25 03:18] ikenox commented on #1570
In my case, I want to logging all errors at once. Currently it's a little difficult because `@ErrorDataFetch` event is emitted on each exceptions.
In addition, my logging output format is a specific json format of the our underlying logging service.

I can't determine whether it's a very specific requirement, but I think it's better to provide a simple way to just access the result instance becaus

[2022-09-25 10:57] t1 commented on #1570
If the logging would happen via, e.g., `slf4j`, then the actual output, e.g. JSON, would be defined by the runtime, not by SmallRye GraphQL. So the question would be: what data do you need? The `query` and `operation`, obviously. Do you want the `variables`? All headers (with a reduced Authorization header)? We could provide all of this data, e.g., in the MDC.

[2022-09-25 13:33] ikenox commented on #1570
Thanks for replying.

That's right. So my explanation about logging format was not suitable reason for this issue, sorry.

The data I need is just a list of all errors that are occurred during the query execution. It can be obtained by `getErrors()` method of the `ExecutionResult` instance.

I want to see the all errors at once in order to summarize/filter and logging it.
When a batch-query for N

[2022-09-26 00:24] phillip-kruger commented on #1570
We can maybe make the ExecutionResult available in the Context. Then you can listen to `afterExecute` event and unwrap from there.... keen to do a PR ?

Basically, add a new field on Context, `executionResult` that can be accessed via the unwrap method (so enhance that in context, handling null, as this will only be set right at the end).

Then in both `writeAsync` and `writeSync` in `EcexutionSer

[2022-09-26 02:12] ikenox commented on #1570
I think I can try to make a PR.
Before I do that, I want to make sure that the change does not break this library's existing design policy.
Do you have any concerns about the change, or do you have any better solution to get `ExecutionResult`?

Also, I think it's possible to fork the repository myself if my this requirement can be considered as too specific.
I'd be happy to hear your frank opinion

[2022-09-26 02:13] phillip-kruger commented on #1570
No I think this is valid, and why we made the unwrap method in the context. Your PR is welcome

[2022-09-27 04:25] #1570 closed

[2022-09-27 09:21] robp94 opened #1577 "Error message differing for validation with blocking and non-blocking"
When using the hibernate validator and having an api like this
[code]
The resulting errors differs between blocking and non-blocking.

Result for non-blocking (my preferred one):
[code]

Result for blocking:
[code]
I tried playing around with the show error message properties, but that did not help.
[code]
For blocking, the exception gets lost in io.quarkus.smallrye.graphql.runtime.spi.datafetcher

[2022-09-27 09:55] robp94 commented on #1577
@jmartisk in the linked zulip chat you wrote with quarkus > 2.11, `@GraphQLApi` is default `@Singleton`. My reproducer is 2.12.3, and I just tried it with an additional `@Singleton` at the api, which did not help.

[2022-09-30 06:58] jmartisk opened #1584 "Make the federation-graphql-java-support dependency optional"
This is mostly for Quarkus reasons. We want applications to be able to not include it when they're not using federation.

[2022-09-30 08:49] #1563 closed

[2022-10-09 20:53] gabrielsson opened #1587 "Support subprotocol graphql-transport-ws"
As described in #811 and outlined really nicely by GavinRay97 in the comments beeing able to consume graphql over an authenticated websocket with subprotocol graphql-transport-ws is not working with the GraphQLTransportWSSubprotocolHandler as it lacks the means of payload in the connection init message:

the connection message cannot have a payload  GraphQLTransportWSSubprotocolHandler.java#L78
[c

[2022-10-09 22:44] phillip-kruger commented on #1587
Hi @gabrielsson . Are you keen to do a PR to add this ? I assume you are looking for a way to add the payload to the init message ?

[2022-10-10 06:57] gabrielsson commented on #1587
@phillip-kruger Yes, I will take a look during this week!

[2022-10-10 06:58] jmartisk commented on #1587
The `payload` field is optional, hence the question mark behind it in the protocol specification. Therefore saying that "graphql-transport-ws is not working" isn't correct - we only have a limitation in that we don't offer an API for applications to specify that they want to pass some payload to clients this way. Is this what you need? It could be achievable, we just didn't yet see any compelling

[2022-10-10 06:58] jmartisk commented on #1587
Do you have any particular idea what the API should look like? How will the application define the payload items?

[2022-10-10 07:53] gabrielsson commented on #1587
@jmartisk I would say that in the best of worlds it should be possible alongside where we set headers on the connection
[code]
something like
[code]

But that might be a stretch goal. As I am using the DynamicGraphQLClientBuilder.java I would start there.

[2022-10-10 08:32] jmartisk commented on #1587
It might need a way to specify the values dynamically because they might change over time, in which case a simple configuration property wouldn't work, but rather an SPI that the application will implement

[2022-10-10 08:54] gabrielsson commented on #1587
I would look at the payload as something which is negotiating the connection. I agree that it might be useful to have a dynamical approach to set the initial payload, but as only one connection_init message can be sent during a connection, I believe it is a good idea to start treating the init payload as we treat the header property.

[2022-10-10 09:26] jmartisk commented on #1587
There's one connection_init per connection, but over the runtime of a server, there will be tons of connections :)
But yeah, I'm not really sure how much dynamic it needs to be. It's not easy for me to imagine real-world use cases for this.
Keeping it configuration-based will be much simpler to implement, and perhaps it will be enough, at least for start.

[2022-10-11 07:43] t1 opened #1589 "JDK17: local DNS failure in GraphQL Client → vertx → netty"
We try to run our application on WildFly 26.1.1 on JDK17, but the GraphQL Client calls to servers in our local network (using an internal `server.lan` domain) fail with a stacktrace containing something like this:

[code]

Digging deeper, we found this log from Netty:

[code]

So this seems to be a problem with Netty, which is used by vert.x, which is used by the GraphQL Client. Maybe updating som

[2022-10-11 08:06] jmartisk commented on #1589
The client is running inside a WildFly server instance right? Just thinking, would it then help if you started WildFly with the  JAVA_OPTS env variable set to `--add-exports=jdk.naming.dns/com.sun.jndi.dns=ALL-UNNAMED`?

[2022-10-11 08:09] t1 commented on #1589
Yes, something like this is what we are doing as a workaround. But it would be nice to have it actually fixed, esp. when it's just bumping some dependency 😜

[2022-10-11 08:12] jmartisk commented on #1589
The class not being to access something is `org.jboss.as.naming.InitialContext`, which is a WildFly-internal class. Thus I would think this is a problem in WildFly itself.

[2022-10-11 08:40] ftrossbach commented on #1589
Adding `--add-exports=jdk.naming.dns/com.sun.jndi.dns=ALL-UNNAMED` to the Wildfly JAVA_OPTS worked indeed

[2022-10-11 08:55] jmartisk commented on #1589
I'd suggest reporting an issue in the WFLY tracker (https://issues.redhat.com/projects/WFLY/issues/)  and asking the WF team their opinion. IIUC this should be reproducible without GraphQL clients, with anything that uses Netty for DNS, and WildFly contains Netty bundled in.

[2022-10-11 11:30] ftrossbach commented on #1589
Openend https://issues.redhat.com/browse/WFLY-17127

[2022-10-11 23:26] #1589 closed

[2022-10-13 14:54] t1 opened #1591 "Redeploy on WildFly with the GraphQL Feature Pack should reload the config"
When we redeploy a `war` on a WildFly with an update to the `microprofile-config.properties` concerning MP GraphQL, e.g. `mp.graphql.showErrorMessage`, then the changes don't get applied; it needs a full restart for that.

I've created a reproducer on https://github.com/t1/graphql-config-reload-reproducer including instructions for reproducing.

[2022-10-14 05:23] pschyma commented on #1366
Is there any progress on this issue? Especially case `test2` in the kotlin world is right now a show stopper for me in Quarkus.

[2022-10-18 09:24] galiatsatosc opened #1592 "@GraphQLApi annotated classes Inheritance dont work from v1.4.3.1"
### **Use Case**
I have been using Smallrye-GraphQL in a Quarkus application.

I have a generated @GraphlQLApi Resolver class as a **base resolver** per entity with a generic implementations for list, create, update and delete entity operation.

I also have an other @GraphlQLApi per entity that **extends** the respective base class to override methods annotated with @Query that needs custom logic

[2022-10-18 10:35] jmartisk commented on #1592
So you want to have two `@GraphQLApi` classes that (basically) contain the same operations, but how would the framework choose which of the implementations to use to handle a request? This feels a bit weird to me, wouldn't it be better to remove the `@GraphQLApi` annotation from the "base" API and use only the extending one?

[2022-10-18 10:58] galiatsatosc commented on #1592
Hello @jmartisk,

Yes its a bit weird to override a Resolver class.

The idea is to have the generic logic in the base classes as @Query annotated methods.
If I remove the @GraphQLApi from the base i think in wont recognize the @Query annotated methods.

It worked until v1.4.3.1 because base resolver classes are annotated as @Dependent and the extending classes as @Alternative and @Priority(1) so

[2022-10-18 13:10] jmartisk commented on #1591
Yeah but redeploying also counts as multiple deployments in this regard.
If it works correctly with other MP Config settings though, it's probably something that we can fix in SmallRye GraphQL.

[2022-10-18 17:20] galiatsatosc commented on #1592
Unfortunately, removing the @GraphQLApi annotation from the base resolver class resulted in not recognizing the API methods annotated with @Query.

[2022-10-18 21:10] phillip-kruger commented on #1592
I think we can make that work.

[2022-10-19 07:44] jmartisk commented on #1592
Annotated methods from superclasses should probably be taken into account. I'll look into how complicated it will be to fix

[2022-10-19 08:31] jmartisk commented on #1592
I've submitted https://github.com/smallrye/smallrye-graphql/pull/1594 that might kinda resolve this - please have a look. It allows GraphQLApi classes to inherit annotated operations from superclasses. As long as that superclass is not a CDI bean, it should work. Otherwise you would still get the ambiguity problem.

[2022-10-20 07:05] jmartisk commented on #1592
Ok it will  be solved in SmallRye GraphQL 1.8.2, 1.9.0 and 2.0.0, so.. Quarkus 2.14
I'll close this, let us know in case you have more issues

[2022-10-20 07:05] #1592 closed

[2022-10-20 12:31] jmartisk opened #1597 "Replace OpenTracing support with OpenTelemetry"

[2022-10-24 06:41] jmartisk commented on #1587
fixed via https://github.com/smallrye/smallrye-graphql/pull/1590

[2022-10-24 06:41] #1587 closed

[2022-10-24 06:44] jmartisk opened #1602 "Server-side API for reading init-payload"
The client now supports adding `init-payload` to the init message when establishing a websocket connection (see https://github.com/smallrye/smallrye-graphql/pull/1590). The server side doesn't yet have a way to expose that to the application.

[2022-11-03 11:46] brainlag opened #1604 "Name attribute on @Source annotation does not work"
The field on the schema does match the method name and not the name specified by  the name attribute.
Version is 1.7.1.

[2022-11-04 09:00] jmartisk commented on #1604
You can set the name of the source field by adding a `@Name` annotation on the method (not the parameter).
But per my understanding, using the `@Source(name="...")` should also do it - I confirm it doesn't.

[2022-11-04 09:30] jmartisk commented on #1604
@phillip-kruger should we update the spec to say that `@Source(name=..)` should work just like adding `@Name`, or should we rather deprecate/remove the `name` attribute? It doesn't seem to be used anywhere. Not in the spec code, not in SmallRye, not in the TCK

[2022-11-05 22:51] phillip-kruger commented on #1604
I think the javadoc is correct and the code in the api is wrong. We do not have 'name' parameters for any other annotations. It's either the value (like in the javadoc) or `@Name`. This will need a fix in MP

[2022-11-07 09:26] jmartisk opened #1607 "Disable asyncDns and caching when the client library initializes its own vert.x instance"

[2022-11-07 12:00] jmartisk commented on #1604
I've reported https://github.com/eclipse/microprofile-graphql/issues/478 - let's see what the spec maintainers think and then I can do the changes

[2022-11-09 08:01] jmartisk commented on #1607
Resolved for 1.8.3, 1.9.0 and 2.0.0

[2022-11-09 08:01] #1607 closed

[2022-11-10 09:36] jmartisk commented on #1368
True that it will be a bit confusing, but how else can we support dynamic header values...

Potentially client builders could accept a `Function<SomeContext, String>` that is called always when a header value is needed, `SomeContext` would be some kind of context that might be necessary to compute the value, but I'm not sure what exactly that context should contain (and maybe we don't need that co

[2022-11-10 16:20] t1 commented on #1368
Hmmm... is there really a use-case to dynamically create header names? For dynamic values you can use the `@Header(name = "Foo", method="myFooMethod")` syntax.

[2022-11-11 11:57] t1 commented on #1368
If you don't want to repeat the `@Header(name = "foo", method = "MyClass.myMethod")` on multiple APIs, you can extract this into a `Stereotype`. I think this is much cleaner that having some headers magically appear without any visible clue.

[2022-11-11 12:10] jmartisk commented on #1368
Yeah, but in this issue I'm focusing on how to enable this with dynamic clients, and these don't have any reasonable place where to put an annotation, that's why I'm suggesting something that can be passed to the client builder programmatically.

[2022-11-14 18:54] Parneet-Raghuvanshi opened #1613 "Sending custom error message in GraphQlErrors"
I am trying to make my custom exceptions and was unable to set a custom message, but I can only add extensions.
Can anyone help me out in this, or is it even possible in smallrye-graphql.

Response which I got in postman.
[code]

I just need to set a custom error message here, when throwing exception.
My full question -> [Stack Overflow](https://stackoverflow.com/questions/74436375/send-a-custom-e

[2022-11-14 20:06] phillip-kruger commented on #1613
<https://stackoverflow.com/posts/74437243/timeline>

If you are using Runtime exception you need to enable it explicitly and
also tell what fields you want to show. See

https://quarkus.io/guides/smallrye-graphql#quarkus-smallrye-graphql_quarkus.smallrye-graphql.show-runtime-exception-message

And

https://quarkus.io/guides/smallrye-graphql#quarkus-smallrye-graphql_quarkus.smallrye-graphql.error-e

[2022-11-15 10:34] Parneet-Raghuvanshi commented on #1613
Thank You,
now it's working smoothly as I wanted it to.
So, basically it's a security feature to hide the runtime exceptions to throw messages directly.

[2022-11-15 15:27] #1613 closed

[2022-11-16 15:39] pipinet opened #1615 "Custom GraphQLExceptionWhileDataFetching message provider"
We want provide a custom message provider for GraphQLExceptionWhileDataFetching message, but it is handcode in smallrye graphql.
<img width="1284" alt="image" src="https://user-images.githubusercontent.com/6096680/202225274-6e45c8bd-4cc0-498d-8346-0359f59235c0.png">

[2022-11-16 15:42] pipinet commented on #1615
we need provide different message for different customers, customer type will from request code or env, and we need i18n message

[2022-11-16 15:57] pipinet opened #1616 "Make ErrorExtensionProvider a singleton"
<img width="1766" alt="image" src="https://user-images.githubusercontent.com/6096680/202229443-10cedfe9-e46b-45aa-9191-7586a80d7122.png">

it will create new instance every times error.
[code]

[2022-11-16 22:23] phillip-kruger commented on #1615
Are you keen to provide a pull request with the changes needed ?

[2022-11-16 22:28] phillip-kruger commented on #1616
Would you be keen to provide an pull request with the fix ?

[2022-11-21 07:32] #1616 closed

[2022-11-21 07:32] jmartisk commented on #1616
This will be resolved in 2.0.0, 1.9.0 and 1.8.3

[2022-11-21 16:46] panphg opened #1624 "Union Type of Scalars"
I'm trying to define a union type consisting of scalars, e.g.
[code]
I tried the following with `@AdaptWith` (in Kotlin):

[code]

This doesn't work and I get the exception `graphql.AssertException: A Union type must define one or more member types.` when starting my application.

If I do the same without the `@AdaptWith` annotations, then it generates the following union type:
[code]

Is it possi

[2022-11-23 16:14] pipinet commented on #1615
Need to deal with these two issues first.

https://github.com/quarkusio/quarkus/issues/19207
https://github.com/smallrye/smallrye-graphql/issues/949

[2022-11-29 07:27] t1 commented on #1591
I've updated the reproducer to show how updates to the config for MP REST Client works after a redeploy, but that may not be comparable, as it's a client, not a server.
So I've also tried to add tags to MP Metrics via MP Config `mp.metrics.tags`, but it doesn't work... I probably do something wrong.

[2022-11-29 07:34] jmartisk opened #1644 "Infinite recursion in the tck runner module"
When I run the TCK runner module, I get a stack overflow from something that looks like infinite recursion while scanning a generic type referencing itself in a type parameter. No idea why this only breaks the runner, but TCKs are passing.